<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" (click)="isEdit=false" *ngIf="role=='master' || role=='subuser'">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Company
                    profile</a>
            </li>
            <li class="nav-item" (click)="isEdit=false" *ngIf="role=='master' || role=='subuser'">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Contact person
                    profile</a>
            </li>
            <li class="nav-item" *ngIf="role=='master'">
                <a class="nav-link" data-toggle="tab" href="#plan" role="tab" aria-controls="messages">Your plan</a>
            </li>
            <li class="nav-item" *ngIf="role=='master'">
                <a class="nav-link" data-toggle="tab" href="#createUser" role="tab" aria-controls="messages"
                    (click)="getSubUsers()">Sub users</a>
            </li>
            <li class="nav-item" *ngIf="role=='master'">
                <a class="nav-link" data-toggle="tab" href="#activityLog" role="tab" aria-controls="messages"
                    (click)="setPage(1)">Activity logs</a>
            </li>
     
            <li class="nav-item" *ngIf="role=='master' || role=='subuser'">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Change
                    password</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        <div class="tab-content">

            <div class="tab-pane active" id="home" role="tabpanel">
                <div class="col-sm-12 shadow table-responsive" style="margin-bottom:5%">
                    <h2 class="heading1">Company Profile</h2>
                    <table class="table" *ngIf="companyProfileData">

                        <tr>
                            <th>Company Name</th>
                            <td><label>{{companyProfileData.name}}</label>

                            <td *ngIf="role=='master'">
                                <button class="btn btn-labeled btn-danger btn-sm btn-border" type="button"
                                    (click)="isEdit='true'">
                                    <span class="btn-label"><i class="fas fa-edit"></i></span>Edit</button>
                            </td>

                            <td *ngIf="isEdit">
                                <button class="btn btn-sm btn-info" (click)="isEdit=false">Cancel</button>
                            </td>
                        </tr>

                        <tr>
                            <th>Account Number</th>
                            <td><label>{{companyProfileData.accountId}}</label>
                                <!-- <input
                                    type="text" [(ngModel)]="companyProfileData.accountId" class="form-control"
                                    *ngIf="isEdit"> -->
                            </td>
                        </tr>

                        <tr>
                            <th>Industry Type</th>
                            <td style="width:40%">
                                <select class="form-control" [(ngModel)]="companyProfileData.industryType"
                                    [disabled]="!isEdit" (change)="changeIndustryType($event)">
                                    <option *ngFor="let ind of industries" value="{{ind.Description}}">
                                        {{ind.Description}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>
                                <select class="form-control pad" [(ngModel)]="companyProfileData.country"
                                    [disabled]="!isEdit" (change)="getCountryCode($event)">
                                    <option *ngFor="let c of countriesList" value="{{c.alpha2Code}}">{{c.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>
                                <select class="form-control" [(ngModel)]="companyProfileData.state" [disabled]="!isEdit"
                                    (change)="getStateName($event)">
                                    <option *ngFor="let st of states" value="{{st}}">
                                        {{st}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td><label *ngIf="!isEdit">{{companyProfileData.city}}</label><input type="text"
                                    [(ngModel)]="companyProfileData.city" class="form-control" *ngIf="isEdit"></td>
                        </tr>
                        <tr>
                            <th>Pin/Zip Code</th>
                            <td><label *ngIf="!isEdit">{{companyProfileData.pinCode}}</label><input type="text"
                                    [(ngModel)]="companyProfileData.pinCode" class="form-control" *ngIf="isEdit"></td>
                        </tr>
                        <tr>
                            <th>Landline Number</th>
                            <td><label *ngIf="!isEdit">{{companyProfileData.landlineNo}}</label><input type="text"
                                    [(ngModel)]="companyProfileData.landlineNo" class="form-control" *ngIf="isEdit"
                                    (keypress)="numberOnly($event)"></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td><label *ngIf="!isEdit">{{companyProfileData.companyAddress}}</label><textarea rows="2"
                                    cols="10" [(ngModel)]="companyProfileData.companyAddress" class="form-control"
                                    *ngIf="isEdit"></textarea></td>
                        </tr>

                        <tr>
                            <th>Company Logo</th>
                            <td style="width:40%" *ngIf="logo!=' ' && !isEdit">
                                <img *ngIf="logo!=' '" src="{{logo}}" style="width:10%">
                            </td>
                            <td *ngIf="isEdit" style="width:40%">
                                <input type="file" class="form-control" (change)="changeListener($event)"
                                    id="uploadCaptureInputFile">
                            </td>
                        </tr>
                    </table>

                    <div class="row" *ngIf="isEdit">
                        <div class="col-sm-12" style="margin:auto;text-align: right">
                            <button class="border-0 btn-transition btn btn-shadow btn-outline-danger"
                                style="margin:auto" (click)="updateProfile('companyprofile')">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel">
                <div class="col-sm-12 shadow">
                    <h2 class="heading1">Contact Person Profile</h2>
                    <table class="table" *ngIf="companyProfileData">
                        <tr>
                            <th>Contact Person Name</th>
                            <td>
                                <label *ngIf="!isEdit">{{contactPersonProile.cpName}}</label>
                                <input type="text" class="form-control" *ngIf="isEdit"
                                    [(ngModel)]="contactPersonProile.cpName">
                            </td>

                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>
                                <label *ngIf="!isEdit">{{contactPersonProile.cpMobileNo}}</label>
                                <input type="text" class="form-control" *ngIf="isEdit"
                                    [(ngModel)]="contactPersonProile.cpMobileNo" (keypress)="numberOnly($event)">
                            </td>
                        </tr>
                        <tr>
                            <th>Email Of Contact Person</th>
                            <td>
                                <label *ngIf="!isEdit">{{contactPersonProile.cpEmailId}}</label>
                                <input type="text" class="form-control" *ngIf="isEdit"
                                    [(ngModel)]="contactPersonProile.cpEmailId">
                            </td>
                        </tr>
                        <tr>
                            <th>Designation Of Contact Person</th>
                            <td>
                                <label *ngIf="!isEdit">{{contactPersonProile.cpDesignation}}</label>
                                <input type="text" class="form-control" *ngIf="isEdit"
                                    [(ngModel)]="contactPersonProile.cpDesignation">
                            </td>
                        </tr>

                        <tr>
                            <th>Profile Pic</th>
                            <td style="width:40%" *ngIf="contactPersonProile.cpProfilePic!='' && !isEdit">
                                <img *ngIf="contactPersonProile.cpProfilePic!=''"
                                    src="{{contactPersonProile.cpProfilePic}}" style="width:30%">
                            </td>
                            <td *ngIf="isEdit" style="width:20%">
                                <input type="file" class="form-control" id="uploadCaptureInputFile"
                                    (change)="changeListener($event)">
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="role=='master'">
                                <button class="btn btn-labeled btn-danger btn-sm btn-border" type="button"
                                    (click)="isEdit='true'" *ngIf="!isEdit">
                                    <span class="btn-label"><i class="fas fa-edit"></i></span>Edit</button>

                                    <button *ngIf="isEdit" class="btn btn-sm btn-info" (click)="isEdit=false">Cancel</button>
                            </td>
                            <td >
                            </td>
                        </tr>

                    </table>
                    <div class="row" *ngIf="isEdit">
                        <div class="col-sm-12" style="margin:auto;text-align: right">
                            <button class="border-0 btn-transition btn btn-shadow btn-outline-danger"
                                style="margin:auto" (click)="updateProfile('contactperson')">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="messages" role="tabpanel">
                <div class="col-sm-12 shadow">
                    <h2 class="heading1">Change Password</h2>
                    <table class="table" style="width:50%">
                        <tr>
                            <th>Old Password</th>
                            <td><input type="password" class="form-control" [(ngModel)]="oldPass">
                            </td>
                        </tr>
                        <tr>
                            <th>New Password</th>
                            <td><input type="password" class="form-control" [(ngModel)]="newPass">
                            </td>
                        </tr>
                        <tr>
                            <th>Confirm Password</th>
                            <td><input type="password" class="form-control" [(ngModel)]="confirmPass"></td>
                        </tr>
                    </table>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <button class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-danger"
                                (click)="changePassword()">Change Password</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <b>Disclaimer</b>: “Once you change your current password, a new password will be generated. You’re requested to memorize your new password. Your old password will be permanently deleted and cannot be retrieved under any circumstances. For more information, please write to us at <a href="info@mirrorsize.com">info@mirrorsize.com</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="createUser" role="tabpanel">
                <div class="col-sm-12 shadow">
                    <h2 class="heading1">List of Users</h2>
                    <div class="row">
                        <div class="col-md-12 mb-2" style="text-align: right">
                            <button class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-danger"
                                data-toggle="modal" data-target="#addUser" (click)="addClass()"><i
                                    class="fas fa-plus-circle"></i>&nbsp;&nbsp;Create Sub User</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead style="background: #eee">
                            <tr>
                                <th style="width:2%" class="text-center">S.No</th>
                                <th class="text-center" style="width:20%">Name</th>
                                <th class="text-center" style="width:20%">Email</th>
                                <th class="text-center" style="width:20%">Designation</th>
                                <th class="text-center" style="width:10%">Role</th>
                                <th class="text-center" style="width:40%">Created At</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let us of subUsres;let i=index">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center">{{us.name}}</td>
                                <td class="text-center">{{us.emailId}}</td>
                                <td class="text-center">{{us.designation}}</td>
                                <td class="text-center">{{us.role}}</td>
                                <td class="text-center">{{us.createdDt}}</td>
                                <td class="text-center">
                                    <button class="mb-2 mr-2  btn-sm btn btn-danger" *ngIf="us.status=='Inactive'"
                                        (click)="updateAccountStatus(us.emailId,'enable')">{{us.status}}</button>
                                    <button class="mb-2 mr-2 btn-sm btn btn-success" *ngIf="us.status=='Active'"
                                        (click)="updateAccountStatus(us.emailId,'disable')">{{us.status}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="tab-pane" id="activityLog" role="tabpanel">
                <div class="col-sm-12 shadow">
                    <h2 class="heading1">Activity Logs</h2>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <nav class="pagination-rounded">
                                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                <a (click)="setPage(1)">First</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                            </li>
                                            <li *ngFor="let page of pager.pages"
                                                [ngClass]="{active:pager.currentPage === page}">
                                                <a (click)="setPage(page)">{{page}}</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                            </li>
                                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                <a (click)="setPage(pager.totalPages)">Last</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-sm-3 mt-4">
                                    <p>Total Record found : <span class="badge1">{{count}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead style="background: #eee">
                                    <tr>
                                        <th style="width:10px;" class="text-center">S.No</th>
                                        <th class="text-center">Email Id</th>
                                        <th class="text-center" style="width:30px">Role</th>
                                        <th class="text-center">Date Time</th>
                                        <th class="text-center">IP Address</th>
                                        <th class="text-center">Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of activityLogs;let i=index">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{d.emailId}}</td>
                                        <td class="text-center">{{d.role}}</td>
                                        <td class="text-center">{{d.datetimestamp}}</td>
                                        <td class="text-center">{{d.ipAddress}}</td>
                                        <td class="text-center">{{d.activity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="plan" role="tabpanel">
                <div class="col-sm-12 shadow">
                    <h2 class="heading1">Your Plan Details</h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="display: flex !important">

                        <li class="nav-item" style="width:25%;text-align: center" *ngIf="planDetailGM">
                            <a (click)="selectProduct('gm')" [ngClass]="(pGM)?'nav-link active':'nav-link'"
                                id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                aria-controls="pills-home" aria-selected="true">GETMEASURED</a>
                        </li>

                        <li (click)="selectProduct('s2f')" class="nav-item" *ngIf="planDetailS2F"
                            style="width:25%;text-align: center">
                            <a [ngClass]="(pS2F)?'nav-link active':'nav-link'" id="pills-profile-tab" data-toggle="pill"
                                href="#pills-profile" role="tab" aria-controls="pills-profile"
                                aria-selected="false">SIZE2FIT</a>
                        </li>

                        <li (click)="selectProduct('ms')" class="nav-item" *ngIf="planDetailMS"
                            style="width:25%;text-align: center">
                            <a [ngClass]="(pMS)?'nav-link active':'nav-link'" id="pills-mysize-tab" data-toggle="pill"
                                href="#pills-mysize" role="tab" aria-controls="pills-mysize"
                                aria-selected="false">MYSIZE</a>
                        </li>

                        <li (click)="selectProduct('qs')" class="nav-item" *ngIf="planDetailQS"
                            style="width:25%;text-align: center">
                            <a [ngClass]="(pQS)?'nav-link active':'nav-link'" id="pills-quicksize-tab"
                                data-toggle="pill" href="#pills-quicksize" role="tab" aria-controls="pills-quicksize"
                                aria-selected="false">QUICKSIZE</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">

                        <div id="pills-home" role="tabpanel"
                            [ngClass]="(pGM)?'tab-pane fade show active':'tab-pane fade show'"
                            aria-labelledby="pills-home-tab">
                            <table class="table table-bordered" *ngIf="pGM">

                                <tr>
                                    <th>Company Name</th>
                                    <td>{{companyProfileData.name}}</td>
                                </tr>

                                <tr>
                                    <th>Plan Period</th>
                                    <td>{{planDetailGM.planPeriod}}</td>
                                </tr>

                                <tr>
                                    <th>Plan Type</th>
                                    <td>{{planDetailGM.planType}}</td>
                                </tr>

                                <tr>
                                    <th>Product Status</th>
                                    <td>{{planDetailGM.productStatus}}</td>
                                </tr>

                                <tr>
                                    <th>Remaining Days</th>
                                    <td>{{planDetailGM.remainingDays}}</td>
                                </tr>
                                <tr>
                                    <th>Signed agreement</th>
                                    <td>
                                        <a href="{{planDetailGM.agreementPdfUrl}}" style="cursor: pointer;">Download</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div id="pills-profile" role="tabpanel"
                            [ngClass]="(pS2F)?'tab-pane fade show active':'tab-pane fade show'"
                            aria-labelledby="pills-profile-tab">
                            <table class="table table-bordered" *ngIf="pS2F">

                                <tr>
                                    <th>Company Name</th>
                                    <td>{{companyProfileData.name}}</td>
                                </tr>

                                <tr>
                                    <th>Plan Period</th>
                                    <td>{{planDetailS2F.planPeriod}}</td>
                                </tr>
                                <tr>
                                    <th>Plan Type</th>
                                    <td>{{planDetailS2F.planType}}</td>
                                </tr>
                                <tr>
                                    <th>Product Status</th>
                                    <td>{{planDetailS2F.productStatus}}</td>
                                </tr>
                                <tr>
                                    <th>Remaining Days</th>
                                    <td>{{planDetailS2F.remainingDays}}</td>
                                </tr>
                                <tr>
                                    <th>Signed agreement</th>
                                    <td>
                                        <a href="{{planDetailGM.agreementPdfUrl}}" style="cursor: pointer !important;">Download</a>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div id="pills-mysize" role="tabpanel"
                            [ngClass]="(pMS)?'tab-pane fade show active':'tab-pane fade show'"
                            aria-labelledby="pills-mysize-tab">
                            <table class="table table-bordered" *ngIf="pMS">

                                <tr>
                                    <th>Company Name</th>
                                    <td>{{companyProfileData.name}}</td>
                                </tr>

                                <tr>
                                    <th>Plan Period</th>
                                    <td>{{planDetailMS.planPeriod}}</td>
                                </tr>
                                <tr>
                                    <th>Plan Type</th>
                                    <td>{{planDetailMS.planType}}</td>
                                </tr>
                                <tr>
                                    <th>Product Status</th>
                                    <td>{{planDetailMS.productStatus}}</td>
                                </tr>
                                <tr>
                                    <th>Remaining Days</th>
                                    <td>{{planDetailMS.remainingDays}}</td>
                                </tr>
                                <tr>
                                    <th>Signed agreement</th>
                                    <td>
                                        <a href="{{planDetailGM.agreementPdfUrl}}" style="cursor: pointer !important;">Download</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div id="pills-quicksize" role="tabpanel"
                            [ngClass]="(pQS)?'tab-pane fade show active':'tab-pane fade show'"
                            aria-labelledby="pills-quicksize-tab">
                            <table class="table table-bordered" *ngIf="pQS">

                                <tr>
                                    <th>Company Name</th>
                                    <td>{{companyProfileData.name}}</td>
                                </tr>

                                <tr>
                                    <th>Plan Period</th>
                                    <td>{{planDetailQS.planPeriod}}</td>
                                </tr>
                                <tr>
                                    <th>Plan Type</th>
                                    <td>{{planDetailQS.planType}}</td>
                                </tr>
                                <tr>
                                    <th>Product Status</th>
                                    <td>{{planDetailQS.productStatus}}</td>
                                </tr>
                                <tr>
                                    <th>Remaining Days</th>
                                    <td>{{planDetailQS.remainingDays}}</td>
                                </tr>
                                <tr>
                                    <th>Signed agreement</th>
                                    <td>
                                        <a href="{{planDetailGM.agreementPdfUrl}}" style="cursor: pointer !important;">Download</a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" style="overflow:auto">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="margin-top:0px;">Add Sub User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <table class="table table-hover" style="width:100%">
                        <tr>
                            <th>User Name</th>
                            <td><input type="text" class="form-control" [(ngModel)]="userName">
                            </td>
                        </tr>
                        <tr>
                            <th>Email Id</th>
                            <td>
                                <input type="email" class="form-control" [(ngModel)]="userEmail"
                                    (keyup)="ValidateEmail($event)">
                                <div *ngIf="!checkEmail" style="color:red;font-size:12px;">Not a valid email</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="password" class="form-control" [(ngModel)]="userPass">
                            </td>
                        </tr>

                        <tr>
                            <th>Designation</th>
                            <td><input type="text" class="form-control" [(ngModel)]="designation">
                            </td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>
                                <select class="form-control" [(ngModel)]="subUser">
                                    <option value="subuser">Sub User</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <div class="row">
                        <div class="col-md-4" style="margin:auto">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" (click)="createSubUser();closeModal()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>