<div class="row">
    <div class="col-md-12" style="font-size:15px;">
        <div align="center">
            <img src="https://www.24hoursprint.com/wp-content/uploads/2017/04/nosotros8.jpg"
                    style="background-repeat: no-repeat; background-size: auto; background-size: 100%"
                    class="img-fluid" height="300px;">
        </div>
        <div class="col-md-12">
            <br>
            <!-- <br>

            <h4 class="text-center" style="color:#021d30;">Privacy policy</h4>
            <hr> -->

            <p>Mirrorsize is committed to protecting your privacy and we use different
                technologies and
                process designed to secure your information. Anybody can subscribe and
                unsubscribe from
                our mailing list at any time hassle free. </p>
            <p>Mirrorsize has developed a proprietary technology to get your body measurement
                with the
                help of smartphone, tablet and laptop and based on your selections, Mirrorsize
                proprietary technology enables you to visualize how you will look based on your
                selections and your body measurement. We are operated by Mirrorsize US Inc., and
                its
                subsidiaries and companies under the same management (herein "Mirrorsize") and
                throughout this Privacy Policy we will use Mirrorsize, us or we to refer to
                Mirrorsize
                and services collectively. Capitalized terms that are not defined in this
                Privacy Policy
                have the meaning given them in our <a routerLink="/terms-and-conditions">Terms
                    and
                    Conditions</a>. This Privacy Policy explains how information about you is
                collected,
                used and disclosed by Mirrorsize when you purchase, download, install, register
                with,
                access or use our websites, mobile applications and other online products and
                services
                (collectively, the "Services") or when you otherwise interact with us.</p>
            <p>We request you to please read this policy carefully to understand our policies
                and
                practices regarding your information and how we will treat it. If you do not
                agree with
                our policies and practices, your choice is not to use our Services. By accessing
                or
                using any of our Services, you agree to this privacy policy.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Collection of Information</b></p>
            <p>We collect personal information directly from you. We receive and store
                information you
                enter on our Services, when you call or email or communicate with us through
                social
                media (Twitter, Facebook, et al.), or participate in events or other promotions.
                Part of
                our Services involves collecting, storing, processing and otherwise using images
                or
                videos of your body in order to calculate various measurements relating to
                certain
                features of your body and to use your preferences for style and others
                information to
                drape apparels on your body.. You provide the images or videos of your body that
                we use
                when you take your photographs or videos as requested and described within our
                Services;
                you control how and when the photographs or videos are taken. You agree that any
                photograph or video you provide shall not be pornographic, lewd or otherwise
                likely
                offensive to members of Mirrorsize and we reserve the right to refuse access to
                our
                Services to any user who provides such photographs or videos. We automatically
                delete
                photographs and videos related to measurements once they are processed unless
                you permit
                us to store that in our database on your behalf. Please see the next section for
                more
                information.</p>
            <p>Examples of personal information that we collect include sizing information, body
                portfolio image, name, email address, credit card number, purchase and order
                information, personal preferences, and responses to survey information.</p>

            <p>Usage and Log Information: When you use our Services, we collection and log
                information
                about your use of our Services, including your browser type and language, access
                times,
                pages viewed, your IP address and location.</p>
            <p><font style="font-size:18px;"><b>Device Information:</b></font> We may collect
                information about
                the computer or device you use to access our Services, including the hardware
                model,
                operating system and version, MAC address, unique device identifier, phone
                number,
                International Mobile Equipment Identity ("IMEI") and mobile network information.
                In
                addition, the Services may access your device's native phonebook, with your
                consent, to
                facilitate your use of certain features of the Services.</p>
            <p>Information Collected by Cookies and Other Tracking Technologies: Please refer
                our
                cookies policy</p>
            <p style="font-size:18px; margin:2% 0%"><b>Links</b> </p>
            <p>This web site contains links to other sites. Please be aware that we are not
                responsible
                for the content or privacy practices of such other sites. We encourage our users
                to be
                aware when they leave our site and to read the privacy statements of any other
                site that
                collects personally identifiable information. We may also obtain information
                from other
                sources and combine that with information we collect through our Services.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Deletion of Measurement Photographs and
                Videos</b></p>
            <p>Mirrorsize take yours privacy very seriously and once you login, you will have an
                opportunity to blurry your face. After we capture your photographs and / or
                videos for
                measurement and draping, we run our proprietary algorithm to display results.
                You then
                have an option to select whether you want to retain your videos, photographs in
                our
                database or you may choose to delete that forever. Once you choose to delete,
                your
                photographs and videos are permanently deleted from our servers.</p>

            <p>Mirrorsize will make best efforts and have developed software to delete
                photograph and
                videos in a timely manner, however we cannot guarantee that such deletion always
                occurs
                with a particular timeframe. Further, there may be ways and means to retrieve
                and access
                photographs and videos while still in temporary stage, during the processing
                stage or
                forensically, even after they are permanently deleted from our servers.</p>
            <p>Mirrorsize secures your personal information from unauthorized access, use or
                disclosure.
                When personal information's are transmitted to other websites, it is protected
                through
                the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
                Mirrorsize put
                their best effort to ensure that none of your personal information is accessed
                for
                unauthorized purposes.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Use of Information</b></p>
            <p>We do not share your personal information with any third party, except as
                described in
                this Privacy Policy.</p>
            <p>Mirrorsize collects and uses your personal information to provide, maintain and
                improve
                our Services and deliver the services you have requested, including processing
                transactions. Mirrorsize may also use your personally identifiable information
                to inform
                you of other products or services available from Mirrorsize and its affiliates,
                store
                information about your preferences, allowing us to customize our Services
                according to
                your individual interests, speed up your searches, recognize you when you return
                to our
                website, estimate our audience size and usage patterns. Mirrorsize may also
                contact you
                via surveys to conduct research about your opinion of current services or of
                potential
                new services that may be offered.</p>
            <p>We may disclose your personal information to our service providers and other
                third
                parties we use to support our business However, at all times we restrict who has
                access
                to your personal information and take great care to protect your privacy in all
                regards.</p>
            <p>We may use information you submit in a public forum (e.g. a blog, chat room, or
                social
                network) to personalize your experience. You are responsible for the information
                you
                choose to submit in public forums.</p>

            <p>Mirrorsize may disclose your personal information, without notice, if required to
                do so
                by law or in the good faith belief that such action is necessary to: (a) conform
                to the
                edicts of the law or comply with legal process served on Mirrorsize or the
                Services,
                including respond to any government or regulatory request; (b) protect and
                defend the
                rights or property of Mirrorsize, including enforcing or applying our <a
                        routerLink="/terms-and-conditions">terms of use</a> and other
                agreements,
                including for billing and collection purposes; and, (c) if we believe disclosure
                is
                necessary or appropriate to protect the rights, property, or safety of
                Mirrorsize, our
                customers or others. We may share information about you in connection with, or
                during
                negotiations of, any reorganization, dissolution, restructuring, merger, sale of
                company
                assets, financing or acquisition of all or a portion of our business to a buyer
                or other
                successor, whether as a going concern or as part of bankruptcy, liquidation or
                similar
                proceeding, in which personal information held by Mirrorsize about the users of
                our
                Services is among the assets transferred. </p>
            <p>We may also share aggregated or de-identified information, which cannot
                reasonably be
                used to identify you. This could include aggregated, anonymous measurement, size
                and
                shape information about our users and their purchases. The anonymous aggregated
                data
                that we may collect could be used in a variety of ways, including but not
                limited to,
                improving the performance of our Services and helping us understand more about
                the
                relationships between body shapes, sizes and style preferences. We may also, in
                the
                future, share such aggregated, anonymous information with third-party partners.
                By using
                our services, you are consenting to the collection and use of such anonymous
                aggregated
                data.</p>
            <p>We may share the personal information we collect with our affiliates, business
                partners,
                ad network vendors and their participants, and other third parties for the
                purposes
                described in this Policy, including communicating with you about products and
                services,
                offers, events and promotions that we believe may be of interest to you.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Security of Your Personal Information</b></p>
            <p>Personal information within user accounts, including purchase history, is
                protected by a
                password for your privacy and security. The Company employs numerous
                administrative,
                technical and physical safeguards designed to assist in protecting the personal
                information we collect against accidental, unlawful or unauthorized destruction,
                loss,
                alteration, access, disclosure or use. We use industry standard firewalls and
                encryption, such as Secure Sockets Layer (SSL) encryption, to protect sensitive
                billing
                information during the authorization process. When you enter your credit card
                information during our checkout and billing process, although we store that
                information
                for ease of future use, it is encrypted for your privacy.</p>
            <p>We further suggest that all users safeguard their own account username and
                password and
                not share that information with anyone. If users are concerned about misuse of
                their
                identity within the Services, or are using a shared device, users should make an
                effort
                to log out as often as necessary. We will never ask for your password via email
                and
                users should report any such inquiry.</p>
            <p>Note. Mirrorsize meets or exceeds the standards generally accepted by the
                industry within
                which it operates in regards to the protection of personal information. However,
                no
                electronic transmission of information can be executed with absolute certainty
                that a
                failure or breach will not occur. Company cannot guarantee that the security
                measures in
                place to safeguard personal information will never be defeated or fail, or that
                those
                measures will always be sufficient or effective.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Minor Children</b></p>
            <p> Our Services are not intended minor (please refer the age limit as per the laws
                of your
                respective country) children. No minor children may provide any information to
                or on our
                Services. We do not knowingly or intentionally collect personal information from
                minor
                children. If you are a minor, do not use or provide any information on our
                website and
                other Services. If you believe we might have any information from or about minor
                children please contact us at Mirrorsize<em>info@mirrorsize.com.</em></p>

            <p>We at Mirrorsize encourages all parents and guardians to guard your children's
                privacy
                and ensure that minor children's use personal information's responsibly while
                using the
                internet. In addition, users of our Service shouldn't be a minor or, (b) if
                younger, be
                with the supervision of a parent or guardian.</p>
            <p style="font-size:18px; margin:2% 0%"><b>Opt-Out and Unsubscribe</b></p>
            <p>We respect your privacy and give you an opportunity to opt-out of receiving
                announcements
                of certain information. Users may opt-out of receiving any or all communications
                from
                Mirrorsize by contacting us by email at unsubscribe@mirrorsize.com.</p>
            <p style="font-size:18px; margin:2% 0%"><b>YOUR CALIFORNIA PRIVACY RIGHTS</b></p>

            <p>California Civil Code Section 1798.83 permits users of our Services that are
                California
                residents to request certain information regarding our disclosure of personal
                information to third parties for their direct marketing purposes. To make such a
                request, please send an email to info@mirrorsize.com or write us at: Mirrorsize
                US Inc.,
                626 White Pines Road, Franklin Lakes, NJ 07417, United States of America</p>

            <p style="font-size:18px; margin:2% 0%"><b>Changes to PRIVACY POLICY</b></p>

            <p>Mirrorsize privacy policy may change from time to time. We highly recommend you
                to
                regularly check our policy for updates for your continued use of our Services
                after we
                make changes is deemed to be acceptance of those changes to our policy. </p>

        </div>
    </div>
</div>

