<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="row">
  
  <div class="col-sm-12 mb-3">
    <button class="mb-2 mr-2 btn btn-danger" style="letter-spacing: normal;text-transform: inherit;float:right" data-target="#createTicket" data-toggle="modal" (click)="addClass()">Raise Ticket<span class="badge badge-pill badge-light"><i class="fas fa-ticket-alt"></i></span></button>
  </div>

  <div class="col-sm-12">
      <nav class="pagination-rounded">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </nav>
    
  </div>
  <div class="col-md-12">
      <div class="main-card mb-3 card">
          <div class="table-responsive">
              <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                  <thead>
                  <tr>
                      <th class="text-center">S.No</th>
                      <th class="text-center">Ticket Id</th>
                      <th class="text-center">Subject</th>
                      <th class="text-center">Description</th>
                      <th class="text-center">Date Time</th>
                      <th class="text-center">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of ticketsData;let i=index">
                      <td class="text-center">{{i+1}}</td>
                      <td class="text-center">{{data.ticketId}}</td>
                      <td class="text-center">{{data.subject}}</td>
                      <td class="text-center" style="width:20%">
                      <div style="width:50%;margin:auto">
                        {{data.content}}
                      </div>
                      </td>
                      <td class="text-center">{{data.timeStamp}}</td>
                      <td class="text-center" style="width:11%">
                        <select class="form-control" [ngClass]="{'gr':data.status=='RESOLVED','rd':data.status=='UNRESOLVED'}" [(ngModel)]="data.status" style="width:100%;margin:auto" (change)="getStatus($event,data.ticketId)">
                          <option value="RESOLVED" style="color:green">Resolved</option>
                          <option value="UNRESOLVED" style="color:red">Un Resolved</option>
                          <option value="PENDING" disabled>Pending</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
        
      </div>
  </div>
</div>


<div class="main-card mb-3 card">
    <div class="card-header">You can also contact on below email or phone number</div>
    <div class="card-body">
        <p class="mb-0 font-weight-bold">Email Address</p>
        <p class="mb-0"><a >info@mirrorsize.com</a></p>

        <p class="mb-0 font-weight-bold">Phone number</p>
        <p class="mb-4"><a >+91-83830 69918, +1-732 369 6885, +91-(011)-26275493</a></p>
</div>


<div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Raise ticket</h5>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">×</span>
          </button>
        </div>
       
        <div class="modal-body">
            <div class="row">
               <div class="col-sm-12 mb-2">
                  <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject">
                </div> 
                <div class="col-sm-12 mb-2">
                    <textarea type="text" rows="8" cols="5" class="form-control" [(ngModel)]="content" placeholder="Description"></textarea>
                  </div> 
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="createTicket();closeModal()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
</div>



