<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="row" *ngIf="show">
    <div class="col-sm-3">  
        <div class="main-card mb-3 card">
            <div class="card-header">Add Apparel</div>
            <div class="card-body">
              <form [formGroup]="apparelForm">
                <div class="position-relative form-group mb-3">
                    <label for="exampleEmail" class="">Brand Name</label>
                    <input placeholder="Brand Name" type="text" class="form-control" formControlName="brandName">
                </div>  

                <div class="position-relative form-group mb-3">
                    <label for="exampleEmail" class="">Select Country Size</label>
                    <select class="form-control" formControlName="country" (change)="getCountry($event)">
                        <option value="0">Please Select</option>
                        <option *ngFor="let sinCountry of country ">{{sinCountry}}</option>
                    </select>
                </div> 

                <div class="position-relative form-group mb-3" *ngIf="isOther">
                    <label for="exampleEmail" class="">Country Name</label>
                    <input placeholder="Country Name" type="text" class="form-control" formControlName="countryName">
                </div> 

               
                    <div class="position-relative form-group mb-3">
                        <label for="exampleEmail" class="">Gender</label>
                        <div>
                            <div class="custom-radio custom-control custom-control-inline">
                                <input type="radio" id="exampleCustomInline" class="custom-control-input" name="gender" value="male" formControlName="gender">
                                <label class="custom-control-label" for="exampleCustomInline">Male</label>
                            </div>
                            <div class="custom-radio custom-control custom-control-inline">
                                <input type="radio" id="exampleCustomInline2" class="custom-control-input" name="gender" value="female" formControlName="gender">
                                <label class="custom-control-label" for="exampleCustomInline2">Female</label>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative form-group mb-3">
                        <label for="exampleEmail" class="">Enter Apparel Name</label>
                        <input placeholder="Apparel Name" type="text" class="form-control" formControlName="apparelCategory">
                    </div>  

                    <div class="position-relative form-group mb-3">
                        <button class="mb-2 mr-2 btn btn-primary btn-bg btn-block" style="float:right" (click)="submit()">Next</button>
                    </div>

                    </form>
            </div>
        </div>
    </div>

    <div class="col-sm-9" *ngIf="dummyData?.length>0">
        <div class="main-card mb-3 card">
            <div class="card-header">Please select the measurement point of apparel from below
                <button class="mb-2 mr-2 btn btn-primary btn-bg" style="float:right;margin-left:470px"  (click)="addApparel(routeParam)">Submit</button>
            </div>
            <div class="card-body">              
                <div class="position-relative form-group mb-4">
                    <div class="row">
                        <form  style="width:100%;margin:auto;">
                            <div class="container-fluid">        
                                <div class="row mt-4">        
                                    <div *ngFor="let app of dummyData; let k = index"
                                        style="width:33%;margin-bottom:2%;display: flex" class="mb-3">
        
                                        <div style="width:80%">
        
                                            <!-- <img src="https://s3.ap-south-1.amazonaws.com/commonms/{{gender}}_large_icon/{{app.key | lowercase}}.png"
                                                alt="Image To Zoom" class="block__pic" id="blockPik" (mouseover)="showModal()"> -->
        
                                                <img src="https://s3.ap-south-1.amazonaws.com/commonms/{{gender}}_large_icon/{{app.key | lowercase}}.png"
                                                alt="Image To Zoom" class="block__pic" id="blockPik">
                                        </div>
                                        <div style="width:100%">
                                            <label class="cont"
                                                style="margin-top:25px;text-align:left;color:#021d30">
                                                {{ app.displayName }}
                                                <input type="checkbox" class="apparelTypes" name="types[]"
                                                    (click)="onChecked(app.key,app.displayName,$event)" ngModel>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </form>
                    </div>    
                </div>
                <button class="mb-2 mr-2 btn btn-primary btn-bg" style="float:right" (click)="addApparel(routeParam)">Submit</button>
            </div>
        </div>

    </div>
</div>

<div class="row" *ngIf="addsize">
    <div class="col-sm-5">
        <div class="main-card mb-3 card">
            <div class="card-header">Size Chart Upload</div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <div class="position-relative form-group mb-4">
                            <label for="exampleEmail" class="mb-3">Select Size Chart Type</label>
                                <select class="form-control" (change)="getType($event)" [(ngModel)]="selectedType">
                                    <option value="body-fixed">Body and Fixed</option>
                                    <option value="body-range">Body and Range</option>
                                    <option value="ready-range">Ready and Range</option>
                                    <option value="ready-fixed">Ready and Fixed</option>
                                </select>
                        </div> 
                    </div>

                
                    <div class="col-sm-4">
                        <div class="position-relative form-group mb-4">
                            <label class="mb-3">Add Size</label>
                            <input type="text" class="form-control" [(ngModel)]="size">
                        </div>    
                    
                    </div>
                    <div class="col-sm-2 mt-2">
                        <div class="position-relative form-group mb-4">
                            <button class="mb-2 mr-2 btn btn-primary btn-bg" style="float:right;margin-top:2rem" (click)="addSize()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7 table-responsive">
        <table class="table table-bordered" id="TolrenceTable">
            <thead style="background:#eee">
                <tr>
                    <th class="text-center">Measurement Point</th>
                    <th class="text-center">Tolerence (in cm)</th>
                    <th class="text-center">Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of selectedItems;let i=index">
                    <td class="text-center">{{s.key | titlecase}}</td>
                    <td class="text-center"><input type="number" class="form-control"></td>
                    <td class="text-center">
                        <select class="form-control">
                            <option *ngFor="let s of selectedItems;let k=index" value="k+1">{{k+1}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  


<div class="row" *ngIf="isSizeChart">

    <div class="col-sm-12" *ngIf="isEdit">      
        <div class="main-card mb-3 card">
            <div class="card-header">Please select the measurement point of apparel from below</div>
            <div class="card-body">              
                <div class="position-relative form-group mb-4">
                    <div class="row">
                        <form  style="width:100%;margin:auto;">
                            <div class="container-fluid">        
                                <div class="row mt-4">        
                                    <div *ngFor="let app of dummyData; let k = index"
                                        style="width:33%;margin-bottom:2%;display: flex" class="mb-3">
        
                                        <div style="width:80%">
        
                                            <img src="https://s3.ap-south-1.amazonaws.com/commonms/{{gender}}_large_icon/{{app.key | lowercase}}.png"
                                                alt="Image To Zoom" class="block__pic" id="blockPik">
        
                                        </div>
                                        <div style="width:100%">
                                            <label class="cont"
                                                style="margin-top:25px;text-align:left;color:#021d30">
                                                {{ app.displayName }}
                                                <input type="checkbox" class="apparelTypes" name="types[]"
                                                    (click)="onCheck(app.key,app.displayName,$event)" [ngModel]="isSelected(app,i)" id="check{{k}}" [ngModelOptions]="{standalone: true}">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive col-sm-12 mb-5">
        <form>
            <table class="align-middle mb-0 table table-bordered" *ngIf="sizeArray?.length>0" id="myTable">
                <thead style="background: #eee">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Size</th>
                        <th class="text-center" *ngIf="selectedType=='body-fixed' || selectedType=='ready-fixed'">Enter Measurement Points (in cm)</th>
                        <th class="text-center" *ngIf="selectedType=='ready-range' || selectedType=='body-range'">Min Value (in cm)</th>
                        <th class="text-center" *ngIf="selectedType=='ready-range' || selectedType=='body-range'">Max Value (in cm)</th>
                        <th class="text-center" *ngIf="selectedType=='ready-fixed' || selectedType=='ready-range'">Allowances (in cm)</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of sizeArray;let i=index">
                        <td class="text-center" style="width:5%">{{i+1}}</td>
                        <td class="text-center">{{s.size}}</td>
                        <td class="text-center" *ngIf="selectedType=='body-fixed' || selectedType=='ready-fixed'" id="td1">
                            <div  class="mb-2 mr-2 alignment"  *ngFor="let ss of s.points">
                                {{ss.key | titlecase}}
                                <input type="text" class="form-control" placeholder="{{ss.key}}" (keypress)="numberOnly($event)">
                            </div>
                        </td>
                        <td class="text-center" *ngIf="selectedType=='ready-range' || selectedType=='body-range'" id="td2">
                            <div  class="mb-2 mr-2 alignment"  *ngFor="let ss of s.points;let k=index;">
                                {{ss.key | titlecase}}
                                <input type="text" class="form-control" placeholder="{{ss.key}}" id="ab{{k+1}}" (keypress)="numberOnly($event)">
                            </div>
                        </td>
                        <td class="text-center" *ngIf="selectedType=='ready-range' || selectedType=='body-range'">
                            <div  class="mb-2 mr-2 alignment"  *ngFor="let ss of s.points;let k=index;"> 
                                {{ss.key | titlecase}}
                                <input type="text" class="form-control" placeholder="{{ss.key}}" id="ab2{{k+1}}" (keypress)="numberOnly($event)">
                            </div>
                        </td>
                        <td class="text-center" *ngIf="selectedType=='ready-fixed' || selectedType=='ready-range'">
                            <div class="mb-2 mr-2 alignment"  *ngFor="let ss of s.points;let k=index;">
                                {{ss.key | titlecase}}
                                <input type="text" class="form-control" placeholder="{{ss.key}}" id="bd{{k+1}}" (keypress)="numberOnly($event)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger mt-4" style="float:right" *ngIf="sizeArray?.length>0" (click)="getPoints()">Submit</button>
        </form>
    </div>
</div>