<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="container-fluid">
  <div class="row mb-5 mt-2">
    <div class="col-sm-2">
      <img src="assets/img/logo.png" style="width:80%">
    </div>

    <div class="col-sm-10 mb-5 text-center">
      <h3>Sample e-commerce website</h3>
      <hr />
      <div class="col-sm-2" style="margin:auto">
        <div class="row">
          <div class="col-sm-3 text-center">
            <i class="fa fa-male mficn" (click)="selectGender('m')" id="male"></i>
            <b>Male</b>
          </div>
          <div class="col-sm-3 text-center">
            <i class="fa fa-female mficn" id="female" (click)="selectGender('f')"></i>
            <b>Female</b>
          </div>
        </div>
      </div>
    </div>
    <!-- <label class="switch">
      <input type="checkbox" id="togBtn" (change)="selectGender($event)">
      <div class="slider round">
        <span class="on">Male</span>
        <span class="off">Female</span>
      </div>
    </label> -->

    <div class="col-sm-5 text-center" *ngIf="gender=='female'">
      <img src="assets/img/IMG_3941.jpg" style="width:60%">
    </div>
    <div class="col-sm-5 text-center" *ngIf="gender=='male'">
      <img src="assets/images/male.png" style="width:30%">
    </div>
    <div class="col-sm-7">
      <div class="row mb-3">
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5" *ngIf="gender=='male'">
              <div class="row">
                <div class="col-sm-12">
                  <label style="font-weight:bold">Select Size</label>
                </div>
              </div>
              <div class="sm-square" id='s1' (click)="selectSize('s1')">S</div>
              <div class="sm-square" id='s2' (click)="selectSize('s2')">M</div>
              <div class="sm-square" id='s3' (click)="selectSize('s3')">L</div>
              <div class="sm-square" id='s4' (click)="selectSize('s4')">XL</div>
              <div class="sm-square" id='s5' (click)="selectSize('s5')">XXL</div>
              <!-- <div class="sm-square" id='s6' (click)="selectSize('s6')">XXL</div> -->
            </div>

            <div class="col-sm-5" *ngIf="gender=='female'">
                <div class="row">
                  <div class="col-sm-12">
                    <label style="font-weight:bold">Select Size</label>
                  </div>
                </div>
                <div class="sm-square" id='s1' (click)="selectSize('s1')">XXS</div>
                <div class="sm-square" id='s2' (click)="selectSize('s2')">XS</div>
                <div class="sm-square" id='s3' (click)="selectSize('s3')">S</div>
                <div class="sm-square" id='s4' (click)="selectSize('s4')">M</div>
                <div class="sm-square" id='s4' (click)="selectSize('s4')">L</div>
                <div class="sm-square" id='s5' (click)="selectSize('s5')">XL</div>
                <div class="sm-square" id='s6' (click)="selectSize('s6')">XXL</div>
              </div>

            <div class="col-sm-2 text-center col-md-2">
              <div class="row">
                <div class="col-sm-12">
                  <img src="assets/img/QuickSize.png" class="imgcls">
                </div>
                <div class="col-sm-12">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Get My Size</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-sm-8" *ngIf="gender=='female'">

          <div class="row mb-3" *ngIf="sizes?.length>0">
            <div class="col-sm-12">
              <hr />
              <label style="font-weight:bold">Your recommended size is : " {{sizes[0].size}} "</label>
              <hr />
            </div>
          </div>


          <hr />
          <label style="font-weight:bold">Size Guide (Female Tops/Shirts) &nbsp;&nbsp;&nbsp;&nbsp; Fit type =
            Regular</label>
          <hr />
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
              <th>Sizes</th>
              <th>Over Bust (inch)</th>
              <th>Waist (inch)</th>
            </thead>
            <tbody>
              <tr>
                <td>XXS</td>
                <td>31.5</td>
                <td>22.8</td>
              </tr>

              <tr>
                <td>XS</td>
                <td>32.3</td>
                <td>24.4</td>

              </tr>
              <tr>
                <td>S</td>
                <td>33.9</td>
                <td>26</td>
              </tr>
              <tr>
                <td>M</td>
                <td>35.4</td>
                <td>27.6</td>
              </tr>
              <tr>
                <td>L</td>
                <td>37.8</td>
                <td>29.9</td>

              </tr>
              <tr>
                <td>XL</td>
                <td>40.2</td>
                <td>32.3</td>

              </tr>
              <tr>
                <td>XXL</td>
                <td>42.5</td>
                <td>34.6</td>
              </tr>
          </table>
        </div>

        <div class="col-sm-8" *ngIf="gender=='male'">
          <div class="row mb-3" *ngIf="sizes?.length>0">
            <div class="col-sm-12">
              <hr />
              <label style="font-weight:bold">Your recommended size is : " {{sizes[0].size}} "</label>
              <hr />
            </div>
          </div>


          <hr />
          <label style="font-weight:bold">Size Guide (Male Shirt)&nbsp;&nbsp;&nbsp;&nbsp; Fit type = Regular</label>
          <hr />
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
              <th>Sizes</th>
              <th>Chest (inch)</th>
              <th>Neck (inch)</th>
            </thead>
            <tbody>
              <tr>
                <td>S</td>
                <td>37.8</td>
                <td>15.4</td>
              </tr>
              <tr>
                <td>M</td>
                <td>39.8</td>
                <td>16.1</td>
              </tr>
              <tr>
                <td>L</td>
                <td>42.1</td>
                <td>16.9</td>
              </tr>
              <tr>
                <td>XL</td>
                <td>44.1</td>
                <td>17.7</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td>46.1</td>
                <td>18.1</td>
              </tr>
          </table>
        </div>

        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
          data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2" style="color:#fff">Enter details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff"><span
                    aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <form [formGroup]="mForm">
                  <div class="position-relative form-group">
                    <div class="row">
                      <div class="col-sm-2">
                        <label for="exampleEmail" class="">Height</label>
                      </div>
                      <div class="col-sm-6">
                        <label class="switch">
                          <input type="checkbox" id="togBtn" (change)="switchValue($event)">
                          <div class="slider round">
                            <span class="on">CM</span>
                            <span class="off">IN</span>
                          </div>
                        </label>
                      </div>

                      <div class="col-sm-12">
                        <input (keypress)="numberOnly($event)" *ngIf="isChecked" id="exampleEmail" placeholder="cm"
                          type="text" class="form-control" formControlName="heightInCM">
                      </div>
                      <div class="col-sm-6">
                        <input (keypress)="numberOnly($event)" *ngIf="!isChecked" id="exampleEmail" placeholder="feet"
                          type="text" class="form-control" formControlName="heightInFeet">
                      </div>
                      <div class="col-sm-6">
                        <input (keypress)="numberOnly($event)" *ngIf="!isChecked" id="exampleEmail" placeholder="inch"
                          type="text" class="form-control" formControlName="heightInInch">
                      </div>

                    </div>

                  </div>
                  <div class="position-relative form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="exampleEmail" class="">Weight <span style="color:#ccc" *ngIf="isWeight">(30kg -
                            150kg)</span><span style="color:#ccc" *ngIf="!isWeight">(66lbs - 330lbs)</span></label>
                      </div>
                      <div class="col-sm-6">
                        <label class="switch">
                          <input type="checkbox" id="togBtn" (change)="switchWeight($event)">
                          <div class="slider round">
                            <span class="on">KG</span>
                            <span class="off">LBS</span>
                          </div>
                        </label>
                      </div>


                      <div class="col-sm-12" *ngIf="isWeight">
                        <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="kg" type="text"
                          class="form-control" formControlName="weightInKg">
                      </div>

                      <div class="col-sm-12" *ngIf="!isWeight">
                        <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="pound" type="text"
                          class="form-control" formControlName="weightInPound">
                      </div>

                    </div>

                  </div>
                  <div class="position-relative form-group">
                    <label for="exampleEmail" class="">Age <span style="color:#ccc">(Min - 18, Max - 80)</span></label>
                    <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="Age" type="text"
                      class="form-control" formControlName="age">
                  </div>
                  <!-- <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Gender</label>
                        <div>
                            <div class="custom-radio custom-control custom-control-inline">
                              <input type="radio" name="gender" id="exampleCustomInline" class="custom-control-input" value="male" formControlName="gender">
                              <label class="custom-control-label" for="exampleCustomInline">Male</label></div>
                            <div class="custom-radio custom-control custom-control-inline">
                              <input type="radio" name="gender" id="exampleCustomInline2" class="custom-control-input" value="female" formControlName="gender">
                              <label class="custom-control-label" for="exampleCustomInline2">Female</label>
                            </div>
                        </div>
                    </div> -->

                  <div class="position-relative form-group">
                    <label for="exampleEmail" class="">Body Shape</label>
                    <br />

                    <div class="row" *ngIf="gender=='male'">

                      <div class="col-sm-4" id="flat">
                        <img src="assets/img/flat.jpg" style="width:96%" class="imgg" (click)="getBodyShape('flat')">
                      </div>
                      <div class="col-sm-4" id="average">
                        <img src="assets/img/average.jpg" class="imgg" (click)="getBodyShape('average')">
                      </div>
                      <div class="col-sm-4" id="belly">
                        <img src="assets/img/belly.jpg" style="width:95%" class="imgg" (click)="getBodyShape('belly')">
                      </div>
                    </div>

                    <div class="row" *ngIf="gender=='female'">

                      <div class="col-sm-4" id="flat">
                        <img src="assets/img/flat-f.png" style="width:88%" class="imgg" (click)="getBodyShape('flat')">
                      </div>
                      <div class="col-sm-4" id="average">
                        <img src="assets/img/average-f.png" style="width:95%" class="imgg"
                          (click)="getBodyShape('average')">
                      </div>
                      <div class="col-sm-4" id="belly">
                        <img src="assets/img/belly-f.png" class="imgg" (click)="getBodyShape('belly')">
                      </div>
                    </div>

                    <!-- <input id="exampleEmail" placeholder="Stomach shape" type="text" class="form-control"> -->
                  </div>

                  <!-- <div class="position-relative form-group">
                      <label for="exampleEmail" class="">Apparel name</label>
                      <input id="exampleEmail" placeholder="Apparel name" type="text" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Fit Type</label>
                        <input id="exampleEmail" placeholder="Fit type" type="text" class="form-control">
                      </div> -->
                  <div class="position-relative form-group mt-5">
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#size" (click)="addClass();">Submit</button> -->
                    <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-warning btn-block btn-lg"
                      [disabled]="!mForm.valid" (click)="getMeasurementQuickSize();addClass();">Submit</button>
                  </div>

                </form>
              </div>

            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->



      </div>

      <div class="row mt-5">
        <div class="col-sm-8">
            <label style="font-weight:bold">DESCRIPTION</label>
            <p>
                This page will help you to test our BMI based size recommendation. Once you upload size chart /(s) by apparel (and Fit type), your Mirrorsize (MS) customer service team will integrate your size chart /(s) on MS platform, to enable you to check size recommendation by apparel (or by Fit type). Use our API integration document (in “Developers help”) to integrate our API on your web platform. You may choose your own UI/UX to display the data fields (Age, Weight, Height and Body Type) on your web platform.</p>
              <p>
                Please feel free to connect with your MS customer service team for any question. You may also raise a ticket (in “Support”) to send your query to Mirrorsize team.
            </p>
        </div>

        <!-- <div class="col-sm-12 mb-4">
        <label style="font-weight:bold">CHECK PINCODE FOR DELIVERY</label>
        <div class="row">
          <div class="col-sm-4">
              <input  id="exampleEmail" placeholder="" type="text" class="form-control">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger">Check</button>
          </div>
        </div>
      </div> -->

        <!-- <div class="col-sm-12">
          <p><i class="fa fa-truck faicn"></i> Free shipping</p>
          <p><i class="fa fa-undo faicn"></i> Shop worry-free with our easy return policy</p>
          <p><i class="fa fa-credit-card faicn"></i> Check out easily with our multiple payment options</p>
      </div> -->
      </div>


    </div>
  </div>
</div>


<div id="size" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="myModalLabel" style="z-index: 99999;background: rgba(4, 9, 20, 0.5);">
  <div class="modal-dialog modal-lg" style="margin:auto">
    <div class="modal-content">

      
      <!-- <div class="modal-header" style="padding:15px">
                <h5 class="modal-title" id="exampleModalLongTitle">Recommended size</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div> -->
      <div class="modal-body vertical-middle">
        <div class="row mb-4">
          <div class="col-sm-12 text-center" *ngIf="sizes?.length>0">
            <h3 class="mb-3">Your recommended size</h3>
            <hr />
            <label>Apparel name : {{sizes[0].apparel_name}}</label><br />
            <label>Size : <b style="font-weight: 700;">{{sizes[0].size}}</b></label><br />
            <label>Fit type : {{sizes[0].fit}}</label>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary pull-right" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
