card-footer, .card-header {
    padding: .75rem 1.25rem;
    background-color: #fff !important;
}

.badge:empty {
    display: block !important;
}
h4{color:#343a40d4 !important}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    text-align: center;
    border-radius: 50% !important;
}