
<!--
<div class="top-fixed">
  <div class="nav-scroller py-1 mb-2"  style="color: red; !important;" id = "nav">

    <nav class="nav d-flex justify-content-between  navbar-fixed-top">
      <div class="text-left" style="margin-left:70px; margin-top:8px; color: dodgerblue; font-weight:;">
          <a class="p-2 text-muted" routerLink = "/" style="color: white; !important;   padding: 10px 20px; font-size: 14px; border-radius: 15px;"><img src="/assets/img/ms-logo.png" class="img-fluid" width="180"></a>
      </div>
      <div class="text-right" style="margin-right:70px; margin-top:15px; color: dodgerblue;">
                      <a class="p-2 text-muted" routerLink = "/login" style="background-color:orange; color: white; padding: 10px 20px; font-size: 16px; border-radius: 15px;">Login</a>

      </div>

    </nav>
  </div>
</div>

    <div class="nav-scroller py-1 mb-2"  style="color: red; !important;" id = "mobile-nav">
          <nav class="nav d-flex justify-content-between  navbar-fixed-top">
            <div class="text-left" style="margin-left:0px; margin-top:8px; color: dodgerblue; font-weight:;">
              <a class="p-2 text-muted" routerLink = "/" style="color: white; !important;   padding: 10px 20px; font-size: 14px; border-radius: 15px;"><img src="/assets/img/ms-logo.png" class="img-fluid" width="150"></a>
          </div>
          <div class="text-right" style="margin-right:10px; margin-top:10px; color: dodgerblue;">
                          <a class="p-2 text-muted" routerLink = "/login" style="background-color:orange; color: white; padding: 10px 20px; font-size: 14px; border-radius: 15px;">Login</a>

          </div>

          </nav>
        </div> -->

<nav class="navbar navbar-dark bg-white fixed-top">

    <div class="text-left" style="margin-left:px; margin-top:8px; color: dodgerblue;">
        <a class="p-2 text-muted" routerLink = "/" style="color: white !important;   padding: 10px 20px; font-size: 14px; border-radius: 15px;"><img src="/assets/img/ms-logo.png" class="img-fluid" width="180"></a>
    </div>

    <div align = "right">

        <a class="" routerLink = "/" style="background-color:orange;
           color: white; padding: 8px 10px; font-size: 16px; border-radius: 15px; margin-right: 15px; font-weight: 500;"><b>Logout</b></a>


    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
           aria-expanded="false" aria-label="Toggle navigation">
           <span class="" style="color: dodgerblue; font-size:28px;"><i class="fa fa-bars"></i></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="#" id="mob-nav-color">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
             </li>
             <li class="nav-item">
               <a class="nav-link disabled" href="#">Disabled</a>
             </li>
           </ul>
         </div> -->
</nav>