/* #mobile-nav{
  margin-top:3px;
  color: black;

}
#mob-nav-color{
color: red;
}
.nav{
    font-size: 18px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 430px) {

  #nav{
    display: none; 
  }
}

@media screen and (min-width: 430px) {

  #mobile-nav{
    display: none; 
  }
  a{
    color:  dodgerblue;
    font-size: 25px;
  }
} */