
<div class="row">
    <form style="width:100%">
        
        <div class="row" style="margin-bottom: 2%;padding: 5px;box-shadow: 0px 2px 3px 1px #dee2e6;">
    
            <div class="col-sm-2">
                <label style="font-size:14px;">Select Measurement Type</label>
                <select class="form-control" (change)="bodyType($event)" [(ngModel)]="sizeChartType" [disabled]="selectedChartType!='na'" [ngModelOptions]="{standalone: true}">
                    <option value="bodyFixed">Body and Fixed</option>
                    <option value="bodyRange">Body and Range</option>
                    <option value="readyRange">Ready and Range</option>
                    <option value="readyFixed">Ready and Fixed</option>
                </select>
            </div>
    
    
            <div class="col-sm-2" style="text-align: center">
                <button class="btn btn btn-sm" (click)="inchClick()"
                    [ngStyle]="{'background-color': inch==false? '#7d7d7d' : '#021d30'}">
                    Inch
                </button>
    
                <button class="btn btn btn-sm" (click)="cmClick()"
                    [ngStyle]="{'background-color': inch==true? '#7d7d7d' : '#021d30'}">
                    Centimeter
                </button>
            </div>
    
    
        </div>
        
        <form *ngFor="let size of typeArr;let k = index" style="width: 100%">
            <div class="row">
                <div class="col-md-12">
                    <h6 align="center" style="font-size: 18px; font-weight: bolder">Please
                        provide
                        tolerence and
                        priority first</h6>
                </div>
            </div>
            <br>
    
            <div class="row">
    
                <div *ngIf="data" class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="overflow-x: auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Measurement points</th>
                                <th>Tolerence</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let points of value2;let i =index">
                                <td>{{i+1}}</td>
                                <td>
                                    {{points | titlecase}}
                                </td>
                                <td>
                                    <input placeholder="tolerence" min="0" type="number" class="form-control"
                                        name="{{points}}" style="max-width: 100px" [(ngModel)]="tolerence[k][i]"
                                        value="" [pattern]="[]/[]" />
                                </td>
                                <td>
                                    <input type="number" name="{{points}}" min="0"
                                        max='{{maxLengthForPriority}}' maxlength="{{maxLengthForPriority}}"
                                        class="form-control" [(ngModel)]="permit[k][i]" />
    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
    
                    </div>
                </div>
            </div>
        </form>
    
        <!------------new try for tolerence & priorities ended-------->
        <!----------only for body measurement----------------->
        <br>
        <hr>
        <br>
        <div>
            <h5 align="center">Enter Measurement Points by Apparel Size.</h5>
            <div class="row" style="overflow-x: auto">
    
                <div *ngIf="data" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    
                    <table class="table table-bordered" *ngFor="let size of arr;let k =index">
                        <thead>
                            <!--<button class="btn-primary btn-sm btn-grey" (click)="delete(size)">hello</button>-->
    
                            <tr>
                                <th>Sr.No.</th>
                                <th>Measurement points</th>
                                <th *ngIf="BodyFixed || ReadyFixed">Your size</th>
                                <th *ngIf="BodyRange || ReadyRange">Your Min Size</th>
                                <th *ngIf="BodyRange || ReadyRange">Your Max Size</th>
                                <th *ngIf="ReadyFixed || ReadyRange">Your Allowance</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let game of size.value1;let i =index">
                                <td>{{i+1}}</td>
                                <td>
                                    {{game | titlecase}}
                                </td>
                                <td *ngIf="BodyFixed || ReadyFixed">
                                    <input placeholder="size" type="number" min="0" class="form-control"
                                        name="{{game}}" [(ngModel)]="permission[k][i]" value=""
                                        [pattern]="[]/[]" />
                                </td>
                                <td *ngIf="BodyRange || ReadyRange">
                                    <input placeholder="min size" min="0" type="number" class="form-control"
                                        name="{{game}}" [(ngModel)]="minSize[k][i]" value=""
                                        [pattern]="[]/[]" />
                                </td>
                                <td *ngIf="BodyRange || ReadyRange">
                                    <input placeholder="max size" min="0" type="number" class="form-control"
                                        name="{{game}}" [(ngModel)]="permissible[k][i]" value=""
                                        [pattern]="[]/[]" />
                                </td>
                                <td *ngIf="ReadyFixed || ReadyRange">
                                    <input placeholder="" type="number" min="0" class="form-control"
                                        name="{{game}}" [(ngModel)]="allowances[k][i]" value=""
                                        [pattern]="[]/[]" />
                                </td>
                                <td>{{size.type1}}</td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="row" style="margin-bottom:5%">
                        <div class="col-md-2">
                            <button class="btn btn-dark btn-sm btn-block" align="center"
                                routerLink="/size-chart">Back
                            </button>
                        </div>
    
                        <div class="col-md-2">
    
                            <button type="button" class="btn btn-block btn-dark btn-sm"
                                (click)="permiTest()">Submit
                            </button>
    
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    
        <app-footer></app-footer>
        <div>
        </div>
    </form>
</div>
