<div class="row">
  <div class="col-sm-12 mb-3 text-center">
    <img src="assets/logo/GetMeasureLogo.png" style="width:20%">
  </div>

  <div class="col-sm-12 text-center">
    <h3>Welcome to Mirrorsize</h3>
    <p>This guided tour will help you to set up your account to get you started quickly.</p>
  </div>

  <div class="col-sm-12 mb-5 text-center"  style="margin:auto">
    <button class="btn btn-primary btn-lg mb-3" (click)="onClick();">Start Tour</button>
  </div>

  <div class="col-sm-12 mb-5" id="one">
    <div joyrideStep="firstStep" title="Step 1" (next)="onNext('secondStep')" text="Set your account" style="padding: 10px">
      <div class="row">
        <div class="col-sm-6">
          <div class="main-card mb-3 card">
              <div class="card-header">Step 1</div>
              <div class="card-body">
                  <div class="scroll-area-md">
                      <div class="scrollbar-container ps ps--active-y">
                          <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                  <span class="vertical-timeline-element-icon bounce-in">
                                    <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                                  </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                      <h4 class="timeline-title">Go to “Account Settings” (go to top right corner and click the logo icon and select Account Settings.</h4>
                                    <span class="vertical-timeline-element-date">A</span>
                                  </div>
                                </div>
                            </div>
                             
                            <div class="vertical-timeline-item vertical-timeline-element">
                              <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                  <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                </span>
                                <div class="vertical-timeline-element-content bounce-in">
                                  <h4 class="timeline-title">Check details of your “Company Profile” and “Contact Person profile” for correctness and if you want to edit, click “Edit” to make changes and then click “Update” button at the bottom to save changes.</h4>
                                  <span class="vertical-timeline-element-date"> B</span>
                                </div>
                              </div>
                            </div>

                            <div class="vertical-timeline-item vertical-timeline-element">
                              <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                  <i class="badge badge-dot badge-dot-xl badge-primary"> </i>
                                </span>
                                <div class="vertical-timeline-element-content bounce-in">
                                  <h4 class="timeline-title">You can view your subscribed plan by clicking to “Your Plan”.</h4>
                                  <span class="vertical-timeline-element-date"> C</span>
                                </div>
                              </div>
                            </div>

                            <div class="vertical-timeline-item vertical-timeline-element">
                              <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                  <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                                </span>
                                <div class="vertical-timeline-element-content bounce-in">
                                  <h4 class="timeline-title">You may add other people in your company to access Mirrorsize platform. Go to “Sub Users” and add as many sub users you want.</h4>
                                  <span class="vertical-timeline-element-date"> D</span>
                                </div>
                              </div>
                            </div>
                            
                            <div class="vertical-timeline-item vertical-timeline-element">
                              <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                  <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                </span>
                                <div class="vertical-timeline-element-content bounce-in">
                                  <h4 class="timeline-title">You can also change your admin password by clicking to “Change Password”.</h4>
                                    <span class="vertical-timeline-element-date">  E</span>
                                </div>
                              </div>
                            </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>  

        <div class="col-sm-6">
          <img src="assets/images/account.png" style="width:100%">
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 mb-5" id="secondStep">
      <div joyrideStep="secondStep" title="Step 2" text="Integrate Mirrorsize API / SDK" style="padding: 10px">
        <div class="row">
          <div class="col-sm-6">
            <div class="main-card mb-3 card">
              <div class="card-header">Step 2</div>
              <div class="card-body">
                <div class="scroll-area-sm">
                  <div class="scrollbar-container ps ps--active-y">
                    <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                          </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">Click to “Developers Help (under RESOURCES in the navigation bar on the left).</h4>
                            <span class="vertical-timeline-element-date">A</span>
                          </div>
                        </div>
                      </div>
                        
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Copy the “Key” and click the relevant API /SDK document to download to integrate Mirrorsize with your web/app platform.</h4>
                            <span class="vertical-timeline-element-date"> B</span>
                          </div>
                        </div>
                      </div>

                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-primary"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Should you need any help, please contact us or raise a ticket (go to “Support” by clicking on the logo at top right corner and select Tickets).</h4>
                            <span class="vertical-timeline-element-date"> C</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
          <div class="col-sm-6">
            <img src="assets/images/resources.png" style="width:100%">
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12 mb-5" id="three">
      <div joyrideStep="thirdStep" title="Step 3" text="Map Apparels" style="padding: 10px">
        <div class="row">
          <div class="col-sm-6">
            <div class="main-card mb-3 card">
              <div class="card-header">Step 3</div>
              <div class="card-body">
                <div class="scroll-area-md">
                  <div class="scrollbar-container ps ps--active-y">
                    <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                          </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">Please click MS GetMeasured/Apparels (on the left navigation bar) and then click “Apparel Mapping” button on the top header.</h4>
                            <span class="vertical-timeline-element-date">A</span>
                          </div>
                        </div>
                      </div>
                        
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Enter details like your Brand Name, Country size, Gender and Apparel Name and then click “Submit”.</h4>
                            <span class="vertical-timeline-element-date"> B</span>
                          </div>
                        </div>
                      </div>

                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-primary"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Select the measurement points from the list of measurement points displayed on the screen to map measurement points for your selected apparel.</h4>
                            <span class="vertical-timeline-element-date"> C</span>
                          </div>
                        </div>
                      </div>

                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Repeat the above point to map more apparels. You may map as many apparels as you want by following the above step.</h4>
                            <span class="vertical-timeline-element-date"> D</span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">If you need more measurement points, go to “Measurement Guide” (on the navigation bar) and select the points to raise a Ticket (Go to Support by clicking on the logo at top right corner and select Tickets).</h4>
                              <span class="vertical-timeline-element-date">  E</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
          <div class="col-sm-6">
              <img src="assets/images/apparel.png" style="width:100%">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mb-5" id="four">
      <div joyrideStep="forthStep" title="Step 4" text="Get measurements of your REMOTE Customer's" style="padding: 10px">
        <div class="row">
          <div class="col-sm-6">
            <div class="main-card mb-3 card">
                <div class="card-header">Step 4</div>
                <div class="card-body">
                  <div class="scroll-area-lg">
                    <div class="scrollbar-container ps ps--active-y">
                      <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                        <div class="vertical-timeline-item vertical-timeline-element">
                          <div>
                            <span class="vertical-timeline-element-icon bounce-in">
                              <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                            </span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Go to “User Login Details” (under Get Measured on the navigation bar) and share “Email” and “Password” with your remote customers.</h4>
                              <span class="vertical-timeline-element-date">A</span>
                            </div>
                          </div>
                        </div>
                          
                        <div class="vertical-timeline-item vertical-timeline-element">
                          <div>
                            <span class="vertical-timeline-element-icon bounce-in">
                              <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                            </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">Ask your remote customers to download Mirrorsize mobile app (from Apple and Google play store) and enter the above “email” & Password” to get their body measurements.</h4>
                              <span class="vertical-timeline-element-date"> B</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="vertical-timeline-item vertical-timeline-element">
                          <div>
                            <span class="vertical-timeline-element-icon bounce-in">
                              <i class="badge badge-dot badge-dot-xl badge-primary"> </i>
                            </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">If you’ve integrated your mobile app with Mirrorsize SDK, then your remote customer should just enter the above “email” and “password” to login.</h4>
                              <span class="vertical-timeline-element-date"> C</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="vertical-timeline-item vertical-timeline-element">
                          <div>
                            <span class="vertical-timeline-element-icon bounce-in">
                              <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                            </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">Once your remote customers perform the scanning by using their mobile device, their body measurements will be immediately displayed on your dashboard (under “Users” in GetMeasured).</h4>
                              <span class="vertical-timeline-element-date"> D</span>
                            </div>
                          </div>
                        </div>
                        
                        <div class="vertical-timeline-item vertical-timeline-element">
                          <div>
                            <span class="vertical-timeline-element-icon bounce-in">
                              <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                            </span>
                            <div class="vertical-timeline-element-content bounce-in">
                              <h4 class="timeline-title">Click the “Details” tab to pull the measurement data of your remote customers to fulfill their order.</h4>
                                <span class="vertical-timeline-element-date">  E</span>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>  
                  
                </div>
            </div>    
          </div>
          <div class="col-sm-6">
              <img src="assets/images/Screenshot.png" style="width:100%">
          </div>
        </div>
      </div>
    </div>

</div>
