/* .text-center{margin-bottom:30px}

#hello{
    height:auto;
    min-height:100vh;
    background-image:url("https://images.unsplash.com/photo-1525377411535-0cacd7ffe6fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fad61054be723285bf879a0fbf1c6350&auto=format&fit=crop&w=2134&q=80");
    background-size:cover;
    background-position:center;
}
.mb-3{margin-bottom:30px}

.back{
background-color: #003049;
}
h5{
  color:#021d30;
}
.main{
  background-color:white;
  margin-top: 100px;
  padding: 10px 20px;
font-family: 'Raleway', sans-serif;
color: DimGray;
}
span,i{
  color: dodgerblue;
}
small{
  color: tomato;
}
#rem{
  margin-left: 25px;
}
i{
  font-size: 10px;
}

me{
  margin-top:10px;
}

.loginBox
{
  margin:auto;
  height:461px;
  margin-top: 78px;
  width:35%;
}

@media screen and (max-width: 430px) {
    .back{
      background-color: white;
    }
    .main{

      margin-top: 0px;
      padding: 10px 20px;

    }
    img{
      width: 120px;
    }
    #media{
      display: none;
    }
}
@media screen and (max-width: 780px) {
  #media{
    display: none;
  }
  .loginBox{
    width: 100%;
    margin-top: 25%;
  }
}
@media screen and (min-width: 780px) {
  #me{
    display: none;
  }
  #acc{
    margin-top: 10px;
  }
}
 */

 .h-100 {
  height: 100%;
}


.opac{opacity:1;}

.carousel-caption{top:40% !important}