<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<!-- <section id="hello" [ngStyle]="{'background-image': getUrl()}">
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="loginBox main">

                <div class="text-center">
                    <img src="https://s3.amazonaws.com/miiror-vijay/images/public/mirrorsize-logo-name.png"
                        class="img-fluid text-center" width="150px" height="40px">
                </div>

                <p class="text-danger text-center" style="font-size: small">{{err}}</p>
                <form [formGroup]="form" (ngSubmit)="form.valid && send()" *ngIf="isLogin">
                    <div class="md-form">
                        <div class="row mb-3">

                            <div class="col-sm-12">
                                <label>Email Id</label>
                                <input type="email" class="form-control" formControlName="mail"
                                    [ngClass]="{'is-invalid ': form.get('mail').touched && form.get('mail').invalid}"
                                    placeholder="Email Id" style="padding:5px;">
                                <div *ngIf="form.get('mail').touched && form.get('mail').invalid"
                                    class="invalid-feedback">
                                    <small *ngIf="form.get('mail').errors.required">Email address is required</small>
                                    <small *ngIf="form.get('mail').errors.email">Email must be a valid email
                                        Address</small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col-sm-12">
                            <label>Password</label>
                            <input type="password" formControlName="password" formControlName="password"
                                [ngClass]="{'is-invalid ': form.get('password').touched && form.get('password').invalid}"
                                class="form-control" placeholder="Password" style="padding:5px;">
                            <small class="invalid-feedback">
                                Password is required
                            </small>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultIndeterminate2"  (change)="rememberMe($event)">
                                <label class="custom-control-label" for="defaultIndeterminate2">Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right" id="media"><a routerLink="/forgot-password"><span>Forgot
                                        password?</span></a>
                            </p>
                        </div>
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-primary btn-sm">Login
                        </button>
                        <br>
                    </div>
                    <p class="text-center" id="me"><a routerLink="/forgot-password" target="_blank"><span>Forgot
                                password?</span></a>
                    </p>
                    <p class="text-center" id="acc">Don't have an account? <span><a
                                (click)="signUp()"><b style="cursor: pointer">Signup</b></a></span>
                        <p>
                            <small align="center"></small>
                </form>

                <div class="row" *ngIf="!isLogin">
                    <div class="col-sm-12 mb-3 text-center">
                        <p>Verify Your Email</p>
                    </div>
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" placeholder="Email Id" [(ngModel)]="email">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="otp" *ngIf="isOtp" placeholder="OTP">
                    </div>

                    <div class="col-sm-12 mb-3">
                        <button class="btn btn-danger btn-sm" (click)="sendOtp()" *ngIf="!isOtp">Send OTP</button>
                        <button class="btn btn-danger btn-sm" (click)="verifyOtp()" *ngIf="isOtp">Verify OTP</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section> -->

<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="d-none d-lg-block col-lg-4">


                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                            <div class="carousel-item active  h-100">
                                <img class="d-block w-100 h-100 opac" src="assets/img/back.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <img src="assets/img/getmeasured.png" style="width:90%" class="mb-3">
                                    <p>Integrate MS GetMeasured, powered by Mirrorsize patent pending body measurement system to scale your bespoke (custom made) business to reach global customers seamlessly. Get 100’s of body measurement points of your remote customers instantly.</p>
                                    <p>Sign up today or for more information, please write to us at info@mirrorsize.com.</p>
                                </div>
                            </div>
                            <div class="carousel-item  h-100">
                                <img class="d-block w-100 h-100 opac" src="assets/img/back.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                   <img src="assets/img/size2fit (1).png" style="width:65%" class="mb-3">
                                    <p>Integrate MS Size2Fit to give instant size recommendation to your customers and to enable your customers to shop with confidence. Boost your conversion, revenue, margins and cut return / rejections due to ill-size.</p>
                                    <p>Sign up today or for more information, please write to us at info@mirrorsize.com.</p>
                                </div>

                            </div>  

                            <div class="carousel-item  h-100">
                                <img class="d-block w-100 h-100 opac" src="assets/img/back.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <img src="assets/img/mysize.png" style="width:65%" class="mb-3">
                                    <p>Sign up MS MySize today to list your company on Mirrorsize web and app platforms. Mirrorsize will redirect it’s web traffic to your online portal to boost your revenue. You’ve nothing to lose and everything to gain by subscribing to MS MySize</p>
                                    <p>For more information, please write to us at info@mirrorsize.com.</p>
                                </div>

                            </div>  

                            <div class="carousel-item  h-100">
                                <img class="d-block w-100 h-100 opac" src="assets/img/back.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <img src="assets/img/QuickSize.png" style="width:70%" class="mb-3">
                                    <p>
                                        Integrate MS QuickSize will give instant size recommendation to your customers by apparel based on their BMI (Age, Weight and Height) data. It is easy to integrate (via API/SDK) and will immediately cut your returns/rejections due to ill-size and will enrich your customers online shopping experience.
                                    </p>
                                    <p>Sign up today or for more information, please write to us at info@mirrorsize.com.</p>
                                </div>

                            </div>  
                         
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                    </div>
                    <!-- <div class="slider-light">
                        <div class="slick-slider">
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                    <div class="slide-img-bg" style="background-image: url('assets/images/originals/citydark.jpg');"></div>
                                    <div class="slider-content">
                                        <h2>Get Measured</h2>
                                        <p>Integrate MS GetMeasured, powered by Mirrorsize patent pending body measurement system to scale your 
                                            bespoke (custom made) business to reach global customers seamlessly. Get 100’s of body measurement 
                                            points of your remote customers instantly.</p>
                                        <p>Sign up today or for more information, please write to us at info@mirrorsize.com.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                    <div class="slide-img-bg" style="background-image: url('assets/images/originals/city.jpg');"></div>
                                    <div class="slider-content">
                                        <h2>Size2Fit</h2>
                                        <p>Integrate MS Size2Fit to give instant size recommendation to your customers and to enable your customers
                                             to shop with confidence. Boost your conversion, revenue, margins and cut return / rejections due to ill-size.</p>
                                        <p>Sign up today or for more information, please write to us at info@mirrorsize.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8" *ngIf="isLogin">
                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                        <div class="app-logo " style="margin-bottom:15%">
                            <img src="https://s3.amazonaws.com/miiror-vijay/images/public/mirrorsize-logo-name.png" width="200px" height="60px">
                        </div>
                        <h4 class="mb-0">
                            <span class="d-block">Welcome back,</span>
                            <span>Please sign in to your account.</span></h4>
                        <h6 class="mt-3">Not a member ? <a routerLink="/home" class="text-primary">Sign up now</a></h6>
                        <div class="divider row"></div>
                        <div>
                            <form [formGroup]="form" (ngSubmit)="form.valid && send()" *ngIf="isLogin">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Email</label>
                                            <input name="email" id="exampleEmail" formControlName="mail"
                                                [ngClass]="{'is-invalid ': form.get('mail').touched && form.get('mail').invalid}"
                                                placeholder="Email here..." type="email" class="form-control">

                                            <div *ngIf="form.get('mail').touched && form.get('mail').invalid"
                                                class="invalid-feedback">
                                                <small *ngIf="form.get('mail').errors.required">Email address is required</small>
                                                <small *ngIf="form.get('mail').errors.email">Email must be a valid email Address</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">Password</label>
                                            <input formControlName="password"
                                                [ngClass]="{'is-invalid ': form.get('password').touched && form.get('password').invalid}"
                                                class="form-control" name="password" id="examplePassword"
                                                placeholder="Password here..." type="password" class="form-control">
                                            <small class="invalid-feedback">Password is required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative form-check">
                                    <input name="check" id="exampleCheck" (change)="rememberMe($event)" type="checkbox"
                                        class="form-check-input">
                                    <label for="exampleCheck" class="form-check-label">Keep me logged in</label>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto">
                                        <a [routerLink]="" (click)="switchform()" class="btn-lg btn-link">Forgot Password ? </a>
                                        <button class="btn btn-primary btn-lg" type="submit"
                                            style="letter-spacing: normal;text-transform: inherit">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8" *ngIf="isforgotpassword">
                    <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                        <div class="app-logo " style="margin-bottom:15%">
                            <img src="https://s3.amazonaws.com/miiror-vijay/images/public/mirrorsize-logo-name.png" width="200px" height="60px">
                        </div>
                        <h4>
                            <div>Forgot your password?</div>
                            <!-- <span>Use the form below to recover it.</span> -->
                        </h4>
                        <div>
                            <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Email</label>
                                            <input type="text" class="form-control" formControlName="mail"
                                                [ngClass]="{'is-invalid ': form.get('mail').touched && form.get('mail').invalid}"
                                                placeholder="Registered email">
                                            <div *ngIf="form.get('mail').touched && form.get('mail').invalid"
                                                class="invalid-feedback">
                                                <small *ngIf="form.get('mail').errors.required">Email address is required</small>
                                                <small *ngIf="form.get('mail').errors.email">Email must be a valid email Address</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 d-flex align-items-center">
                                    <h6 class="mb-0">Already have an account? <a [routerLink]="" (click)="switchform()" class="text-primary">Sign in</a></h6>
                                    <div class="ml-auto">
                                        <button type="submit" class="btn btn-primary btn-lg" style="letter-spacing: normal;text-transform: inherit">Recover Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
