/*


ngx-spinner{
    position:fixed !important;
    !*width: 100%;*!
}
*/

.secondary-color{
    background-color: #b78a049c !important;
}

footer{background: #a87e10 !important;color:#fff !important;font-size:15px;font-weight: 600}

.icon{    
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    color:#555555d9;
}

.dropbtn {
    background-color: #fafbfc;
    padding:10px;
    color:#555555d9;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:-50px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #fafbfc;}

  .rounded-circle{width:30px;height: 30px;}
  .outer-main{
    padding-left:0px !important;
  }
  
  .main-inner{padding:0px !important}
  .display{display: none}
  .displayblock{display:block}

  li .active{
    background-color:#e0f3ff !important;
}

@media only screen and (max-width: 600px) 
{
  .dropdown:hover .dropdown-content {display: block;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .dropdown:hover .dropdown-content {display: block;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .dropdown:hover .dropdown-content {display: block;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .dropdown:hover .dropdown-content {display: block;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  .dropdown:hover .dropdown-content {display: block;}
}

@media only screen and (max-width: 768px) {
  .dropdown:hover .dropdown-content {display: block;}
}

.bell{
  background: #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 25px;
}

.dropdown-menu-xl{width:300px;}


.app-sidebar .scrollbar-sidebar {
  z-index: 15;
  width: 100%;
  overflow: auto !important;
}

::-webkit-scrollbar {
  width:0.3em !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3) !important;
}

::-webkit-scrollbar-thumb {
background-color: #ccc !important;
outline: 1px solid #eee !important;
}

.clr{
  color:rgb(6, 143, 29);
}

.spn{
  position: absolute;
    margin-top: -30px;
    margin-left: 100px;
}

a{font-size:15px}

.paybutton{
  margin-left: 33px;
  font-size: 10px;
  background: #eee;
  padding: 3px;
  background: #ffc107eb;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  display: none;
}