<div class="row">
  <div class="col-sm-6 mt-3 mb-4" style="margin:auto;text-align: center">
      <img src="../../assets/img/log.png">
</div>
</div>
<div class="row mt-5">
    <div class="col-sm-8 mt-2" style="margin:auto;text-align: center">
       <p>
         Thank you for completing your payment online to subscribe Mirrorsize <a href="https://services.mirrorsize.com/#/home">to subscribe Mirrorsize services</a>. We are now processing your payment and a payment confirmation notification will be sent to you the moment we’ve received your payment in our bank account.
       </p>
       <p>Should you need any clarification, please contact us at <b>info@mirrorsize.com</b> or contact your dedicated customer service representative.</p>
       <p>Please <a href="https://services.mirrorsize.com/#/login">login</a> to access your account. 
        <p>Thank you</p>
        <h2>Team Mirrorsize</h2>
       
  </div>
   
