<div class="row">

    <div class="col-sm-12 mb-3 text-center">
      <img src="assets/img/mysize.png" style="width:10%">
    </div>
  
    <div class="col-sm-12 text-center">
      <h3>Welcome to Mirrorsize</h3>
      <p>This guided tour will help you to set up your account to get you started quickly.</p>
    </div>
  
    <div class="col-sm-12 mb-5 text-center" style="margin:auto">
      <!-- <button class="btn btn-primary btn-lg mb-3" (click)="onClick()">Start Tour</button> -->
    </div>
  
  
    <div class="col-sm-12 mb-5">
      <div joyrideStep="firstStep" title="Step 1" text="Set your account" style="padding: 10px">
        <div class="row">
          <div class="col-sm-6">
            <div class="main-card mb-3 card">
              <div class="card-header">Steps</div>
              <div class="card-body">
                <div class="scroll-area-lg">
                  <div class="scrollbar-container ps ps--active-y">
                    <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Upload your size chart</h4>
                            <p>Just send your size chart by brand / by apparel / by apparel type (eg., Shirt- Regular), and Mirrorsize CS team will upload your size charts on Mirrorsize database. Simply click the upload button and attach any pdf/excel/csv file and please mention whether the size chart is “Body Measurement” or “Ready Measurement (Garment Measurement)”. There is no limit to upload size charts.</p>
                            <span class="vertical-timeline-element-date">A</span>
                          </div>
                        </div>
                      </div>
  
                      <div class="vertical-timeline-item vertical-timeline-element">
                        <div>
                          <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                          </span>
                          <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Enter details:</h4>
                              <p>Enter your coupon details, that will be displayed to Mirrorsize users, who have downloaded Mirrosize app. Once you’ve entered the details, simply click “publish” and Mirrorsize CS team will redesign/modify the coupon before it goes life. Should you’ve any question, please feel free to :
                              </p>
                              <ul style="list-style: lower-alpha;">
                                  <li>Raise a Ticket (go to Supports to raise a ticket) <b>OR</b></li>
                                  <li>Contact your Mirrorsize representative <b>OR</b></li>
                                  <li>Write to us at <a href="info@mirrorsize.com">info@mirrorsize.com</a></li>
                                </ul>

                            <span class="vertical-timeline-element-date"> B</span>
                          </div>
                        </div>
                      </div>
  
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <img src="assets/img/mysizescreenshot.png" style="width:100%">
          </div>
  
        </div>
      </div>
    </div>

  
  </div>
  