<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>


<div class="row">
    <div class="col-md-3">
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                <li class="nav-item">
                    <a (click)="getGraph('male')" role="tab" class="nav-link show active" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="true">
                        <span>Male</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-item nav-link"  id="nav-profile-tab"
                    data-toggle="tab" (click)="getGraph('female')" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">

                        <span>Female</span>
                    </a>
                </li>
            </ul>
    </div>        
</div>

<div class="col-sm-12">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
            aria-labelledby="nav-home-tab">
            <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <div style="margin-bottom:4%;color: cornflowerblue;"><h2 class="text-center">Measurement points {{gender}}</h2></div>
                  <div class="">
                    <div class="row">
                      <div class="col-md-6 col-xl-4"  *ngFor="let d of data">
                          <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow">
                              <div class="widget-chat-wrapper-outer" >
                                  <div class="widget-chart-content pt-3 pl-3 pb-1">
                                      <div class="widget-chart-flex">
                                          <div class="widget-numbers">
                                              <div class="widget-chart-flex">
                                                  <div class="fsize-4 text-center">
                                                      <span>{{d.displayName}}</span>
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="no-gutters widget-chart-wrapper mt-3 mb-3" style="opacity: 1;">
                                        <div class="col-md-12 mb-1 text-center">
                                            <img src="{{d.s3imgurl}}" style="width:35%">
                                          </div>
                                        </div>
                                        <h6 class="widget-subheading mb-3 opacity-5 text-center">{{d.description}}</h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
