.icn-close{
    color: red;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-left:10px;
}

.ngx-file-drop__drop-zone{
    /* height: 100px; */
    margin: auto !important;
    /* border: 2px dotted #0782d0; */
    border-radius: 30px !important;
}

.spn{
    position: absolute;
    top:30px;
    right: 15px;
    /* border: 1px solid #eee; */
    padding: 8px;
    background: var(--pink);
    /* font-size: 15px; */
    color: #fff;
    cursor: pointer;
}


.pill{
    width:auto;
    float: left;
    margin: 3px;
    background: #20608a;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.icn{
    float:right;
    cursor: pointer;
    margin-left:10px;
}