<div *ngIf="showLoader" id="ajaxloader"
  style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="!paid">
  <div class="card-header" style="color:red">Your subscription has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your subscription period has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button (click)="gotoSubscription()" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div *ngIf="paid">
  <h5 class="text-center mb-4">Upload size chart </h5>
</div>

<!-- <div class="row mb-5" *ngIf="paid">
  <div class="col-sm-12">

    <div class="center mb-4">
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Drag File OR &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
      </ngx-file-drop>
    </div>

    <div *ngIf="data">
      <label style="background: #eee;padding: 6px;">{{data.name}}</label>
      <button type="submit" class="btn btn-primary" (click)="uploadToS3()" style="margin-left:15px;">Upload</button>
    </div>
    <label class="text-right margin-right:2%" style="min-width: -webkit-fill-available">supported format '.zip'</label>
  </div>

</div> -->



  <div class="row"  *ngIf="paid">
    <div class="col-sm-12">
      <div class="main-card mb-3 card" style="padding:10px">
        <div class="row">
          <div class="col-sm-3 mb-3">
            <select class="form-control" [(ngModel)]="country">
              <option value="select_country">---- Select Country ----</option>
              <option *ngFor="let c of countries" value="{{c.name}}">{{c.name}}</option>
            </select>
          </div>
      
          <div class="col-sm-3 mb-3">
            <input type="text" class="form-control" placeholder="Brand name" [(ngModel)]="brandName">
          </div>
      
          <div class="col-sm-3 mb-3">
            <select class="form-control" [(ngModel)]="gender">
              <option value="gen">---- Select Gender ----</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unisex">Unisex</option>
              <option value="transgender">Transgender</option>
            </select>
          </div>
      
          <div class="col-sm-3 mb-3">
            <input type="text" class="form-control" placeholder="Apparel name" [(ngModel)]="apparelName">
          </div>
      
          <div class="col-sm-2 mb-3">
            <input type="text" class="form-control" placeholder="Fittype" [(ngModel)]="fittype">
            <span class="spn" (click)="addFittype()">Add</span>
          </div>

          <div class="col-sm-3 mb-3" *ngIf="fitArray?.length>0">
              <div *ngFor="let f of fitArray" class="pill">
                <span>
                  {{f}}
                  <i class="fa fa-times icn" (click)="removeItem(f)"></i>
                </span>
              </div>
          </div>
          
          <div class="col-sm-2" *ngIf="data">
            <label>{{data.name}}</label>
          </div>

          <div class="col-sm-3 mb-3">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
              (onFileLeave)="fileLeave($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <button type="button" class="btn btn-info" (click)="openFileSelector()">Upload Size Chart</button>
              </ng-template>
            </ngx-file-drop>
          </div>
          

          <div class="col-sm-2">
            <button class="btn btn-primary" (click)="uploadToS3()">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div>  


<div class="row text-center mt-4" *ngIf="paid">
  <!-- <h5 class="card-title text-center mb-3">Uploaded files</h5> -->
  <div class="main-card mb-12 card" style="min-width: -webkit-fill-available">
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Country</th>
            <th class="text-center">Brand name</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Apparel name</th>
            <th class="text-center">Fit type</th>
            <th class="text-center">Download</th>
            <th class="text-center">Delete</th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of filedata;let i=index">
            <td class="text-center">{{i+1}}</td>
            <td>{{d.country}}</td>
            <td>{{d.brandName}}</td>
            <td>{{d.gender}}</td>
            <td class="text-center">{{d.apparelName}}</td>
            <td class="text-center">{{d.fitType}}</td>
            <td class="text-center" style="cursor:pointer !important">
              <i class="fa fa-download" (click)="downloadfile(d)"></i>
              <!-- <button type="button" class="btn btn-primary btn-sm" (click)="downloadfile(d)">Download</button> -->
            </td>
            <td class="text-center" style="cursor:pointer !important">
                <i class="fa fa-times icn-close" (click)="deletefile(d)"></i>
              <!-- <button type="button" class="btn btn-danger btn-sm" (click)="deletefile(d)">Delete</button> -->
            </td>
            <td>
              <!-- <button class="btn btn-danger">Edit</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>