<div class="row">
    <div class="col-md-12" style="font-size:17px;">
        <br>
        <div align="center">
            <img src="https://www.dcsi-ltd.com/wp-content/uploads/2014/10/tcs.jpg"
                style="background-repeat: no-repeat; background-size: auto; background-size: 100% 100%; margin-top: -18px; margin-right: -28px;"
                class="img-fluid">

        </div>
        <div id='content'>
            <br>


            <!-- <h4 class="text-center" style="color:#021d30;">Terms and conditions</h4>
        <hr> -->
            <p>Mirrorsize provides website features and other products and services to you when you visit at
                www.Mirrorsize.com, use the Mirrorsize mobile applications or other services, or use
                software
                provided by Mirrorsize in connection with any of the foregoing (collectively, the
                "Services").
                Mirrorsize provides the Services subject to the following terms and conditions (together
                with
                any documents referred to in them) (collectively, the "Terms of Service"). By using the
                Services, you accept these Terms of Service, so please read them carefully. We are operated
                by
                Mirrorsize US Inc. and its subsidiaries and company's under the same management (herein
                "Mirrorsize") and throughout these Terms we will use Mirrorsize, us or we to refer to
                Mirrorsize
                and its affiliated entities and services collectively.</p>
            <p>You may not use the Services if you do not accept the Terms. If you do not accept and agree
                to
                these Terms, please do not access the Site or use the Services. You may not use the Services
                and
                may not accept the Terms if (a) you are not of legal age to form a binding contract with
                Mirrorsize, or (b) you are a person barred from receiving the Services under the laws of any
                or
                other countries including the country in which you are resident or from which you use the
                Services.</p>
            <p>Mirrorsize reserves the right to change these Terms at any time. We recommend that you
                periodically check this Site for changes.</p>
            <p style="font-weight:bold;">Acceptance of Terms</p>
            <p>By accessing or using the Services in any way, you agree to these Terms and our <a
                    routerLink="/privacy-policy">Privacy Policy </a>. You may not use the Services, or
                accept
                these Terms, if (a) you are not of legal age to form a binding contract with us; or (b) you
                are
                prohibited by law from receiving or using the Service. If you are entering into these Terms
                on
                behalf of a company or other legal entity, you represent that you have the authority to bind
                such entity to these Terms, in which case you or your shall refer to such entity. The
                Service
                may be subject to a subscription or other agreement, posted guidelines, rules or additional
                terms of service provided elsewhere.</p>
            <p>You represent and warrant that you have the legal right to use any credit card(s) or other
                payment method(s) utilized in connection with using our Services.</p>
            <p style="font-weight:bold;">Electronic Communications</p>
            <p>Visiting <a href="http://www.Mirrorsize.com" target="_blank">http://www.Mirrorsize.com</a>,
                opening the Mirrorsize mobile applications or sending emails to Mirrorsize constitutes
                electronic communications. You consent to receive electronic communications and you agree
                that
                all agreements, notices, disclosures and other communications that we provide to you
                electronically, via email and through the Services, satisfy any legal requirement that such
                communications be in writing.</p>
            <p style="font-weight:bold;">Usage License</p>
            <p>Mirrorsize grants you a limited non transferable license to access the Site and use the
                Services
                in accordance with these Terms and the instructions and guidelines posted on the Site, for
                the
                purpose of managing social media campaigns. All rights to use the Site and Services are
                provided
                on a non exclusive basis. Mirrorsize reserves the rights to terminate your license to use
                the
                Site and Services at any time and for any reason or, in the future, charge for commercial
                usage.</p>
            <p style="font-weight:bold;">User Responsibility</p>
            <p>By using the Services, you represent and warrant that (a) you are not a minor; and (b) your
                use
                of the Services does not violate any applicable law or regulation. Your account may be
                terminated without warning, if we believe that you are a minor, if we believe that you are a
                minor and you represent yourself as an adult, or if we believe you are an adult and
                represent
                yourself as a minor.</p>
            <p>When you sign up to Mirrorsize, you will also be asked to choose a password. You are entirely
                responsible for maintaining the confidentiality of your password. You agree not to use the
                account, username, or password of another member at any time or to disclose your password to
                any
                third party. You agree to notify Mirrorsize immediately if you suspect any unauthorized use
                of
                your account or access to your password. You are solely responsible for any and all use of
                your
                account.</p>
            <p>You are solely responsible for your use of the Site and Services. Because Mirrorsize merely
                serves as a repository of information, customer & user posted content does not represent the
                views or beliefs of Mirrorsize, and Mirrorsize makes no claim of accuracy of any customer &
                user
                posted material.</p>
            <p>Mirrorsize archives links to third-party websites. The linked websites' content, business
                practices and<a routerLink="/privacy-policy"> privacy policies </a> are not under our
                control,
                and we are not responsible for the content of any linked website or any link contained in a
                linked website. The inclusion of a link on the Site or Services does not imply any
                endorsement
                by or any affiliation with Mirrorsize. In accessing the Site and Services or following links
                to
                third-party websites you may be exposed to content that you consider offensive or
                inappropriate.
                You agree that your only recourse is to stop using the Site and Services.</p>
            <p style="font-weight:bold;">Links to Third Party Sites / Third Party Servicesy</p>
            <p>Our Services may contain links to other websites or services ("Linked Sites"). The Linked
                Sites
                and its contents are not under the control of Mirrorsize and Mirrorsize is not responsible
                for
                the contents of any Linked Site, including without limitation any link contained in a Linked
                Site, or any changes or updates to a Linked Site. Mirrorsize is providing these links to you
                only as a convenience, and the inclusion of any link does not imply endorsement by
                Mirrorsize of
                the site or any association with its operators. When you link to a Third Party Site, the
                applicable third party's terms and policies apply, including the third party's privacy and
                data
                gathering practices.</p>
            <p>Certain services made available via our Services are delivered by third party sites and
                organizations. By using any product, service or functionality originating from Mirrorsize,
                you
                hereby acknowledge and consent that Mirrorsize may share such information and data with any
                third party with whom Mirrorsize has a contractual relationship to provide the requested
                product, service or functionality on behalf of Mirrorsize users and customers.</p>
            <p style="font-weight:bold;">Confidential Information and Non-Disclosure</p>
            <p>The term "Confidential Information" shall include all information provided by Mirrorsize to
                you,
                or your affiliates, employees, officers, directors, agents or representatives, including
                without
                limitation, the Web Site and any and all of Mirrorsize's design specifications, drawings,
                written manuals, software programs, business plans, financial information, technical and
                marketing information and evaluations, service plans and customer information designated
                orally
                or in writing as confidential or otherwise which by its nature should be considered
                confidential. For purposes herein, Mirrorsize shall be deemed the "Disclosing Party" and you
                shall be deemed the "Receiving Party." Confidential Information shall not include
                information
                which can be demonstrated: (a) to have been rightfully in the possession of the Receiving
                Party
                from a source other than the Disclosing Party prior to the time of disclosure of said
                information to the Receiving Party ("Time of Disclosure"); (b) to have been in the public
                domain
                prior to the Time of Disclosure; (c) to have become part of the public domain after the Time
                of
                Disclosure by a publication or by any other means, except an unauthorized act or omission or
                breach of this Agreement on the part of the Receiving Party, or its employees; (d) to have
                been
                supplied to the Receiving Party after the Time of Disclosure without restriction by a third
                party who is under no obligation to the Disclosing Party to maintain such information in
                confidence; (e) to be required to be disclosed by law or court order, provided that the
                Receiving Party shall provide the Disclosing Party with prompt notice sufficient for the
                Disclosing Party to have a reasonable opportunity to prevent such disclosure and shall use
                best
                efforts to limit the information to be disclosed, or (f) to have been independently
                developed by
                the Receiving Party, provided that any persons developing same have not had access to
                Confidential Information and have written evidence demonstrating such independent
                development.</p>
            <p>If the Receiving Party or any of its affiliates, employees, officers, directors, agents or
                representatives shall attempt to improperly use or knowingly disclose any of the
                Confidential
                Information, the Disclosing Party shall have the right, in addition to such other remedies
                which
                may be available to it, to injunctive relief enjoining such acts or attempts; it being
                acknowledged that legal remedies are inadequate.</p>
            <p style="font-weight:bold;">Cookies and Other Storage Technologies policy</p>
            <p>Cookies are small pieces of text used to store information on web browsers. Cookies are used
                to
                store and receive identifiers and other information on computers, phones and other devices.
                Other technologies, including data we store on your web browser or device, identifiers
                associated with your device, and other software, are used for similar purposes. In this
                policy,
                we refer to all of these technologies as "cookies".</p>
            <p>We use cookies if you have an account Mirrorsize US Inc., and its subsidiaries including
                company's under the same management (herein "Mirrorsize"), use the Mirrorsize services,
                including our website and apps (whether or not you are registered or logged in), or visit
                other
                websites and apps that use the Mirrorsize Services. This policy explains how Mirrorsize use
                cookies and the choices you have.</p>
            <p>When you visit and login our website, you can browse the website and access important
                information
                without revealing your full identity. In order to improve our website, we use "'cookies" to
                track your visit. A cookie is small amount of data that is transferred to your browser by a
                Web
                server and can only be read by the server that gave it to you. It functions as your
                identification card, and enables Mirrorsize to record your passwords, measurement data, your
                photos and videos, your preferences and other relevant data.</p>
            <p>Most browsers are initially set to accept cookies. You can set your browser to notify you
                when
                you receive a cookie, giving you the chance to decide whether or not to accept it. (For some
                Web
                pages that require an authorization, cookies are not optional. Users choosing not to accept
                cookies will probably not be able to access those pages.)</p>
            <p>While Mirrorsize uses cookies to track your visit to Mirrorsize, and our Web servers
                automatically log the IP/Internet address of your computer, Mirrorsize does not generally
                use
                this information to identify you personally. However, if you expressly provide consent for
                Mirrorsize to "remember" the unique identifier that you select when you register for various
                activities on these Sites, that unique identifier will be stored on a cookie on your
                computer,
                linked to your registration information, and your navigation path around the Sites will be
                tracked. We associate this data to understand how our Sites and services are being used so
                we
                can understand our customers and offer appropriate products and services.</p>
            <p style="font-weight:bold;">Why do we use cookies?</p>
            <p>Cookies help us provide, protect and improve the Mirrorsize Services to provide a safer
                experience. While the cookies that we use may change from time to time as we improve and
                update
                the Mirrorsize Services, they generally fall into the below categories of use:</p>
            <p style="font-weight:bold;"><em>Authentication</em></p>

            <p>We use cookies to verify your account and determine when you're logged in so we can make it
                easier for you to access the Mirrorsize Services and show you the appropriate experience and
                features.</p>
            <p><em>Security, site and product integrity</em></p>
            <p>We use cookies to help us keep your account, data and the Mirrorsize Services safe and
                secure.</p>
            <p>We also use cookies to combat activity that violates our policies or otherwise degrades our
                ability to provide the Mirrorsize Services.</p>
            <p><em>Measurement, preferences, advertisement</em></p>
            <p>We use cookies to help us get data of those who may be interested in our products and
                services.
                We also use cookies to help measure the performance of our services for businesses that use
                the
                Mirrorsize Services. Cookies also allow us to provide insights about body measurements,
                apparel
                sizes, apparel style and designs, who use the Mirrorsize Services... </p>
            <p style="font-weight:bold;"><em>Site features and services</em></p>
            <p>We use cookies to enable the functionality that helps us provide the Mirrorsize Services. We
                also
                use cookies to help provide you with content relevant to you.</p>
            <p style="font-weight:bold;"><em>Performance</em></p>
            <p>We use cookies to provide you with the best experience possible.</p>
            <p style="font-weight:bold;"><em>Analytics and research</em></p>
            <p>We use cookies to better understand how people use the Mirrorsize Services so that we can
                improve
                them.</p>

            <p style="font-weight:bold;">Anti-spam policy</p>

            <p><em>1. Introduction</em></p>
            <p style="margin-left: 1.6%;">In the context of electronic messaging, spam refers to
                unsolicited,
                bulk or indiscriminate messages, typically sent for a commercial purpose. Mirrorsize US
                Inc.,
                and its subsidiaries (herein "Mirrorsize") have a zero-tolerance spam policy.</p>
            <p><em>2. Spam filtering</em></p>
            <p style="margin-left: 1.6%;">Mirrorsize messaging systems automatically scan all incoming email
                and
                other messages and filter out messages that appear to be spam.</p>
            <p style="margin-left: 1.6%;">We may also report incoming email as spam. This can result in IP
                addresses and domain names being blacklisted.</p>
            <p><em>3. Spam filtering issues</em></p>
            <p>a. No message filtering system is 100% accurate, and from time to time legitimate messages
                will
                be filtered-out by our systems. If you believe this has happened to a message you have sent,
                please advise the message recipient by another means.</p>
            <p>b. You can reduce the risk of a message being caught by the spam filters by: sending the
                message
                in plain text (i.e. no HTML), removing any attachments, avoiding the terminology and text
                styling typically used by spammers and ensuring that your messages are scanned for malware
                before dispatch.</p>
            <p><em>4. User spam</em></p>
            <p>a) Mirrorsize provides a facility that enables users to send email messages OR private
                messages
                OR Confidential messages to others. Users are strictly prohibited not use our messaging
                facility
                or any of our other services to store, copy, send, relay or distribute spam.</p>
            <p>b) Full provisions concerning the use of our messaging facility are set out in our website
                terms
                and conditions of use.</p>
            <p><em>5. Receipt of unwanted messages from Mirrorsize</em></p>
            <p style="margin-left: 1.6%;">In the unlikely event that you receive any message from
                <b>Mirrorsize</b> or sent using <b>Mirrorsize</b>'s systems that may be considered to be
                spam,
                please contact <b>Mirrorsize</b> using the details below and the matter will be
                investigated.
            </p>
            <p><em>6. Variation</em></p>
            <p style="margin-left: 1.6%;">Mirrorsize may amend this policy at any time by publishing a new
                version on our website. </p>
            <p><em>7. Our details</em></p>
            <p style="margin-left: 1.6%;">This website is owned and operated by Mirrorsize US Inc., having
                principal place of business is at 626 White Pine Rd, Franklin Lakes, NJ 07417. You can
                contact
                us:</p>
            <p style="margin-left: 1.6%;">(a) by post, using the postal address given above;</p>
            <p style="margin-left: 1.6%;">(b) using our website contact us; or</p>
            <p style="margin-left: 1.6%;">(c) by telephone and fax on the contact number published on our
                website from time to time; or</p>
            <p style="margin-left: 1.6%;">(d) by email, using the email address published on our website
                from
                time to time.</p>
            <p style="font-weight:bold;">Principal Customer- Warranty; Limitation of Liability</p>
            <p>MIRRORSIZE WARRANTS THAT IT HAS THE RIGHT TO PROVIDE THE BODY MEASUREMENT, DRAPING AND OTHER
                FASHION ADVISORY SERVICES. NO OTHER WARRANTIES ARE MADE AND NO RESPONSIBILITY OR LIABILITY
                WILL
                BE ACCEPTED BY MIRRORSIZE WITH RESPECT TO THE BODY MEASUREMENT, DRAPING AND OTHER FASHION
                ADVISORY SERVICES. ALL BODY MEASUREMENT, DRAPING AND OTHER FASHION ADVISORY SERVICES ARE
                PROVIDED "AS IS".</p>
            <p>THE WARRANTY SET FORTH IN SECTION 4.1 IS A LIMITED WARRANTY AND IT IS THE ONLY WARRANTY MADE
                BY
                MIRRORSIZE UNDER THIS AGREEMENT. MIRRORSIZE EXPRESSLY DISCLAIMS, AND CUSTOMER HEREBY
                EXPRESSLY
                WAIVES, ALL OTHER WARRANTIES EXPRESS OR IMPLIED, INCLUDING WARRANTIES OF MERCHANTABILITY AND
                FITNESS FOR A PARTICULAR PURPOSE OR USE. MIRRORSIZE DOES NOT WARRANT THAT THE SERVICES WILL
                MEET
                CUSTOMER'S REQUIREMENTS OR WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT ERRORS WILL BE
                CORRECTED. MIRRORSIZE'S LIMITED WARRANTY IS IN LIEU OF ALL LIABILITIES OR OBLIGATIONS OF
                MIRRORSIZE FOR DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE SERVICES PROVIDED UNDER THIS
                AGREEMENT. EXCEPT FOR THE ABOVE LIMITED WARRANTY, THE ENTIRE RISK OF THE BODY MEASUREMENT,
                DRAPING AND OTHER FASHION ADVISORY SERVICES IS WITH CUSTOMER.</p>
            <p>IN NO EVENT SHALL MIRRORSIZE BE LIABLE TO CUSTOMER, ITS EMPLOYEES, AGENTS OR ANY OTHER THIRD
                PARTIES FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES
                OR
                LOSSES, INCLUDING WITHOUT LIMITATION LOSS OF USE, LOSS OF OR DAMAGE TO RECORDS OR DATA, COST
                OF
                PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY, REVENUE AND/OR PROFITS, SUSTAINED
                OR
                INCURRED REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, INCLUDING
                WITHOUT LIMITATION NEGLIGENCE, STRICT LIABILITY, INDEMNITY OR OTHERWISE, AND WHETHER OR NOT
                SUCH
                DAMAGES WERE FORESEEN OR UNFORESEEN AND REGARDLESS OF WHETHER MIRRORSIZE HAD RECEIVED NOTICE
                OR
                HAD BEEN ADVISED, OR KNEW OR SHOULD HAVE KNOWN, OF THE POSSIBILITY OF SUCH DAMAGES OR
                LOSSES.
                WITHOUT LIMITATION OF THE FOREGOING, MIRRORSIZE'S MAXIMUM LIABILITY FOR ANY AND ALL LOSSES
                OR
                DAMAGES (INCLUDING WITHOUT LIMITATION ANY LEGAL FEES OR EXPENSES) INCURRED BY CUSTOMER IN
                CONNECTION WITH THIS AGREEMENT SHALL NOT EXCEED THE FEES FOR THE CAMPAIGN MANAGEMENT
                SERVICES
                (AND ANY ADDITIONAL SERVICES, IF APPLICABLE) ACTUALLY PAID TO MIRRORSIZE BY CUSTOMER DURING
                THE
                TWELVE (12) MONTH PERIOD IMMEDIATE PRECEDING THE EVENT CREATING SUCH LIABILITY. IN NO EVENT
                SHALL MIRRORSIZE BE LIABLE FOR ANY CLAIM THAT AROSE MORE THAN ONE (1) YEAR PRIOR TO THE
                INSTITUTION OF A SUIT THEREON.</p>
            <p style="font-weight:bold;">Customer of Customer – No Warranty; Limitation of Liability</p>
            <p>MIRRORSIZE PROVIDES THE SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION,
                EXPRESS,
                IMPLIED OR STATUTORY. MIRRORSIZE SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY,
                INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT. SOME STATES DO NOT ALLOW THE DISCLAIMER OF
                IMPLIED WARRANTIES, SO THE FOREGOING DISCLEIMER MAY NOT APPLY TO YOU. YOU UNDERSATND AND
                AGREE
                THAT YOU USE THE SITE AND SERVICES AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE
                SOLELY
                RESPONSIBLE FOR ANY DAMAGES THAT ARISE FROM SUCH USE. UNDER NO CIRCUMSTANCES SHALL
                MIRRORSIZE BE
                LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF
                ANY
                KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING
                WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND
                INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH
                ANY
                LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF
                USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT MIRRORSIZE HAS BEEN ADVISED OF SUCH
                POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH THIS SITE OR SERVICES
                OR
                WITH MIRRORSIZE SHALL BE TO TERMINATE USE OF THIS SITE AND SERVICES. SOME STATES DO NOT
                ALLOW
                THE EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVEEXCLUSIONS
                MAY
                NOT APPLY TO YOU.</p>
            <p style="font-weight:bold;">No Unlawful or Prohibited Use / Intellectual Property</p>
            <p>You are granted a non-exclusive, non-transferable, revocable license to access and use our
                Services strictly in accordance with these Terms. As a condition of your use of our
                Services,
                you warrant to Mirrorsize that you will not use the Services for any purpose that is
                unlawful or
                prohibited by these Terms. You may not use the Services in any manner which could damage,
                disable, overburden, or impair the Services or interfere with any other party's use and
                enjoyment of the Services. You may not obtain or attempt to obtain any materials or
                information
                through any means not intentionally made available or provided for through the Services.</p>
            <p>All content included as part of the Services, such as text, graphics, logos, images, data,
                results, ideas, plans, sketches, links, as well as the compilation thereof, and any software
                used on the Services, is the property of Mirrorsize or its suppliers and protected by
                copyright
                and other laws that protect intellectual property and proprietary rights. You agree to
                observe
                and abide by all copyright and other proprietary notices, legends or other restrictions
                contained in any such content and will not make any changes thereto.</p>
            <p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or
                sale,
                create derivative works, or in any way exploit any of the content, in whole or in part,
                found on
                the Services. Mirrorsize content is not for resale. Your use of the Services does not
                entitle
                you to make any unauthorized use of any protected content, and in particular you will not
                delete
                or alter any proprietary rights or attribution notices in any content. You will use
                protected
                content solely for your personal use, and will make no other use of the content without the
                express written permission of Mirrorsize and the copyright owner. You agree that you do not
                acquire any ownership rights in any protected content. We do not grant you any licenses,
                express
                or implied, to the intellectual property of Mirrorsize or our licensors except as expressly
                authorized by these Terms.</p>
            <p>You shall not upload to, distribute, or otherwise publish through the Services any content,
                information, or other material that (a) violates or infringes the copyrights, patents,
                trademarks, service marks, trade secrets, or other proprietary rights of any person; (b) is
                libelous, threatening, defamatory, obscene, indecent, pornographic, or could give rise to
                any
                civil or criminal liability under U.S. or international law; or (c) includes any bugs,
                viruses,
                worms, trap doors, backdoors, rootkits, Trojan horses or other malicious or harmful code or
                properties.</p>
            <p>Anything that you submit or post in the Services and/or provide us, including without
                limitation,
                ideas, know-how, techniques, questions, reviews, images, videos, comments, and suggestions
                (collectively, Submissions) is and will be treated as non-confidential and nonproprietary,
                and
                we shall have the royalty-free, worldwide, perpetual, irrevocable and transferable right to
                use,
                copy, distribute, display, publish, perform, sell, lease, transmit, adapt, create derivative
                works from such Submissions by any means and in any form, and to translate, modify,
                reverse-engineer, disassemble, or decompile such Submissions. All Submissions shall
                automatically become our sole and exclusive property and shall not be returned to you. You
                represent and warrant that you own or otherwise control all of the rights in and to the
                Submissions that you post and have the right to grant Mirrorsize the license granted
                herein.</p>
            <p>We do not undertake to and are not responsible for screening, policing, editing or monitoring
                Submissions, and cannot ensure prompt removal of objectionable material after it has been
                posted. If notified of allegedly infringing, defamatory, damaging, illegal or offensive
                Submissions, we may investigate the allegation and determine in our sole discretion whether
                to
                remove or request the removal of such Submissions from the Services.</p>
            <p style="font-weight:bold;">International Users</p>
            <p>The Services are controlled, operated and administered by Mirrorsize from our offices within
                the
                USA and in India. If you access the Service from a location outside the USA and India, you
                are
                responsible for compliance with all local laws. You agree that you will not use the
                Mirrorsize
                Content accessed through our Services in any country or in any manner prohibited by any
                applicable laws, restrictions or regulations.</p>
            <p style="font-weight:bold;">Privacy</p>
            <p>The use of the Services herein is also governed by our <a routerLink="/privacy-policy">Privacy
                    Policy</a>
                <p style="font-weight:bold;">Termination</p>
                <p>Mirrorsize reserves the right, in its sole discretion, to terminate your access to the
                    Services
                    or any portion thereof at any time, without notice. To the maximum extent permitted by law,
                    this
                    agreement is governed by the laws of the State of California and you hereby consent to the
                    exclusive jurisdiction and venue of courts in California in all disputes arising out of or
                    relating to the use of the Services. Use of the Services is unauthorized in any jurisdiction
                    that does not give effect to all provisions of these Terms, including, without limitation,
                    this
                    section.</p>
                <p>ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE,
                    OR
                    THE SERVICES MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES,
                    OTHERWISE,
                    SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.</p>
                <p>You agree that no joint venture, partnership, employment, or agency relationship exists
                    between
                    you and Mirrorsize as a result of this agreement or use of the Services. Mirrorsize's
                    performance of this agreement is subject to existing laws and legal process, and nothing
                    contained in this agreement is in derogation of Mirrorsize's right to comply with
                    governmental,
                    court and law enforcement requests or requirements relating to your use of the Services or
                    information provided to or gathered by Mirrorsize with respect to such use. If any part of
                    this
                    agreement is determined to be invalid or unenforceable pursuant to applicable law including,
                    but
                    not limited to, the warranty disclaimers and liability limitations set forth above, then the
                    invalid or unenforceable provision will be deemed superseded by a valid, enforceable
                    provision
                    that most closely matches the intent of the original provision and the remainder of the
                    agreement shall continue in effect.</p>
                <p>Unless otherwise specified herein, this agreement constitutes the entire agreement between
                    the
                    user and Mirrorsize with respect to the Services and it supersedes all prior or
                    contemporaneous
                    communications and proposals, whether electronic, oral or written, between the user and
                    Mirrorsize with respect to the Services. A printed version of this agreement and of any
                    notice
                    given in electronic form shall be admissible in judicial or administrative proceedings based
                    upon or relating to this agreement to the same extent and subject to the same conditions as
                    other business documents and records originally generated and maintained in printed form. It
                    is
                    the express wish to the parties that this agreement and all related documents be written in
                    English.</p>
                <p style="font-weight:bold;">Changes to Terms</p>
                <p>Mirrorsize reserves the right, in its sole discretion, to change the Terms under which our
                    Services are offered. The most current version of the Terms will supersede all previous
                    versions. Mirrorsize encourages you to periodically review the Terms to stay informed of our
                    updates. Your continued use of the Services following the posting of revised Terms or other
                    policies means that you accept and agree to the changes.</p>
                <p style="font-weight:bold;">Surveys & Contests </p>
                <p>From time-to-time our site requests information via surveys or contests. Participation in
                    these
                    surveys or contests is completely voluntary and you may choose whether or not to participate
                    and
                    therefore disclose this information. Information requested may include contact information
                    (such
                    as name and shipping address), and demographic information (such as zip code, age level).
                    Contact information will be used to notify the winners and award prizes. Survey information
                    will
                    be used for purposes of monitoring or improving the use and satisfaction of this site.</p>
                <p style="font-weight:bold;">Miscellaneous</p>
                <p>laws principles. If any provision of the Terms is adjudged to be illegal or unenforceable,
                    the
                    continuation in full force of the remainder of the Terms will not be prejudiced, and the
                    illegal
                    or unenforceable provision of the Terms shall be severed accordingly. Any notices must be
                    sent
                    to Mirrorsize in English at <u><a href="info@Mirrorsize.com"
                            target="_blank">info@Mirrorsize.com</a></u></p>
                <p style="font-weight:bold;">Digital Millennium Copyright Act</p>
                <p>Mirrorsize respects the intellectual property of others, and we ask our users to do the same.
                    It
                    is our policy to respond to clear notices of alleged copyright infringement. This page
                    describes
                    the information that should be present in these notices. The form of notice specified below
                    is
                    consistent with the form suggested by the United States Digital Millennium Copyright Act
                    (the
                    text of which can be found at the U.S. Copyright Office Web Site,<u> <a
                            href="http://www.copyright.gov" target="_blank"> http://www.copyright.gov</a></u> ).
                </p>
                <p>Regardless of whether we may be liable for such infringement under local country law or
                    United
                    States law, our response to these notices may include removing or disabling access to
                    material
                    claimed to be the subject of infringing activity and/or terminating user accounts. If we
                    remove
                    or disable access in response to such a notice, we will make a good-faith attempt to contact
                    the
                    owner or administrator of the affected site or content. We may also document notices of
                    alleged
                    infringement on which we act. Please note that in addition to being forwarded to the person
                    who
                    provided the allegedly infringing content, a copy of this legal notice may be sent to a
                    third-party which may publish and/or annotate it. Your letter (with your personal
                    information
                    removed) may be forwarded to Chilling Effects for publication and a link to your published
                    letter may be displayed on Mirrorsize in place of the removed content.</p>
                <p>To file a notice of infringement with us, you must provide a written communication (by fax or
                    regular mail only–not by email) that sets forth the items specified below. Please note that
                    you
                    will be liable for damages (including costs and attorneys' fees) if you materially
                    misrepresent
                    that a product or activity is infringing your copyrights. If you are not sure whether
                    material
                    available online infringes your copyright, we suggest that you first contact an
                    attorney.</p>
                <p>To expedite our ability to process your request, please use the following format (including
                    section numbers):</p>
                <p>1. Identify in sufficient detail the copyrighted work that you believe has been infringed
                    upon
                    (or other information sufficient to specify the copyrighted work being infringed.</p>
                <p>2. Identify the material that you claim is infringing the copyrighted work listed in item #1
                    above. You must provide the URL to each Mirrorsize page that allegedly contains infringing
                    material.</p>
                <p>3. Provide your address, telephone number, and email address such that Mirrorsize can contact
                    you.</p>
                <p>4. Provide information, if possible, sufficient to permit Mirrorsize to notify the
                    owner/administrator of the allegedly infringing webpage or other content (email address is
                    preferred).</p>
                <p>5. Include the following statement: "I have a good faith belief that use of the copyrighted
                    materials described above as allegedly infringing is not authorized by the copyright owner,
                    its
                    agent, or the law."</p>
                <p>6. Include the following statement: "I swear, under penalty of perjury, that the information
                    in
                    the notification is accurate and that I am the copyright owner or am authorized to act on
                    behalf
                    of the owner of an exclusive right that is allegedly infringed."</p>
                <p>7. Sign the paper.</p>
                <p>8. Send the written communication to the following address (contact us):</p>
                <p style="font-weight:bold;">Contact Us</p>
                <p>Mirrorsize welcomes your questions or comments regarding the Terms:<br /><br />

                    Mirrorsize US Inc., 626 White Pine Rd Franklin Lakes, NJ 07417<br /><br />

                    Email Address: support@mirrorsize.com<br /><br />

                    Telephone number: +1 732-369-6885<br /><br />

                    December 25, 2017</p>
                <p style="margin-top: 10px;"></p>
        </div>
    </div>
</div>
