<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow" id="headerShow" [ngClass]="{'display':!msservice.isLoggedIn()}">
        <div class="app-header__logo">
            <div><img src="../assets/img/logo.png" style="width:80%"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>
        <div class="app-header__content" style="overflow:unset">
            <div class="app-header-left" style="display:block;width:80%">
                <div class="row">
                    <div style="margin:auto;text-align:center">
                        <h3 id="headingTitle" #headingTitle></h3>
                    </div>
                </div>
            </div>
            <div class="app-header-right">
                <div class="header-dots">
                    
                    <!-- <div class="dropdown">
                        <button type="button" (click)="notification()" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                            class="p-0 mr-2 btn btn-link">
                            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <span class="icon-wrapper-bg bg-danger"></span>
                                <i class="icon text-danger icon-anim-pulse fa fa-bell bell"></i>
                                <span class="badge badge-dot badge-dot-sm badge-danger"></span>
                            </span>
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" id="showNotification"
                            class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(42px, 46px, 0px);">
                            <div class="dropdown-menu-header mb-0">
                                <div class="dropdown-menu-header-inner bg-deep-blue">
                                    <div class="menu-header-image opacity-1"
                                        style="background-image: url('assets/images/dropdown-header/city3.jpg');"></div>
                                    <div class="menu-header-content text-dark">
                                        <h5 class="menu-header-title">Notifications</h5>
                                        <h6 class="menu-header-subtitle">You have <b>21</b> unread messages</h6>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-messages-header" role="tabpanel">
                                    <div class="scroll-area-sm">
                                        <div class="scrollbar-container ps">
                                            <div class="p-3">
                                                <div class="notifications-box">
                                                    <div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column">
                                                        <div class="vertical-timeline-item dot-danger vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                                <div class="vertical-timeline-element-content bounce-in">
                                                                    <h4 class="timeline-title">All Hands Meeting</h4>
                                                                    <span class="vertical-timeline-element-date"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                                </div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn"></a>
                                    <div class="dropdown">
                                        <button class="dropbtn">
                                            <img *ngIf="logoImage!=''" src="{{logoImage}}" class="rounded-circle"
                                                alt="avatar image">
                                            <img *ngIf="logoImage==''" src="assets/img/compnay.jpg"
                                                class="rounded-circle" alt="avatar image">

                                        </button>
                                        <div class="dropdown-content" id="drpContent">
                                            <a class="dropdown-item" routerLink="/company-profile"><i
                                                    class="fas fa-cog icon"></i> Account settings</a>
                                            <a class="dropdown-item" routerLink="/support"><i
                                                    class="fas fa-phone icon"></i> Support</a>
                                            <a class="dropdown-item" (click)="logout()" style="cursor:pointer"><i
                                                    class="fas fa-sign-out-alt icon"></i> Logout</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    {{companyName}}
                                </div>
                                <div class="widget-subheading">
                                    {{uid}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-main" [ngClass]="{'main-inner':!msservice.isLoggedIn()}">
        <div class="app-sidebar sidebar-shadow" [ngClass]="{'display':!msservice.isLoggedIn()}">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading">Dashboards</li>
                        <li routerLink="/graph">
                            <a routerLink="/graph" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>

                        <li class="app-sidebar__heading" [ngClass]="{'display':!isGetMeasured}">MS GetMeasured</li>
                        <li [ngClass]="{'display':!isGetMeasured}">

                            <a>
                                <i class="metismenu-icon fas fa-boxes"></i>
                                MS GetMeasured
                                <i class="metismenu-state-icon fas fa-angle-down caret-left"></i>
                            </a>
                            <ul>

                                <li routerLink="/guidedtour">
                                    <a routerLink="/guidedtour" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Guided tour
                                    </a>
                                </li>


                                <li routerLink="users/GetMeasured">
                                    <a routerLink="users/GetMeasured" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Users
                                    </a>
                                </li>

                                <li routerLink="apparel/GetMeasured">
                                    <a routerLink="apparel/GetMeasured" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Apparels
                                    </a>
                                </li>

                                <li routerLink="merchant-acceess-code">
                                    <a routerLink="merchant-acceess-code" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>User login details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="app-sidebar__heading" [ngClass]="{'display':!isSize2Fit}">MS Size2Fit</li>
                        <li [ngClass]="{'display':!isSize2Fit}">
                            <a>
                                <i class="metismenu-icon fas fa-boxes"></i>
                                MS Size2Fit
                                <i class="metismenu-state-icon fas fa-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li routerLink="/guidedtours2f">
                                    <a routerLink="/guidedtours2f" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Guided tour
                                    </a>
                                </li>

                                <li routerLink="user/Size2Fit">
                                    <a routerLink="user/Size2Fit" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Users
                                    </a>
                                </li>

                                <li routerLink="apparel-s2f/SIZE2FIT">
                                    <a routerLink="apparel-s2f/SIZE2FIT" routerLinkActive="active" id="s2f">
                                        <i class="metismenu-icon">
                                        </i>Apparels
                                    </a>
                                </li>

                                <li routerLink="/access-code-s2f">
                                    <a routerLink="/access-code-s2f" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>User login details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="app-sidebar__heading" id="Qsize-show0">MS QuickSize</li>
                        <li id="Qsize-show1">
                            <a>
                                <i class="metismenu-icon fas fa-boxes"></i>
                                MS QuickSize
                                <i class="metismenu-state-icon fas fa-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li routerLink="/guidedtourqs">
                                    <a routerLink="/guidedtourqs" routerLinkActive="active">
                                        <i class="metismenu-icon"></i>Guided tour
                                    </a>
                                </li>
                              
                                <li routerLink="/sizechartquicksize">
                                    <a routerLink="/sizechartquicksize" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Upload size charts
                                    </a>
                                </li>

                                <li routerLink="/userquicksize">
                                    <a routerLink="/userquicksize" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Users
                                    </a>
                                </li>

                                <li routerLink="/checkrecomandation">
                                    <a routerLink="/checkrecomandation" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Demo
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="app-sidebar__heading" id="Msize-show1">MS MySize</li>
                        <li id="Msize-show0">
                            <a>
                                <i class="metismenu-icon fas fa-boxes"></i>
                                MS MySize
                                <i class="metismenu-state-icon fas fa-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li routerLink="/guidedtourms">
                                    <a routerLink="/guidedtourms" routerLinkActive="active">
                                        <i class="metismenu-icon"></i>Guided tour
                                    </a>
                                </li>
                                <li routerLink="/sizechartmysize">
                                    <a routerLink="/sizechartmysize" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Upload size charts
                                    </a>
                                </li>
                                <li routerLink="/mysizelisting">
                                    <a routerLink="/mysizelisting" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Add coupons
                                    </a>
                                </li>
                                <li routerLink="/usermysize">
                                    <a routerLink="/usermysize" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Users
                                    </a>
                                </li>
                                <li routerLink="/coupanhistory">
                                    <a routerLink="/coupanhistory" routerLinkActive="active">
                                        <i class="metismenu-icon">
                                        </i>Coupon history
                                    </a>
                                </li>
                               
                            </ul>
                        </li>

                        <li class="app-sidebar__heading" >Resources</li>
                        <li routerLink="/resources">
                            <a routerLink="/resources" *ngIf="isGetMeasured||isSize2Fit" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-code"></i>
                                Developers help
                            </a>
                        </li>
                        <li routerLink="/measurementguide">
                            <a routerLink="/measurementguide" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-code"></i>
                                Measurement guide
                            </a>
                        </li>
                        <li class="app-sidebar__heading">Payment & subscription</li>
                        <li routerLink="/reports">
                            <a routerLink="/reports" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-receipt"></i>
                                Click report
                            </a>
                        </li>
                        <!-- <li routerLink="/payment">
                            <a routerLink="/payment" routerLinkActive="active">
                                <i class="metismenu-icon fab fa-cc-mastercard"></i>
                                Payment
                            </a>
                        </li> -->

                        <li class="app-sidebar__heading">Products</li>

                        <li>
                            <a  routerLinkActive="active">
                                <i class="metismenu-icon fas fa-receipt"></i>
                                Ms GetMeasured 
                                <span id="gm0">
                                    <i class="fas fa-check-circle mr-2" [ngClass]="{'clr':isGetMeasured}"></i>
                                </span>
                                <span id="gm1" (click)="productSelect('gm')" class="badge badge-danger"  style="font-size: 10px !important;padding: 5px;cursor: pointer;">Subscribe</span>
                                <span class="paybutton" routerLink="/upgradeplangm" id="paygm">Pay Now</span>
                            </a>
                        </li>

                        <li>
                            <a  routerLinkActive="active">
                                <i class="metismenu-icon fas fa-receipt"></i>
                                Ms Size2Fit 
                                <span id="s2f0">
                                    <i class="fas fa-check-circle mr-2" [ngClass]="{'clr':isSize2Fit}"></i>
                                </span>
                                <span id="s2f1" (click)="productSelect('sf')" class="badge badge-danger" style="font-size: 10px !important;padding: 5px;cursor: pointer;">Subscribe</span>
                                <span class="paybutton" routerLink="/upgradeplansf" id="pays2f">Pay Now</span>
                            </a>
                        </li>

                        <li style="font-size: 10px !important;cursor: pointer;">
                            <a  routerLinkActive="inactive">
                                <i class="metismenu-icon fas fa-receipt"></i>
                                Ms MySize 
                                <span id="msize0">
                                    <i class="fas fa-check-circle mr-2" [ngClass]="{'clr':isMySize}"></i>
                                </span>
                                <span id="msize1" (click)="productSelect('ms')" class="badge badge-danger"  style="font-size: 10px !important;padding: 5px;cursor: pointer;">
                                    Subscribe
                                </span>

                                <span class="paybutton" (click)="gotoSubscription('ms')" id="payms">Pay Now</span>
                            </a>
                        </li>

                        <li style="font-size: 10px !important;cursor: pointer;">
                            <a routerLinkActive="inactive">
                                <i class="metismenu-icon fas fa-receipt"></i>
                                Ms QuickSize 
                                <span id="qsize0">
                                    <i class="fas fa-check-circle mr-2" [ngClass]="{'clr':isQuickSize}"></i>
                                </span>
                                <span id="qsize1" (click)="productSelect('qs')" style="font-size: 10px !important;padding: 5px;cursor: pointer;" class="badge badge-danger" >
                                    Subscribe
                                </span>

                                <span class="paybutton" (click)="gotoSubscription('qs')" id="payqs">Pay Now</span>

                            </a>    
                        </li>

                        <li class="app-sidebar__heading">Agreement</li>
                        <li routerLink="/privacy-policy">
                            <a routerLink="/privacy-policy" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-user-secret"></i>
                                Privacy policy
                            </a>
                        </li>
                        <li routerLink="/terms-and-conditions">
                            <a routerLink="/terms-and-conditions" routerLinkActive="active">
                                <i class="metismenu-icon fas fa-file-contract"></i>
                                Terms & conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="app-main__outer" id="outerMain" [ngClass]="{'outer-main':!msservice.isLoggedIn()}">
            <div class="app-main__inner" style="background: #fff" [ngClass]="{'main-inner':!msservice.isLoggedIn()}">
                <router-outlet></router-outlet>
            </div>
            <div class="app-wrapper-footer" [ngClass]="{'display':!msservice.isLoggedIn()}">
                <div class="app-footer">
                    <div class="app-footer__inner">
                        <!-- <div class="footer-dots">
                            <div class="dropdown">
                                <a class="dot-btn-wrapper dd-chart-btn-2 " (click)="products()" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fab fa-buromobelexperte" style="color: rgb(255, 136, 0)"> Products</i></a>
                                <div tabindex="-1" id="showProducts" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -4px, 0px);">
                                    <div class="dropdown-menu-header">
                                        <div class="dropdown-menu-header-inner pt-4 pb-4 bg-focus">
                                            <div class="menu-header-image opacity-05" style="background-image: url('assets/images/dropdown-header/city2.jpg');"></div>
                                            <div class="menu-header-content text-center text-white">
                                                <h6 class="menu-header-subtitle mt-0">
                                                    Choose product
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <button *ngIf="!isGetMeasured" style="padding: inherit;" type="button" (click)="productSelect('gm')"  tabindex="0" class="dropdown-item">
                                       <h2 class="card-header" style="background: white;width: inherit;" >MS GetMeasured <i class="fa fa-arrow-right" style="color:coral; margin: 10px;" aria-hidden="true"></i></h2>
                                    </button>
                                    <button *ngIf="!isSize2Fit" style="padding: inherit;" type="button" (click)="productSelect('sf')" tabindex="0" class="dropdown-item">
                                        <h2 class="card-header" style="background: white;width: inherit;">MS Size2Fit <i class="fa fa-arrow-right" style="color:coral; margin: 10px;" aria-hidden="true"></i></h2>
                                    </button>
                                    <button *ngIf="!isMySize" style="padding: inherit;" type="button" (click)="productSelect('ms')" tabindex="0" class="dropdown-item">
                                        <h2 class="card-header" style="background: white;width: inherit;">MS MySize <i class="fa fa-arrow-right" style="color:coral; margin: 10px;" aria-hidden="true"></i></h2>
                                    </button>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-sm-3" style="margin:auto">
                            <p>Copyright 2019 Mirrorsize US Inc.</p>
                            <div class="AuthorizeNetSeal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>