
/*-----navigation toggle---------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1d1d1d;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 210px;
  }
}










.footer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  color: white;
  height: 110px;
}
#content{
  background-color:white;
     
  font-family: 'Raleway', sans-serif;
  color: DimGray;
}
#content{
  margin: 0px;
}