
<div class="main-card mb-3 card" *ngIf="gmexpired && gm">
  <div class="card-header" style="color:red">Your free trial has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your free trial period has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data saved during your free
      trial period is
      secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button routerLink="/upgradeplangm" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div class="main-card mb-3 card" *ngIf="sfexpired && sf">
  <div class="card-header" style="color:red">Your free trial has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your free trial period has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data saved during your free
      trial period is
      secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button routerLink="/upgradeplansf" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>


<div class="main-card mb-3 card" *ngIf="qsexpired && qs">
    <div class="card-header" style="color:red">Your free trial has expired</div>
    <div class="card-body">
      <p>Thank you for using Mirrorsize. Your free trial period has expired and to continue using Mirrorsize, we recommend
        you to upgrade
        your plan now. Please choose a plan to upgrade to continue using your account. Your data saved during your free
        trial period is
        secured and you will get full access to all your data after you upgrade and choose a plan.</p>
      <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
        product features.</p>
      <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
      <p class="mb-0">Keep enjoying Mirrorsize.</p>
    </div>
    <div class="d-block text-right card-footer">
      <button routerLink="/upgradeplansf" class="btn btn-primary btn-lg">Upgrade</button>
    </div>
</div>
  
<div class="row">
  <div class="col-sm-12">
    <div class="card-body">
        <ul class="tabs-animated-shadow tabs-animated nav mb-5">
            <li class="nav-item">
                <a (click)="key('gm')" *ngIf="planDetailGM" role="tab" class="nav-link show active" id="tab-c-0" data-toggle="tab" href="#tab-animated-0" aria-selected="true">
                    <span>GetMeasured</span>
                </a>
            </li>
            <li class="nav-item">
                <a *ngIf="planDetailS2F" (click)="key('sf')" role="tab" class="nav-link show" id="tab-c-1" data-toggle="tab" href="#tab-animated-1" aria-selected="false">
                    <span>Size2fit</span>
                </a>
            </li>
            <li class="nav-item">
                <a role="tab" *ngIf="planDetailsQS" (click)="key('qs')" class="nav-link show" id="tab-c-2" data-toggle="tab" href="#tab-animated-2" aria-selected="false">
                    <span>QuickSize</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-animated-0" role="tabpanel">
                <div class="row">
      
                    <div class="col-sm-12">
                      <div *ngIf="!gmexpired && gm" class="col-sm-12" style="margin-bottom:20px">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title"><a>Your Credentials</a></h4>
                              <p class="card-text font-weight-bold mb-3">Merchant Id : {{merchantId}}</p>
                              <p class="card-text font-weight-bold mb-3" *ngIf="planDetailGM">API Key GetMeasured : {{planDetailGM.apiKey}}
                            </div>
                          </div>
                        </div>
                    </div>
                 
                      <div class="col-sm-12 col-md-3 col-xl-3">
                          <div class="card mb-3 widget-chart">
                            <div class="widget-chart-content">
                              <div class="widget-numbers text-center mt-4 mb-2">
                                <img src="../../assets/img/getms.png" style="width:50%;">
                              </div>
                              <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Web Api</div>
                              <div class="widget-description opacity-8 text-center">
                                <a class="btn btn-link" (click)="view('getms')">View & Download</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                        <div class="col-sm-12 col-md-3 col-xl-3">
                          <div class="card mb-3 widget-chart">
                            <div class="widget-chart-content">
                              <div class="widget-numbers text-center mt-4 mb-2">
                                <img src="../../assets/img/size2fit.png" style="width:30%;">
                              </div>
                              <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Web Api</div>
                              <div class="widget-description opacity-8 text-center">
                                <a class="btn btn-link" (click)="view('s2f')">View & Download</a>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      
                        <div class="col-sm-12 col-md-3 col-xl-3">
                          <div class="card mb-3 widget-chart">
                            <div class="widget-chart-content">
                              <div class="widget-numbers text-center mt-4 mb-2">
                                <img src="../../assets/img/android-flat.png" class="logo">
                              </div>
                              <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Mobile SDKs</div>
                              <div class="widget-description opacity-8 text-center">
                                <a class="btn btn-link" (click)="view('android')">View & Download</a>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      
                        <div class="col-sm-12 col-md-3 col-xl-3">
                          <div class="card mb-3 widget-chart">
                            <div class="widget-chart-content">
                              <div class="widget-numbers text-center mt-4 mb-2">
                                <img src="../../assets/img/apple-512.png" class="logo">
                              </div>
                              <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Mobile SDKs</div>
                              <div class="widget-description opacity-8 text-center">
                                <a class="btn btn-link" (click)="view('ios')">View & Download</a>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                  </div>
            </div>
            <div class="tab-pane show" id="tab-animated-1" role="tabpanel">
                <div class="row">
    
                    <div class="col-sm-12">
                      <div  class="col-sm-12" style="margin-bottom:20px">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title"><a>Your Credentials</a></h4>
                                <p class="card-text font-weight-bold mb-3">Merchant Id : {{merchantId}}</p>
                                <p class="card-text font-weight-bold mb-3">API Key SIZE2FIT : {{planDetailS2F.apiKey}}
                              </div>
                            </div>
                      </div>
                    </div>  
                  
                    <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card mb-3 widget-chart">
                          <div class="widget-chart-content">
                            <div class="widget-numbers text-center mt-4 mb-2">
                              <img src="../../assets/img/getms.png" style="width:50%;">
                            </div>
                            <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Web Api</div>
                            <div class="widget-description opacity-8 text-center">
                              <a class="btn btn-link" (click)="view('getms')">View & Download</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card mb-3 widget-chart">
                          <div class="widget-chart-content">
                            <div class="widget-numbers text-center mt-4 mb-2">
                              <img src="../../assets/img/size2fit.png" style="width:30%;">
                            </div>
                            <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Web Api</div>
                            <div class="widget-description opacity-8 text-center">
                              <a class="btn btn-link" (click)="view('s2f')">View & Download</a>
                            </div>
                          </div>
                    
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card mb-3 widget-chart">
                          <div class="widget-chart-content">
                            <div class="widget-numbers text-center mt-4 mb-2">
                              <img src="../../assets/img/android-flat.png" class="logo">
                            </div>
                            <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Mobile SDKs</div>
                            <div class="widget-description opacity-8 text-center">
                              <a class="btn btn-link" (click)="view('android')">View & Download</a>
                            </div>
                          </div>
                    
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card mb-3 widget-chart">
                          <div class="widget-chart-content">
                            <div class="widget-numbers text-center mt-4 mb-2">
                              <img src="../../assets/img/apple-512.png" class="logo">
                            </div>
                            <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Mobile SDKs</div>
                            <div class="widget-description opacity-8 text-center">
                              <a class="btn btn-link" (click)="view('ios')">View & Download</a>
                            </div>
                          </div>
                    
                        </div>
                      </div>
                  
                  
                   </div>
            </div>
            <div class="tab-pane show" id="tab-animated-2" role="tabpanel">
                <div class="row">
                    <div class="col-sm-12">
                       <div *ngIf="!qsexpired && qs" class="col-sm-12" style="margin-bottom:20px">
                           <div class="card">
                             <div class="card-body">
                               <h4 class="card-title"><a>Your Credentials</a></h4>
                               <p class="card-text font-weight-bold mb-3">Merchant Id : {{merchantId}}</p>
                               <p class="card-text font-weight-bold mb-3" *ngIf="planDetailGM">API Key QUICKSIZE : {{planDetailsQS.apiKey}}
                             </div>
                           </div>
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card mb-3 widget-chart">
                          <div class="widget-chart-content">
                            <div class="widget-numbers text-center mt-4 mb-2">
                              <img src="../../assets/img/QuickSize.png" style="width:50%;">
                            </div>
                            <div class="widget-subheading fsize-1 opacity-10 text-danger font-weight-bold text-center">Web Api</div>
                            <div class="widget-description opacity-8 text-center">
                              <a class="btn btn-link" (click)="view('getqs')">View & Download</a>
                            </div>
                          </div>
                        </div>
                      </div>


                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
  

<div class="modal fade" id="apikeyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get API Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="password" placeholder="Please enter your current password" class="form-control" [(ngModel)]="pass">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getKey()">Submit</button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>