text-center{
    text-align: center;
}
.logo{width:9%}

.raw{
    padding:20px;
    margin-bottom: 10px;
}

h3{
    padding: 10px;
    background: #eee;
    margin-bottom: 20px;
}


.page-wrapper {
    height: 100vh;
  }
  
  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .page-wrapper .theme.chiller-theme {
    background: #1d1d1d;
  }
  
  /*----------------toggeled sidebar----------------*/
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 235px;
    }
  }