<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="expired">
  <div class="card-header" style="color:red">Your subscription has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your subscription period has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button (click)="gotoSubscription()" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div *ngIf="!expired" class="row">
  <div class="col-sm-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Serach by">
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="searchKey">
              <option value="merchant_name">Brand Name</option>
              <option value="voucher">Coupon Number</option>
            </select>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-primary" style="letter-spacing: normal;text-transform: inherit" (click)="searchCoupon()">Search</button>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger" style="letter-spacing: normal;text-transform: inherit" (click)="clear()">Clear</button>
          </div>
          <div class="col-sm-6" style="text-align:right">
            <button style="letter-spacing: normal;text-transform: inherit" class="mr-2 btn btn-link">Total Records Found <span class="badge badge-pill badge-success">
                {{count}}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <nav class="pagination-rounded pull-right">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </nav>
  
  </div>


  <div class="col-sm-12">
    <p><span style="color:red">* </span> Only coupon with “Active” status will be displayed on Mirrorsize platform. If you do not want to display a particular coupon on Mirrorsize platform, simply “deactivate” the coupon.</p>
  </div>

  <div class="col-sm-12">
    <div class="main-card mb-3 card">
      <div class="card-header"> List of coupons</div>
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th>S.No</th>
                <th scope="col">Brand Name</th>
                <!-- <th scope="col">Email Id</th> -->
                <!-- <th scope="col" style="width: 25%">Description</th> -->
                <th scope="col">Coupon No</th>
                <th scope="col">Reward Title</th>
                <th scope="col">Tag Line</th>
                <th scope="col">Validity</th>
                <th>Coupon Status</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of rewardData;let i=index">
            <td>{{i+1}}</td>
            <td>
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left mr-3">
                    <div class="widget-content-left">
                      <img width="40" class="rounded-circle" src="{{r.logo}}" alt="">
                    </div>
                  </div>
                  <div class="widget-content-left flex2">
                    <div class="widget-heading">{{r.merchantName}}</div>
                  </div>
                </div>
              </div>

            </td>
            <!-- <td>{{r.emailId}}</td> -->
            <!-- <td>{{r.description}}</td> -->
            <td class="text-dark">{{r.voucher}}</td>
            <td>{{r.rewardTitle}}</td>
            <td>{{r.tagLine}}</td>
            <td>{{r.validityDay}}</td>
            <td>
              <select class="form-control" [(ngModel)]="r.status" (change)="changeStatus(r.id,$event)" 
              [ngStyle]="{'color': r.status=='ACTIVE' ? 'green' :'red'}">
                <option value="ACTIVE" class="text-success">Active</option>
                <option value="EXPIRED" class="text-danger">Inactive</option>
              </select>
              <!-- <div class="btn badge badge-pill pl-2 pr-2 badge-success" *ngIf="r.status=='ACTIVE'">Inactive</div>
              <div class="btn badge badge-pill pl-2 pr-2 badge-danger" *ngIf="r.status=='EXPIRED'">Active</div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

  

</div>




