<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-md-12" style="padding-left: 42px;">
        <div class="card">
            <div class="card-header white-text">Please select the period for which you want to generate a report on number of clicks.</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Select Month</label>
                        <select class="form-control" [(ngModel)]="month">
                            <option value="jan">January</option>
                            <option value="feb">Febuary</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="jun">June</option>
                            <option value="jul">July</option>
                            <option value="aug">August</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Select Product Type</label>
                        <select class="form-control" [(ngModel)]="productName">
                            <option value="GET_MEASURED" *ngIf="GET_MEASURED">GetMeasured</option>
                            <option value="SIZE2FIT" *ngIf="SIZE2FIT">Size2Fit</option>
                            <!-- <option value="MYSIZE" *ngIf="MYSIZE">MySize</option> -->
                            <option value="QUICKSIZE" *ngIf="QUICKSIZE">QuickSize</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="margin-top:1.9rem">
                        <button title="Click to download your report." (click)="dowmnloadYourPdf()"
                            class="btn btn-primary">
                            <i class="fas fa-download" style="color: #fff"></i> &nbsp; Download</button>
                    </div>
                </div>
          
                <div class="row mt-5">
                    <div class="col-md-12" >
                        <h6 style="font-size: 10px"><b>Disclaimer:</b> This report is intended for general
                            guidance and
                            information
                            purposes only. Based on the information received from your end, we have stored the
                            information and
                            based on your search parameters, the results are displayed below. We have taken
                            reasonable
                            care to
                            ensure that, and to the best of our knowledge, material information contained herein
                            is in
                            accordance with the facts and contains no omission likely to affect its
                            understanding. Any
                            question/(s) you have, please contact your customer service representative
                            immediately.</h6>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
