<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="row" style="padding:0px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Your active plans</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <th>#</th>
                            <th>Product name</th>
                            <th>plan</th>
                            <th>plan type</th>
                            <th>Plan period</th>
                            <th>Amount</th>
                            <th>Billing Period</th>
                            <th>Payment status</th>
                            <th>Plan status</th>
                            <th>Subcription date</th>
                            <th>Expiry date</th>
                            <th>Pay</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of getpaymenthistoryactive;let k=index">
                                <td>{{k+1}}</td>
                                <td>{{i.productName}}</td>
                                <td>{{i.plan}}</td>
                                <td>{{i.planType}}</td>
                                <td>{{i.planPeriod}}</td>
                                <td>{{i.paidAmount}}</td>
                                <td>{{i.billPeriod}}</td>
                                <td>{{i.paymentStatus}}</td>
                                <td>{{i.planStatus}}</td>
                                <td>{{i.regDate}}</td>
                                <td>{{i.expDate}}</td>
                                <td class="text-center">
                                    <button type="button" *ngIf="i.paymentStatus=='DUE'" style="letter-spacing: normal;text-transform: inherit" class="btn btn-danger btn-sm" (click)="pay(i)">Pay</button>
                                    <button type="button" *ngIf="i.paymentStatus=='PAID'" style="letter-spacing: normal;text-transform: inherit" class="btn btn-primary btn-sm">Payment recieved</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="padding:0px;margin-top:10px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Your expired plans</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <th>#</th>
                            <th>Product name</th>
                            <th>plan</th>
                            <th>plan type</th>
                            <th>Plan period</th>
                            <th>Amount</th>
                            <th>Payment status</th>
                            <th>Plan status</th>
                            <th>Subcription date</th>
                            <th>Expiry date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of getpaymenthistoryexpired;let k=index">
                                <td>{{k+1}}</td>
                                <td>{{i.productName}}</td>
                                <td>{{i.plan}}</td>
                                <td>{{i.planType}}</td>
                                <td>{{i.planPeriod}}</td>
                                <td>{{i.paidAmount}}</td>
                                <td>{{i.paymentStatus}}</td>
                                <td>{{i.planStatus}}</td>
                                <td>{{i.regDate}}</td>
                                <td>{{i.expDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="paymentmodal" class="modal fade" tabindex="-1" data-backdrop="false" data-keyboard="false" role="dialog"
    aria-labelledby="myModalLabel" style="z-index: 999999">
    <div class="modal-dialog" style="margin:auto">
        <div class="modal-content">
            <div class="modal-body vertical-middle">
                <div class="row mb-4">
                    <div class="col-sm-12 text-center mt-5">
                        <form #form method="POST" action="https://accept.authorize.net/payment/payment"
                            id="formAuthorizeNetTestPage" name="formAuthorizeNetTestPage">
                            <input type="hidden" name="token" value="{{authorizetoken}}" />
                            <h4 class="mb-3">You will now be redirected to payment page.</h4>
                            <button type="submit" class="btn btn-primary bttn" (click)="form.submit()"
                                id="btnContinue">Continue to next page</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row" style="margin-top:10px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row" >
                    <h6 align="left" style="font-size: 15px">All payments must be made to <b>“Mirrorsize US
                            Inc.”</b> We request you to make your payment by the due date. Date on which the funds
                        are credited in Mirrorsize bank account shall be considered as a payment date. If you
                        are paying by check, please expect minimum of 3-5 business days of delay.
                        You have the below options to make the payments.</h6>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h6 align="left" style="font-size: 14px"><b>Option 1: </b>To pay by wire/online/ACH,
                            please use the below information</h6>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2 col-xl-2 col-lg-2 col-md-2">

                    </div>
                    <div class="col-md-8 col-xl-8 col-lg-8" style="overflow-x:auto;">
                        <table class="table table-striped table-bordered" style="border: black;border: 1px">

                            <tbody style="color: black;background-color: white;text-align: left">
                                <tr>
                                    <td scope="col" style="font-weight: bold;">Company Name</td>
                                    <td scope="col" style="font-weight: 400">Mirrorsize US Inc.,</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">Company Address</td>
                                    <td scope="col" style="font-weight: 400">626 White Pine Rd, Franklin Lakes, NJ
                                        07471, USA</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">Bank Name</td>
                                    <td scope="col" style="font-weight: 400">JPMorgan Chase</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">Bank (Branch) Address</td>
                                    <td scope="col" style="font-weight: 400">9 Mt Bethel Rd., Ste 103, Floor , Warren,
                                        NJ 07059-2636, USA</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">Bank Account Number</td>
                                    <td scope="col" style="font-weight: 400">000000325510078</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">Domestic Wire (ABA/Routing)</td>
                                    <td scope="col" style="font-weight: 400">021000021</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="font-weight: bold">International (SWIFT)</td>
                                    <td scope="col" style="font-weight: 400">CHASUS33 or CHASUS33(BIC)</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h6 align="center" style="font-size: 16px">Should you have any question, please feel free to
                            write to <a><b style="color: #0d47a1"
                                    href="https://mail.google.com/">info@mirrorsize.com</b></a> or contact us,Thank you
                            for your business.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>