.expired{
  background: #dc3545;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}

.act{
  background: #1f9c00;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}

.icn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    line-height: 40px;
    text-align: center;
    color: #021d319e;
}


.widget-chart .widget-subheading {
  margin: -0.5rem 0 0;
  display: block;
  opacity: .6;
  color: #021c30 !important;
  font-weight: bold !important;
}