.square{height: 80px;width:80px;background: #eee;border-radius:5px}
.badge:empty {
    display: block !important;
}
h4{color:#343a40d4 !important}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    text-align: center;
    border-radius: 50% !important;
}

@media (min-width: 992px)
{
.modal-lg {
    max-width:1200px;
}
}

.modal-header{
    background: var(--dark) !important;
    color: #fff !important;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background: #33333338 !important;
}


.inside-card{
    background: #fff;
    /* padding: 10px; */
    border: 1px solid #021c3026;
    border-radius: 10px;
}

.bacimg{
    width: 100%;
    min-height: 660px;
    background-image: url('../../assets/images/bak.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.div1{

    width: 50%;
    position: absolute;
    margin-left: 115px;
    top: 12%;
    text-align: center;
}

.c-div{
    width: 100%;
    text-align: left;
    /* margin-bottom: 10px; */
    background: #ceccef38;
    padding: 5px;
}