<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="expired">
    <div class="card-header" style="color:red">Your subscription has expired</div>
    <div class="card-body">
      <p>Thank you for using Mirrorsize. Your subscription period has expired and to continue using Mirrorsize, we recommend
        you to upgrade
        your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
      <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
        product features.</p>
      <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
      <p class="mb-0">Keep enjoying Mirrorsize.</p>
    </div>
    <div class="d-block text-right card-footer">
      <button (click)="gotoSubscription()" class="btn btn-primary btn-lg">Upgrade</button>
    </div>
  </div>

<!-- <div class="row">
    <div class="main-card mb-3 card">
        <div class="card-header">Your listing details</div>
            <ul class="todo-list-wrapper list-group list-group-flush">
                <li class="list-group-item">
                    <div class="todo-indicator bg-warning"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" id="exampleCustomCheckbox12" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label></div>
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading">Wash the car
                                    <div class="badge badge-danger ml-2">Rejected</div>
                                </div>
                                <div class="widget-subheading"><i>Written by Bob</i></div>
                            </div>
                            <div class="widget-content-right widget-content-actions">
                                <button class="border-0 btn-transition btn btn-outline-success">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button class="border-0 btn-transition btn btn-outline-danger">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="todo-indicator bg-focus"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" id="exampleCustomCheckbox1" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomCheckbox1">&nbsp;</label></div>
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading">Task with hover dropdown menu</div>
                                <div class="widget-subheading">
                                    <div>By Johnny
                                        <div class="badge badge-pill badge-info ml-2">NEW</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-right widget-content-actions">
                                <div class="d-inline-block dropdown">
                                    <button type="button" aria-haspopup="true" aria-expanded="false" class="border-0 btn-transition btn btn-link">
                                        <i class="fa fa-ellipsis-h">
                                        </i>
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right"><h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" disabled="" tabindex="-1" class="disabled dropdown-item">Action</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Another Action</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item">Another Action</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="todo-indicator bg-primary"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" id="exampleCustomCheckbox4" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomCheckbox4">&nbsp;</label></div>
                            </div>
                            <div class="widget-content-left flex2">
                                <div class="widget-heading">Badge on the right task</div>
                                <div class="widget-subheading">This task has show on hover actions!</div>
                            </div>
                            <div class="widget-content-right widget-content-actions">
                                <button class="border-0 btn-transition btn btn-outline-success">
                                    <i class="fa fa-check">
                                    </i>
                                </button>
                            </div>
                            <div class="widget-content-right ml-3">
                                <div class="badge badge-pill badge-success">Latest Task</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="todo-indicator bg-info"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-checkbox custom-control"><input type="checkbox" id="exampleCustomCheckbox2" class="custom-control-input"><label class="custom-control-label" for="exampleCustomCheckbox2">&nbsp;</label></div>
                            </div>
                            <div class="widget-content-left mr-3">
                                <div class="widget-content-left"><img width="42" class="rounded" src="assets/images/avatars/1.jpg" alt=""></div>
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading">Go grocery shopping</div>
                                <div class="widget-subheading">A short description for this todo item</div>
                            </div>
                            <div class="widget-content-right widget-content-actions">
                                <button class="border-0 btn-transition btn btn-outline-success">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button class="border-0 btn-transition btn btn-outline-danger">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="todo-indicator bg-success"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" id="exampleCustomCheckbox3" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomCheckbox3">&nbsp;</label></div>
                            </div>
                            <div class="widget-content-left flex2">
                                <div class="widget-heading">Development Task</div>
                                <div class="widget-subheading">Finish React ToDo List App</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="badge badge-warning mr-2">69</div>
                            </div>
                            <div class="widget-content-right">
                                <button class="border-0 btn-transition btn btn-outline-success">
                                    <i class="fa fa-check">
                                    </i>
                                </button>
                                <button class="border-0 btn-transition btn btn-outline-danger">
                                    <i class="fa fa-trash-alt">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        <div class="d-block text-right card-footer">
            <button class="mr-2 btn btn-link btn-sm">Cancel</button>
            <button class="btn btn-success btn-lg">Save</button>
        </div>
    </div>
</div> -->

<div *ngIf="!expired" class="row mb-4">
    <div class="col-sm-12">
        <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-danger btn-lg" data-toggle="modal"
            data-target="#viewDescription" (click)="addClass();">View Description</button>
    </div>
</div>

<div *ngIf="!expired" class="row">
    <div class="col-md-8">
        <div class="main-card mb-3 card">
            <form [formGroup]="rewardForm">
                <div class="card-header">Add details for your new coupon to publish
                    <div class="btn-actions-pane-right actions-icon-btn">
                        <button (click)="saveReward()" [disabled]="!rewardForm.valid" style="letter-spacing: normal;text-transform: inherit"
                            class="btn btn-warning"><i class="fa fa-paper-plane"></i> Publish</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <label>Brand name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                </div>
                                <input formControlName="merchantName" placeholder="Display name for your brand" step="1"
                                    type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label>Brand tag line</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                </div>
                                <input formControlName="tagLine" placeholder="tag line for your brand " step="1"
                                    type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label>Logo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-file"></i></span>
                                </div>
                                <input type="file" placeholder="logo to be displayed" class="form-control"
                                    (change)="changeListener($event)">
                            </div>
                            <div>
                                <img *ngIf="rewardData.logo!=''" src="{{rewardData.logo}}" style="width:30%">
                            </div>

                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <label>Banner / background image</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-file"></i></span>
                                </div>
                                <input type="file" placeholder="Background / Banner" class="form-control"
                                    (change)="changeListener1($event)">
                            </div>
                            <div>
                                <img *ngIf="rewardData.backgroundImg!=''" src="{{rewardData.backgroundImg}}"
                                    style="width:30%">
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <label>Coupon Number</label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-tags" aria-hidden="true">
                                        </i></span>
                                </div>
                                <input formControlName="voucher" placeholder="Coupon Number" type="text"
                                    class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Redirect link</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-link" aria-hidden="true"></i></span>
                                </div>
                                <input formControlName="redirectLink" placeholder="Redirect link for user" type="text"
                                    class="form-control" required>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-4">

                        <div class="col-sm-6">
                            <label>Valid till</label>
                          
                            <my-date-picker (dateChanged)="onDateChanged($event)" name="mydate" [options]="myDatePickerOptions" formControlName="validityDay" required></my-date-picker>
                          
                        </div>

                        <div class="col-sm-6">
                            <label>Offer one liner</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                </div>
                                <input formControlName="rewardTitle"
                                    placeholder="offer one liner eg. '20% off' or 'Flat 100 off'" step="1" type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <label>Descriptions / steps for user</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-asterisk"
                                            aria-hidden="true"></i></span>
                                </div>
                                <textarea cols="10" formControlName="description"
                                    value="rewardData.description" name="text"
                                    placeholder="Description and step to redeem this voucher" id="exampleText"
                                    class="form-control" id='txt' (keyup)="resizeTextarea('txt')" style="overflow: hidden;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="bacimg">
            <div class="div1 mb-3">
                <p style="font-weight: 600;"> Listing Preview</p>
                <p>We will redesign your coupon before publishing</p>
                <img src="{{banner}}" style="width:100%;border-radius:5px" class="mb-2">
                <img src="assets/img/background5.jpg" *ngIf="!banner" style="width:100%;border-radius:5px">
                
                <div class="c-div">
                    <img *ngIf="logoImage" src="{{logoImage}}" class="square mb-3">
                    <img src="assets/img/compnay.jpg" class="square mb-3" *ngIf="!logoImage">
                    <h3 class="card-title">
                        <span *ngIf="rewardForm.value.merchantName">
                            {{rewardForm.value.merchantName}}
                        </span>
                        <span *ngIf="!rewardForm.value.merchantName">Myntra</span>
                    </h3>
                    <h6 class="card-title">
                        <span *ngIf="rewardForm.value.rewardTitle">
                            {{rewardForm.value.rewardTitle}}
                        </span>
                        <span *ngIf="!rewardForm.value.rewardTitle">get points</span>
                    </h6>
                    <p class="card-text">
                        <span *ngIf="day!=''">Valid till {{day}}</span>
                        <span *ngIf="day==''">Valid till 29-10-2019</span>
                    </p>

                    <button class="btn btn-secondary" style="border-radius: 5px;">Redeem</button>
                    <button class="btn btn-secondary" style="float:right;border-radius: 5px;">Details</button>

                </div>
            </div>
            <!-- <div class="main-card mb-3 card " style="align-items: center;">
                <div class="card-header mb-3" style="background: white"> Listing Preview </div>
                <div class="col-md-12">
                    <p class="text-center">We will redesign your coupon before publishing</p>
                    
                    <div class="card mb-3" style="border-radius:12px">
                        <div class="card-body">
                            <div class="inside-card">
                                <img src="{{banner}}" style="width:100%;border-radius:5px" class="mb-2">
                                <img src="assets/img/background5.jpg" *ngIf="!banner" style="width:100%;border-radius:5px">
                                
                                <div style="width:90%;margin:auto;margin-bottom:10px">
                                    <img *ngIf="logoImage" src="{{logoImage}}" class="square mb-3">
                                    <img src="assets/img/compnay.jpg" class="square mb-3" *ngIf="!logoImage">
                                    <h3 class="card-title">
                                        <span *ngIf="rewardForm.value.merchantName">
                                            {{rewardForm.value.merchantName}}
                                        </span>
                                        <span *ngIf="!rewardForm.value.merchantName">Myntra</span>
                                    </h3>
                                    <h6 class="card-title">
                                        <span *ngIf="rewardForm.value.rewardTitle">
                                            {{rewardForm.value.rewardTitle}}
                                        </span>
                                        <span *ngIf="!rewardForm.value.rewardTitle">get points</span>
                                    </h6>
                                    <p class="card-text">
                                        <span *ngIf="day!=''">Valid till {{day}}</span>
                                        <span *ngIf="day==''">Valid till 29-10-2019</span>
                                    </p>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>
                 -->
        </div>
    </div>

</div>



<div *ngIf="!expired" class="modal fade" id="viewDescription" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Description</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-md-12">

                    <p>List your brand on MS MySize to boost your online traffic with verified customers from
                        Mirrorsize.</p>
                    <p class="mb-3">There is nothing to lose and everything to gain. Once you signup, Mirrorsize will
                        list
                        your Brand’s name on Mirrorsize web and mobile app platforms to enable customers get their size
                        recommendation as per your brand size charts.</p>
                    <p class="mb-3">Upon signing up, you need to either enter your size chart by apparel type or simply
                        upload the size
                        chart (in excel or any readable format) and Mirrorsize customer support team will upload your
                        size
                        chart on your behalf. This is a onetime exercise so that Mirrorsize users can get their perfect
                        size
                        recommendation.</p>

                    <div class="scroll-area-lg mb-3 mt-3">
                        <div class="scrollbar-container ps ps--active-y">
                            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Enter your coupon code that will be displayed to
                                                the customers to shop at your online site.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">your URL where Mirrorsize will divert verified
                                                customers
                                                to shop. Customers now knows their perfect size by apparel of your brand
                                                to avoid the hassles of
                                                returns/rejection.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-primary"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Enter the number of days this coupon code shall
                                                be valid to use by customers to place online orders.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"> Your BRAND name that you want to be displayed on
                                                the coupon.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Your BRAND tag line that you want to be display.
                                            </h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title"> Offer one linerA limited text e.g., 30% or Flat
                                                100 etc. This will be prominently displayed on the coupon to attract
                                                customers attention</h4>
                                            <span class="vertical-timeline-element-date"> </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Describe the steps in details how user will
                                                redeem this coupon with all the valid scenario and conditions arround
                                                100 - 200 words.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Upload logo your brand’s logo to be displayed on
                                                the coupon.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in">
                                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                        </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">Attractive banner/background image to attract
                                                users.</h4>
                                            <span class="vertical-timeline-element-date"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <p class="mb-3">Should you have any question, please feel free to contact your Mirrorsize customer
                        rep OR write to us
                        at info@mirrorsize.com OR simply raise a ticket and somebody from Mirrorsize will respond.</p>
                </div>

            </div>
        </div>
    </div>
</div>