<div *ngIf="showLoader" id="ajaxloader"
  style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="!paid">
  <div class="card-header" style="color:red">Please upgrade your subscription</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. This feature include only in paid plan, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data saved during your free
      trial period is
      secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button (click)="gotoSubscription()" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div *ngIf="paid">
  <h5 class="text-center mb-4">Upload size chart </h5>
</div>

<div class="row mb-5" *ngIf="paid">
  <div class="col-sm-12">

    <div class="center mb-4">
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Drag File OR &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
      </ngx-file-drop>
    </div>

    <div *ngIf="data">
      <label style="background: #eee;padding: 6px;">{{data.name}}</label>
      <button type="submit" class="btn btn-primary" (click)="uploadToS3()" style="margin-left:15px;">Upload</button>
    </div>
    <!-- <label class="text-right margin-right:2%" style="min-width: -webkit-fill-available">supported format '.zip'</label> -->
  </div>

</div>


<div class="row text-center" *ngIf="paid">
  <h5 class="card-title text-center mb-3">Uploaded files</h5>
  <div class="main-card mb-12 card" style="min-width: -webkit-fill-available">
    <div class="table-responsive">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Product name</th>
            <!-- <th class="text-center">File type</th> -->
            <th class="text-center">Upload date</th>
            <th class="text-center">Download</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of filedata;let i=index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">{{d.productName}}</td>
            <!-- <td class="text-center">{{d.fileType}}</td> -->
            <td class="text-center">{{d.timeStamp}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm" (click)="downloadfile(d)">Download</button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn-sm" (click)="deletefile(d)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>