#powredBy{
    color:#021d30; margin-left: 235px; margin-top: 5px;
}
#profileHead{
    margin-left:-250px;
}

h4{
    color: #021d30;
}
#minLfet{

    margin-left:30px;font-weight: bold;
}
#prfileFirstSpan{
    margin-right:10px;
    font-size:20px; color:orange;

}
#prfileSecondSpan{
    font-size:17px;
    color:#021d30;
}
#proileThirdSpan{
    margin-left:100px;
    color: dodgerblue;
}
#prfileFirstSpan2{
    margin-right:10px;
    font-size:20px; color:orange;

}
#prfileSecondSpan2{
    font-size:17px;
    color:#021d30;
}
#proileThirdSpan2{
    margin-left:40px;
    color: dodgerblue;
}

#prfileFirstSpan3{
    margin-right:10px;
    font-size:20px; color:orange;

}
#prfileSecondSpan3{
    font-size:17px;
    color:#021d30;
}
#proileThirdSpan3{
    margin-left:110px;
    color: dodgerblue;
}
#customSearch{
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    background-image: url('/assets/img/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
 #customSearch:focus {
    width: 100%;
  }
#proileThirdSpan22{
  margin-left: 60px;
}
  #timeAndDatePara{
    margin-top: -40px;
  }


@media only screen and (max-width: 430px) {
    #powredBy{
        margin-left: 0px;
    }
    #profileHead{
        margin-left:30px;
    }
    #prfileFirstSpan, #prfileFirstSpan2, #prfileFirstSpan3{
        margin-right:3px;
        font-size: 15px;
    }
    #prfileSecondSpan, #prfileSecondSpan2, #prfileSecondSpan3{
        font-size:15px;
    }
    #proileThirdSpan, #proileThirdSpan2, #proileThirdSpan3, #proileThirdSpan22{
        margin-left:5px;
    }
    #customSearch{
        width: 250px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 13px;
        background-color: white;
        background-image: url('/assets/img/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      #timeAndDatePara{
      margin-top: 0px;
      width: max-content;
      margin-left: 30px;
      }
      #webView{
        display: none;
      }



}

.modal-dialog{margin-top:5% !important};

.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-color:rgba(0, 0, 0, 0.39)004 !important;    
}

@media only screen and (min-width: 430px) {

#mobView{
    display: none;
  }

}
