<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="expired">
    <div class="card-header" style="color:red">Your subscription has expired</div>
    <div class="card-body">
            <p>Thank you for using Mirrorsize. Your subscription has expired and to continue using Mirrorsize, we recommend
                    you to upgrade
                    your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
                  <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
                    product features.</p>
                  <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
                  <p class="mb-0">Keep enjoying Mirrorsize.</p>
    </div>
    <div class="d-block text-right card-footer">
        <button routerLink="/upgradeplansf" class="btn btn-primary btn-lg">Upgrade</button>
    </div>
</div>

<div *ngIf="!expired"class="row">
    <div class="col-sm-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <input class="form-control" placeholder="Search by" [(ngModel)]="searchText" name="srch-term"
                            id="srch-term" type="text">
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" [(ngModel)]="keyValue">
                            <option value="apparelName">Apparel Name</option>
                            <option value="brandname">Brand Name</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn  btn-primary" style="letter-spacing: normal;text-transform: inherit" (click)="searchApparel()">Search</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-danger" style="letter-spacing: normal;text-transform: inherit" (click)="clear()">Clear</button>
                    </div>
                    <div class="col-md-2">
                        <!-- <button class="btn btn-sm btn-secondary" (click)="gotoAddApparel()">Apparel Mapping</button> -->
                        <button class="btn btn-secondary" style="letter-spacing: normal;text-transform: inherit" data-target="#mapping" data-toggle="modal" data-backdrop="false" (click)="addClass()">Apparel Mapping</button>
                    </div>
                    <div class="col-sm-4" style="text-align:right">
                        <button style="letter-spacing: normal;text-transform: inherit" class="mr-2 btn btn-link">Total Records Found <span
                                class="badge badge-pill badge-primary"> {{storeCount}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" *ngIf="!expired" align="center" class="">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <nav class="pagination-rounded">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </nav>

            <table class="table table-bordered">
                <thead style="background: #eee">
                    <tr>
                        <th scope="col">Merchant id</th>
                        <th scope="col">Brand name</th>
                        <th scope="col">Country Size</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Apparel Name</th>
                        <th scope="col">Measurement points</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let measured of data">
                        <td scope="row">{{measured.merchantId}}</td>
                        <td>{{measured.brandName}}</td>
                        <td>{{measured.countrySize}}</td>
                        <td>{{measured.gender}}</td>
                        <td>{{measured.apparelId}}</td>
                        <td style="text-align: left;cursor: pointer;width:25%">
                            <span style="padding:5px" class="mb-2 mr-2 badge badge-primary"
                                *ngFor="let item of measured.measurementPoint | keyvalue"
                                (click)="getImage(item.key,measured.gender,item.value);addClass()">{{item.value}}</span>&nbsp;
                        </td>
                        <td>
                            <button (click)="editMeasurement(measured.id)" type="button" style="letter-spacing: normal;text-transform: inherit" 
                            class="btn btn-labeled btn-primary btn-sm btn-border">
                                <span class="btn-label"><i class="fas fa-edit"></i></span> Edit</button>
                                <!-- <button (click)="addMorePoints(measured)" type="button" class="btn btn-labeled btn-primary btn-sm btn-border" style="margin-left:5px;">
                                        <span class="btn-label"></span>Edit Points</button> -->
                             
                        </td>
                        <td>
                            <button class="mb-2 mr-2 btn-icon btn-icon-only btn-square btn btn-danger"
                                (click)="delete(measured)"><i class="fas fa-trash-alt btn-icon-wrapper"> </i></button>
                            <!-- <button (click)="delete(measured)" type="button"
                                    class="btn btn-labeled btn-danger btn-sm btn-border">
                                    <span class="btn-label">
                                        <i class="fas fa-trash-alt"></i></span> Remove</button> -->

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>


<div id="updatePoints" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update your measurement point for {{brandNameForModal | uppercase}}</h4>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="row" style="padding-left: 20px">
                        <div *ngFor="let app of editData; let k = index"
                            style="width:33%;margin-bottom:2%;display: flex" class="mb-3">
                            <div style="width:80%">
                                <img src="https://s3.ap-south-1.amazonaws.com/commonms/{{gender}}_large_icon/{{app.key|lowercase}}.png"
                                    (mouseover)="showModal('hover')" alt="Image To Zoom" class="block__pic"
                                    id="blockPik">
                            </div>
                            <div style="width:100%">
                                <label class="cont" style="margin-top:25px;text-align:left;color:#021d30">
                                    {{ app.displayName }}
                                    <input type="checkbox" class="apparelTypes" (ngModelChange)="onChecked(app,$event)"
                                        [ngModel]="isSelected(app,i)" [ngModelOptions]="{standalone: true}"
                                        id="check{{k}}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateMeasurement()"
                    type="button">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="viewImage" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="text-align: center">
                <h2 class="modal-title" style="margin: auto;width: 90%;">{{key}}</h2>
                <button type="button" class="close" data-dismiss="modal" (click)=" closeModal()">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-md-12" style="text-align: center">
                    <img src="{{imageUrl}}" style="width:60%">
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" style="min-width: 55%" id="mapping">
    <div class="modal-dialog " style="min-width: 55%">
        <div class="modal-content">

            <div class="modal-header" style="text-align: center">
                <h2 class="modal-title" style="margin: auto;width: 90%;">Apparel Mapping</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-md-12" style="text-align: center">
                <h5 class="modal-title text-left mb-3">Option 1 (Only for paid account)</h5>
                 <p class="mb-3 text-left">To upload your size chart, please send your size chart for all apparels (preferably in an excel format,) 
                     to Mirrorsize customer service team. Please clearly mention the size charts are based on “body measurement” 
                     or “ready/garment measurement”. Click the upload button below to send your size chart.</p>
                 <button class="btn btn-primary mb-5" routerLink="/sizechart"  (click)="closeModal()">Upload</button>

                 <h5 class="modal-title text-left mb-3" >Option 2 </h5>
                 <p class="mb-3 text-left">If you want to fill the size chart on the Mirrorsize platform by yourself, please click Map Apparel button. 
                     First map an apparel, then enter different available sizes of that apparel and then enter the measurements 
                     for each selected measurement points. Click on the “Guided Tour” for a quick tutorial.</p>
                 
                 <button class="btn btn-primary" (click)="gotoAddApparel();closeModal()">Map Apparel</button>

                </div>
            </div>

        </div>
    </div>
</div>