<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="expired">
  <div class="card-header" style="color:red">Your subscription has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your subscription has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button routerLink="/upgradeplansf" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div class="row" *ngIf="!expired">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Serach by">
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="searchKey">
              <option value="userName">User Name</option>
              <option value="mobileNo">Mobile Number</option>
              <option value="dateTime">Datetime (YYYY-MM-DD)</option>
            </select>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-primary" style="letter-spacing: normal;text-transform: inherit" (click)="searchUser()">Search</button>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger" style="letter-spacing: normal;text-transform: inherit" (click)="clear()">Clear</button>
          </div>
          <div class="col-sm-6" style="text-align:right">
            <button style="letter-spacing: normal;text-transform: inherit" class="mr-2 btn btn-link">Total Records Found <span class="badge badge-pill badge-success">
                {{userCount}}</span></button>
          </div>
        </div>
      </div>
    </div>

    <nav class="pagination-rounded">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </nav>

    <div class="main-card mb-3 card">
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">S.No</th>
              <th class="text-center">Name</th>
              <th class="text-center">Mobile No</th>
              <th class="text-center">Gender</th>
              <th class="text-center">Fit Type</th>
              <th class="text-center">Date Time</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of usersData;let i=index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">{{d.name}}</td>
              <td class="text-center">{{d.mobileNo}}</td>
              <td class="text-center">{{d.gender}}</td>
              <td class="text-center">{{d.fitType}}</td>
              <td class="text-center">{{d.dateTime}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-sm" (click)="processIdData(d);addClass()">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="viewImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#d92550;color:#fff">
        <div class="row">
          <div class="col-sm-4">
            <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          </div>
          <div class="col-sm-8">
            <button class="bt" (click)="rotate()"><img src="assets/img/ref.svg" style="width:50%"></button>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12" style="text-align:center">
            <img [src]="imgsrc" class="img" style="width: 650px;height: 550px;margin-top: 50px;margin-bottom:50px;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">

  <div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
    z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
  </div>

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#d92550;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel">Measurement Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true" style="color:#fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover"
            *ngIf="detailData?.length>0">
            <thead>
              <tr>
                <th class="text-center">S.No</th>
                <th class="text-center">Brand Name</th>
                <th class="text-center">Apparel Id</th>
                <th class="text-center">Size</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of detailData;let i=index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{d.brandName}}</td>
                <td class="text-center">{{d.apparelId}}</td>
                <td class="text-center">{{d.size}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
