<div class="row" style="background: #f1f4f6">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a (click)="getGraph('GET_MEASURED')" *ngIf=isGetMeasured role="tab"
                            [ngClass]="(this.graphType=='GET_MEASURED')?'nav-link show active':'nav-link show'"
                             id="tab-0" data-toggle="tab" href="#tab-content-0"
                            aria-selected="true">
                            <span>GetMeasured</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a *ngIf=isSize2Fit id="nav-profile-tab" data-toggle="tab"
                            [ngClass]="(this.graphType=='SIZE2FIT')?'nav-link show active':'nav-link show'" (click)="getGraph('SIZE2FIT')" href="#nav-profile" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                            <span>Size2Fit</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a  *ngIf=isMySize id="nav-profile-tab" data-toggle="tab"
                        [ngClass]="(this.graphType=='MYSIZE')?'nav-link show active':'nav-link show'" (click)="getGraph('MYSIZE')" href="#nav-profile" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                            <span>MySize</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a  *ngIf=isQuickSize id="nav-profile-tab" data-toggle="tab"
                        [ngClass]="(this.graphType=='QUICKSIZE')?'nav-link show active':'nav-link show'" (click)="getGraph('QUICKSIZE')" href="#nav-profile" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                            <span>QuickSize</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-3" style="margin-top:1rem">
                <select class="form-control" (change)="getChart($event)" [(ngModel)]="selectedVal">
                    <option value="last30days">Last 30 Days</option>
                    <option value="all">All</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2 col-xl-2">
                                            <div class="card mb-3 widget-content bg-night-fade"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Total Accounts</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white">
                                                            <span>{{totalAccount}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-xl-2" *ngIf="graphType=='GET_MEASURED' || graphType=='SIZE2FIT' || graphType=='QUICKSIZE'">
                                            <div class="card mb-3 widget-content bg-arielle-smile"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Total Visitors</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white">
                                                            <span>{{totalVisitor}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xl-4" *ngIf="graphType=='GET_MEASURED'">
                                            <div class="card mb-3 widget-content bg-happy-green"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Measurement Pending Approval</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white"><span>{{approval}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xl-4" *ngIf="graphType=='MYSIZE'">
                                            <div class="card mb-3 widget-content bg-happy-green"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Active Coupons</div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white"><span>{{activeRewards}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xl-4" *ngIf="graphType=='MYSIZE'">
                                            <div class="card mb-3 widget-content bg-happy-green"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Coupons redeemed</div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white">
                                                            <span>{{totalUserCount}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    



                                        <div class="col-md-2 col-xl-2">
                                            <div class="card mb-3 widget-content bg-nelson-fade"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Pending Tickets</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white">
                                                            <span>{{pendingTicketCount}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="graphType=='GET_MEASURED' || graphType=='SIZE2FIT'" class="col-md-2 col-xl-2">
                                            <div class="card mb-3 widget-content bg-kyoto-smile"
                                                style="border:none !important">
                                                <div class="widget-content-wrapper text-white">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Apparels added</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-white">
                                                            <span>{{apparelCount}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
    
                        <div class="col-md-9" style="text-align: center">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="chartdiv1" class="chart"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3" style="text-align: center">

                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="chartdiv2" class="chart"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>