
.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.pricing-card .price {
    position: relative;
    padding-top: 3.94rem;
}

.pricing-card .header {
    /* -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
    /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
}
.pricing-card .price .number {
    font-size: 3rem;
    padding: 1.5rem;
    font-weight: 300;
}
.pricing-card .price .version {
    /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
    -webkit-border-radius: .25rem .25rem 0 0;
    border-radius: .25rem .25rem 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    /* background-color: rgba(0,0,0,.3); */
}
.pricing-card .striped {
    padding: 1rem;
}
.pricing-card .price .number:before {
    content: "$";
    position: absolute;
    font-size: 1.88rem;
    margin-left: -1.2rem;
    margin-top: .7rem;
}
.pricing-card .price .number:after {
    content: "/click";
    font-size: 1.88rem;
    margin-top: 3rem;
}
.pricing-card ul {
    list-style-type: none;
    padding: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}

p {
    margin-top: 0;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.pricing-card .price .version {
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
    border-radius: .25rem .25rem 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    
    color: #333 !important;
}



.iframe-pre {
    display: none;
} 
.iframePost { 
    display: block;
    min-height: 740px;
    width: 100%;
    border: none;
}
