
.pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

pagination>li {
    display: inline;
  }
  
  ul li{display: inline;}

  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.main{
  font-family: 'Raleway', sans-serif;
  color: DimGray;
}

#form-main{
  color: Gray;
  background-color:white;
  padding: 30px;
  border-radius:2px;
}
.sel{
  border: none;
  border-bottom: 1px solid GhostWhite;

}
h5{
  color: DimGray;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
}

.inputGroupFile01{
  background-color: white;
}
#st{
  border: none;
  border-bottom: 2px solid dodgerblue;
  background-color: white;
  margin-top: -20px;

}
#logo{
margin-top: -25px;
}

@media screen and (max-width: 430px) {
  #logo{
    margin-top: 10px;
  

    }
    
}



input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  display: inline-block;
  cursor: default;
  flex: 0 0 auto;
  align-self: stretch;
  -webkit-user-select: none;
  opacity: 0;
  pointer-events: none;
  -webkit-user-modify: read-only;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.nav{display: block !important}

.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom:0;
  border-right: 1px solid #ddd;
  padding-right: 15px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color:#343a40;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color:#06294e !important;
  border-color: transparent !important;
}
.nav-tabs .nav-link {
  border: 1px solid #e0e0e078;
  border-top-left-radius: 0rem!important;
  border-top-right-radius: 0rem!important;
}
.tab-content>.active {
  display: block;
  background: #fff;
  min-height: 165px;
}
.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom: 0;
  border-right: 1px solid transparent;
  padding-right: 15px;
}

.heading1{
  background: #06294e;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

th{width:25%};


.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1d1d1d;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

.shadow{
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.08);
  padding: 15px !important;
}

.onoffswitch4 {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch4-checkbox {
  display: none;
}

.onoffswitch4-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #27A1CA; border-radius: 0px;
}

.onoffswitch4-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before, .onoffswitch4-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
  font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.onoffswitch4-inner:before {
  content: "Active";
  padding-left: 10px;
  background-color: #FFFFFF; color: #27A1CA;
}

.onoffswitch4-inner:after {
  content: "Inactive";
  padding-right: 10px;
  background-color: #FFFFFF; color: #666666;
  text-align: right;
}

.onoffswitch4-switch {
  display: block; width: 25px; margin: 0px;
  background: #27A1CA;
  position: absolute; top: 0; bottom: 0; right: 65px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
  margin-left: 0;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
  right: 0px; 
}

.badge {
  display: inline-block;
  padding: 0.5em 1em !important;
  font-size:12px !important;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 15px !important;
  background: #019225 !important;
  margin:2px;
}


.badge1 {
  display: inline-block;
  padding: 0.5em 1em !important;
  font-size:12px !important;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 15px !important;
  background: red !important;
  color:#fff;
  margin:2px;
}

.nav-pills .nav-link.active {
  background: #3f6ad8 !important;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
      padding-left: 235px;
  }
}

.pagination-rounded li a {
  border-radius: 50px !important;
  margin: 0 .3rem;
}
