/* p,h6{
  color: #021d30;
}
#customText{
  margin-top:-20px;
}
button{
  font-weight: bold;
  margin: 10px 15px;;
}
.jumbotron{
  padding:30px 20px;
}
.main{
  font-family: 'Raleway', sans-serif;
  color: DimGray;

}

.btn-rounded{border-radius:30px;}

.carousel-item {
  height: 55vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.firstCr{
  margin-top: 0px;
}
p,button{
  font-size: 16px;

}
button{
  background-color: dodgerblue;
}

span{
  margin-left: 5px;
  font-size: 16px;
}
a{
  color: white;
}
h3{

  color: dodgerblue;
}
.did{
  margin: 0px 110px;
}
.banner{
  height: 300px;
  background-color: DimGray;

}
h4{
  color: dodgerblue;
}

.cl{
  margin-top: -300px;
  font-weight: bold;
}
button{
  background-color: white;
  color: black;
  }
.icons{
  font-size: 25px;
  margin-right: 10px;
  color: dodgerblue;
}
.add{
  margin-left: 50px;
}
.para{
  margin-top: -35px;
  font-size:16px;
  font-weight: bold;
}
.lab{
  margin-top:-25px;
}

#customText{
  border-bottom: 2px solid dodgerblue;
}
@media screen and (max-width: 430px) {
  .did{
    margin:  0px;
  }
  .jumbotron,.mob{
    margin: 0px 20px;
  }
} */

[data-aos^=fade][data-aos^=fade] {
  opacity: 1 !important;
  transition-property: opacity,transform;
}

.rounded-circle {
  border-radius: 50% !important;
  height:unset !important;
}
.site-blocks-cover
{
  /* min-height: 200px;
  height: calc(100vh); */
  max-height:500px;
}

a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.vertical-tab{
  font-family: 'Ubuntu', sans-serif;
  display: table;
}
.vertical-tab .nav-tabs{
  display: table-cell;
  width:15%;
  min-width:15%;
  vertical-align: top;
  border: none;
  background:#037bff2e;
}
.vertical-tab .nav-tabs li{
 float: none;
 vertical-align: top;
}
.vertical-tab .nav-tabs li a{
  color: #333;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 12px;
  margin: 0;
  border-radius: 0;
  border: none;
  transition: all 0.5s ease 0s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
  /* color: #0083ed; */
  background-color: transparent;
  border: none;
}
.vertical-tab .nav-tabs li a i{
  /* color: #0083ed; */
  font-size: 23px;
  margin: 0 0 5px;
  display: block;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after{
  content: '';
  /* background-color: #0083ed; */
  height: 0;
  width: 5px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
}
.vertical-tab .nav-tabs li a:after{
  width: 0;
  height: 5px;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
}
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before{
  height: 100%;
  opacity: 1;
}
.vertical-tab .nav-tabs li a:hover:after,
.vertical-tab .nav-tabs li.active a:after{
  width: 100%;
  opacity: 1;
}
.vertical-tab .tab-content{
  color: #333;
  /* background-color: #0083ed; */
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 16px 15px;
  border-radius: 0;
  display: table-cell;
  position: relative;
  background: #3F51B5;
}
.vertical-tab .tab-content h3{
  font-weight: 500;
  margin: 0 0 5px 0;
}
@media only screen and (max-width: 479px){
  .vertical-tab .nav-tabs{
      width: 100%;
      display: block;
      border: none;
  }
  .vertical-tab .nav-tabs li a{ padding: 14px 20px; }
  .vertical-tab .nav-tabs li a:before{
      width: 0;
      height: 5px;
  }
  .vertical-tab .nav-tabs li a:hover:before,
  .vertical-tab .nav-tabs li.active a:before{
      width: 100%;
      height: 5px;
      opacity: 1;
  }
  .vertical-tab .tab-content{
      padding: 20px 15px 10px;
      display: block;
  }
  .vertical-tab .tab-content h3{ font-size: 18px; }
}



.pricing-card .price {
  position: relative;
  padding-top: 3.94rem;
}

.pricing-card .header {
  /* -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
  /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
}
.pricing-card .price .number {
  font-size: 3rem;
  padding: 1.5rem;
  font-weight: 300;
}
.pricing-card .price .version {
  /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
  -webkit-border-radius: .25rem .25rem 0 0;
  border-radius: .25rem .25rem 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  /* background-color: rgba(0,0,0,.3); */
}
.pricing-card .striped {
  padding: 1rem;
}
.pricing-card .price .number:before {
  content: "$";
  position: absolute;
  font-size: 1.88rem;
  margin-left: -1.2rem;
  margin-top: .7rem;
}
.pricing-card .price .number:after {
  content: "/click";
  font-size: 1.88rem;
  margin-top: 3rem;
}
.pricing-card ul {
  list-style-type: none;
  padding: 0;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mt-2, .my-2 {
  margin-top: .5rem!important;
  
}

p {
  margin-top: 2px;
}
.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.pricing-card .price .version {
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
  border-radius: .25rem .25rem 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  color: #333 !important;
}

li .active {
  background-color: #fff !important;
  color: #037bff !important;
  font-weight: bold;
}


a {
  color: #fff !important;
  text-decoration: none;
  background-color: transparent;
}

a:hover{color:#fff !important}

.radius{
  border-radius:100px;
}

.lli
{
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  color:#037bff !important;
  font-weight: bold;
}

.lli a{
  color:#037bff !important;
  font-weight: bold;
}

.lli .active{
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color:#037bff !important;
  font-weight: bold;
}

.inc li{
  text-align: justify !important;
}


.pricing-card{
  height: 100% !important;
}

.heading{margin-top: 130px;}

.floatButton{
  position: fixed;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background: #037bff;
  border-radius: 50%;
  left: 95%;
  cursor: pointer;
  text-align: center;
}

.icn{

  color: #fff;
  line-height: 40px;
  font-weight: 600;
}

.icnColor{color:#f16821}

/* .site-navbar {
  margin-bottom: 0px;
  position:fixed !important;
  width: 100% !important;
  background: rgba(51, 51, 51, 0.568);
} */



.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #337ab7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
display: none;
}

.on, .off
{
color: white;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 10px;
font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
border-radius:0px;
}

.slider.round:before {
border-radius: 50%;}

.contain {

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left:-40px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bb{
  font-weight: 700;
  color:#037afe
}

.demobtn{
  background: var(--orange);
    /* margin-left: 43px; */
    border: 1px solid #eee;
    float: right;
}