<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="container-fluid">
  <div class="row mb-5">

    <div class="col-sm-12 text-center">
      <h3 class="mb-3">Demo</h3>
      <hr />
      <!-- <label class="switch">
      <input type="checkbox" id="togBtn" (change)="selectGender($event)">
      <div class="slider round">
        <span class="on">Male</span>
        <span class="off">Female</span>
      </div>
    </label> -->

      <!-- <span (click)="selectGender('m')"><i class="fa fa-male mficn" id="male"></i></span>
    <span (click)="selectGender('f')"><i class="fa fa-female mficn" id="female"></i></span> -->

    </div>
  </div>

  <!-- <div class="col-sm-4" *ngIf="gender=='female'">
    <img src="assets/img/IMG_3941.jpg" style="width:100%">
  </div>
  <div class="col-sm-4 text-center" *ngIf="gender=='male'">
      <img src="assets/images/male.png" style="width:45%">
    </div> -->
  <div class="row  mb-3">

      <div class="col-sm-12 mb-3">
          <label style="font-weight:bold">DESCRIPTION</label>
        <p>
            Once you make below selections, the “SIZE/(S)” by apparel/ fit type will be displayed (as per your size chart uploaded on Mirrorsize platform) below, so that you can get the “size recommendation” for the selected apparel/fit type by clicking at “GET MY SIZE”.</p>
          <p>
                        
            You may perform this test by “Country/Brand/Gender/Apparel/Fit Type” as many times as you want. To add more brands to check the size recommendation, first your shirt chart of that brand must be uploaded on the Mirrorsize platform.
        
          </p>
        </div>

    <div class="col-sm-2">
      <select class="form-control" [(ngModel)]="countryName" (change)="getBrands($event)">
        <option value="country">---Select Country---</option>
        <option *ngFor="let c of countries" value="{{c.country}}">{{c.country}}</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" (change)="selectBrand($event)" [(ngModel)]="brandName">
        <option value="select">---Select Brand---</option>
        <option *ngFor="let b of brandData" value="{{b}}">{{b}}</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" [(ngModel)]="gender" (change)="getChart($event)">
        <option value="selectGen">---Select Gender---</option>
        <option *ngFor="let m of genderArr" value="{{m}}">{{m}}</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" [(ngModel)]="apparel" (change)="getFitType($event)">
        <option value="selectapparel">---Select Apparel---</option>
        <option *ngFor="let ap of apparelType" value="{{ap.apparelName}}">{{ap.apparelName}}</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" [(ngModel)]="fitType" (change)="getMeasurement($event)">
        <option value="fittype">---Select Fittype---</option>
        <option *ngFor="let ft of fit" value="{{ft.fitType}}">{{ft.fitType}}</option>
      </select>
    </div>

    <div class="col-sm-2">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Get My Size</button>
    </div>


  </div>

  <div class="row">

    <div class="col-sm-12 mt-4">
      <div class="row mb-3" *ngIf="sizeType?.length>0">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <label style="font-weight:bold">Sizes</label>
                </div>
              </div>
              <div *ngFor="let m of sizeType;let i=index" id="s{{i+1}}" (click)="selectSize(i+1,'s',m.pointName)"
                class="sm-square">{{m.pointName}}</div>
            </div>
          
          </div>
        </div>
      </div>

      <div class="row mb-3" *ngIf="sizes?.length>0">
        <div class="col-sm-12">
          <hr />
          <label style="font-weight:bold">Your recommended size is : " {{sizes[0].size}} "</label>
          <hr />
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4" *ngIf="(measurement?.length>0 && gender=='female')">
          <hr />
          <label style="font-weight:bold">Size Guide (Female Tops/Blouses)</label>
          <hr />
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">

            <tr *ngFor="let i of measurement">
              <td>{{i.key}}</td>
              <td>{{i.value}}</td>
            </tr>

          </table>
        </div>

        <div class="col-sm-4" *ngIf="(measurement?.length>0 && gender=='male')">
          <hr />
          <label style="font-weight:bold">Size Guide (Male Shirt)</label>
          <hr />
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <tr *ngFor="let i of measurement">
              <td>{{i.key}}</td>
              <td>{{i.value}}</td>
            </tr>
          </table>
        </div>

        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
          data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2" style="color:#fff">Enter details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff"><span
                    aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <form [formGroup]="mForm">
                  <div class="position-relative form-group">
                    <div class="row">
                      <div class="col-sm-2">
                        <label for="exampleEmail" class="">Height</label>
                      </div>
                      <div class="col-sm-6">
                        <label class="switch">
                          <input type="checkbox" id="togBtn" (change)="switchValue($event)">
                          <div class="slider round">
                            <span class="on">CM</span>
                            <span class="off">IN</span>
                          </div>
                        </label>
                      </div>

                      <div class="col-sm-12">
                        <input (keypress)="numberOnly($event)" *ngIf="isChecked" id="exampleEmail" placeholder="cm"
                          type="text" class="form-control" formControlName="heightInCM">
                      </div>
                      <div class="col-sm-6">
                        <input (keypress)="numberOnly($event)" *ngIf="!isChecked" id="exampleEmail" placeholder="feet"
                          type="text" class="form-control" formControlName="heightInFeet">
                      </div>
                      <div class="col-sm-6">
                        <input (keypress)="numberOnly($event)" *ngIf="!isChecked" id="exampleEmail" placeholder="inch"
                          type="text" class="form-control" formControlName="heightInInch">
                      </div>

                    </div>

                  </div>
                  <div class="position-relative form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="exampleEmail" class="">Weight <span style="color:#ccc" *ngIf="isWeight">(30kg -
                            150kg)</span><span style="color:#ccc" *ngIf="!isWeight">(66lbs - 330lbs)</span></label>
                      </div>
                      <div class="col-sm-6">
                        <label class="switch">
                          <input type="checkbox" id="togBtn" (change)="switchWeight($event)">
                          <div class="slider round">
                            <span class="on">KG</span>
                            <span class="off">LBS</span>
                          </div>
                        </label>
                      </div>


                      <div class="col-sm-12" *ngIf="isWeight">
                        <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="kg" type="text"
                          class="form-control" formControlName="weightInKg">
                      </div>

                      <div class="col-sm-12" *ngIf="!isWeight">
                        <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="pound" type="text"
                          class="form-control" formControlName="weightInPound">
                      </div>

                    </div>

                  </div>
                  <div class="position-relative form-group">
                    <label for="exampleEmail" class="">Age <span style="color:#ccc">(Min - 18, Max - 80)</span></label>
                    <input (keypress)="numberOnly($event)" id="exampleEmail" placeholder="Age" type="text"
                      class="form-control" formControlName="age">
                  </div>
                  <!-- <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Gender</label>
                        <div>
                            <div class="custom-radio custom-control custom-control-inline">
                              <input type="radio" name="gender" id="exampleCustomInline" class="custom-control-input" value="male" formControlName="gender">
                              <label class="custom-control-label" for="exampleCustomInline">Male</label></div>
                            <div class="custom-radio custom-control custom-control-inline">
                              <input type="radio" name="gender" id="exampleCustomInline2" class="custom-control-input" value="female" formControlName="gender">
                              <label class="custom-control-label" for="exampleCustomInline2">Female</label>
                            </div>
                        </div>
                    </div> -->

                  <div class="position-relative form-group">
                    <label for="exampleEmail" class="">Body Shape</label>
                    <br />

                    <div class="row" *ngIf="gender=='male'">

                      <div class="col-sm-4" id="flat">
                        <img src="assets/img/flat.jpg" style="width:96%" class="imgg" (click)="getBodyShape('flat')">
                      </div>
                      <div class="col-sm-4" id="average">
                        <img src="assets/img/average.jpg" class="imgg" (click)="getBodyShape('average')">
                      </div>
                      <div class="col-sm-4" id="belly">
                        <img src="assets/img/belly.jpg" style="width:95%" class="imgg" (click)="getBodyShape('belly')">
                      </div>
                    </div>

                    <div class="row" *ngIf="gender=='female'">

                      <div class="col-sm-4" id="flat">
                        <img src="assets/img/flat-f.png" style="width:88%" class="imgg" (click)="getBodyShape('flat')">
                      </div>
                      <div class="col-sm-4" id="average">
                        <img src="assets/img/average-f.png" style="width:95%" class="imgg"
                          (click)="getBodyShape('average')">
                      </div>
                      <div class="col-sm-4" id="belly">
                        <img src="assets/img/belly-f.png" class="imgg" (click)="getBodyShape('belly')">
                      </div>
                    </div>

                    <!-- <input id="exampleEmail" placeholder="Stomach shape" type="text" class="form-control"> -->
                  </div>

                  <!-- <div class="position-relative form-group">
                      <label for="exampleEmail" class="">Apparel name</label>
                      <input id="exampleEmail" placeholder="Apparel name" type="text" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Fit Type</label>
                        <input id="exampleEmail" placeholder="Fit type" type="text" class="form-control">
                      </div> -->
                  <div class="position-relative form-group mt-5">
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#size" (click)="addClass();">Submit</button> -->
                    <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-warning btn-block btn-lg"
                      [disabled]="!mForm.valid" (click)="getMeasurementQuickSize();addClass();">Submit</button>
                  </div>

                </form>
              </div>

            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->



      </div>

      <div class="row mt-5">
       

        <!-- <div class="col-sm-12 mb-4">
        <label style="font-weight:bold">CHECK PINCODE FOR DELIVERY</label>
        <div class="row">
          <div class="col-sm-4">
              <input  id="exampleEmail" placeholder="" type="text" class="form-control">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger">Check</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
          <p><i class="fa fa-truck faicn"></i> Free shipping</p>
          <p><i class="fa fa-undo faicn"></i> Shop worry-free with our easy return policy</p>
          <p><i class="fa fa-credit-card faicn"></i> Check out easily with our multiple payment options</p>
      </div> -->
      </div>


    </div>
  </div>
</div>


<div id="size" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="myModalLabel" style="z-index: 99999;background: rgba(4, 9, 20, 0.5);">
  <div class="modal-dialog modal-lg" style="margin:auto">
    <div class="modal-content">

      <div class="modal-body vertical-middle">
        <div class="row mb-4">
          <div class="col-sm-12 text-center" *ngIf="sizes?.length>0">
            <h3 class="mb-3">Your recommended size</h3>
            <hr />
            <label>Apparel name : {{sizes[0].apparel_name}}</label><br />
            <label>Size : <b style="font-weight: 700;">{{sizes[0].size}}</b></label><br />
            <label>Fit type : {{sizes[0].fit}}</label>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary pull-right" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
