<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>

<div class="main-card mb-3 card" *ngIf="expired">
    <div class="card-header" style="color:red">Your subscription has expired</div>
    <div class="card-body">
            <p>Thank you for using Mirrorsize. Your subscription has expired and to continue using Mirrorsize, we recommend
                    you to upgrade
                    your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
                  <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
                    product features.</p>
                  <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
                  <p class="mb-0">Keep enjoying Mirrorsize.</p>
    </div>
    <div class="d-block text-right card-footer">
        <button routerLink="/upgradeplangm" class="btn btn-primary btn-lg">Upgrade</button>
    </div>
</div>


<div class="row" *ngIf="!expired" >
    <div class="col-sm-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row" style="margin:5px">
                    <div class="col-sm-122">
                        <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success">
                            <div style="font-size:1.2rem">
                                <h2 style="text-align:center;margin-top:5px">Instructions</h2>
                                <ul class="mb-3">
                                    <li>You can share this password with your customers to take measurement with Mirrorsize app.</li>
                                    <li>Customers need to enter the following credential to start the measurement process.</li>
                                    <li>Please request your remote customers to:</li>
                                    <ul class="mb-3">
                                        <li>Download “mirrorsize” mobile app from the respective play store (available on both IOS and Android platforms)</li>
                                        <li>Your customer need to enter the “email” and “password” as displayed on this screen (you may send the “email” and “password” information in advance to your customers)</li>
                                        <li>Once they complete the scan, their details will be displayed on your dashboard (“users”)</li>
                                        <li>You may also change the password by clicking on “update or get a new password”. Once you click the link, the old password will expire permanently and a new password will be generated.</li>
                                    </ul>
                                </ul>
                            </div>           
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content pt-3 pl-3 pb-1">
                                    <div class="widget-chart-flex">
                                        <div class="widget-numbers">
                                            <div class="widget-chart-flex">
                                                <div style="font-size:1.2rem">
                                                    <span><i class="fas fa-envelope-open-text icn"></i>&nbsp;&nbsp;Your Email is</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="widget-subheading mb-0 opacity-5 mb-2 ml-5">{{email}}</h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content pt-3 pl-3 pb-1">
                                    <div class="widget-chart-flex">
                                        <div class="widget-numbers">
                                            <div class="widget-chart-flex">
                                                <div style="font-size:1.2rem">
                                                    <span><i class="fas fa-unlock-alt icn"></i>&nbsp;Your current active password is</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="widget-subheading mb-0 opacity-5 mb-2 ml-5">{{accessCode}}</h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content pt-3 pl-3 pb-1">
                                    <div class="widget-chart-flex">
                                        <div class="widget-numbers">
                                            <div class="widget-chart-flex">
                                                <div style="font-size:1.2rem">
                                                    <span><i class="fas fa-key icn"></i>&nbsp; Update or get a new password</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="widget-subheading mb-0 opacity-5 mb-2 ml-5" (click)="updateAccessCode()" style="cursor:pointer;text-decoration: underline">click here</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">Your previous password</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                
                        <thead>
                            <th>S.No</th>
                            <th>Generated date</th>
                            <th>Expired date</th>
                            <th>Password</th>
                            <th>Status</th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let i of getAcceessCodeDetail;let k=index">
                                <td>{{k+1}}</td>
                                <td>{{i.createDate}}</td>
                                <td>{{i.expDate}}</td>
                                <td>{{i.accessCode}}</td>
                                <td>
                                    <span *ngIf="i.status=='EXPIRED'" class="expired">{{i.status}}</span>
                                    <span *ngIf="i.status!='EXPIRED'" class="act">{{i.status}}</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

