<div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
z-index: 999;background-color: black; opacity: 0.5;">
  <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
</div>


<div class="main-card mb-3 card" *ngIf="expired">
  <div class="card-header" style="color:red">Your subscription has expired</div>
  <div class="card-body">
    <p>Thank you for using Mirrorsize. Your subscription has expired and to continue using Mirrorsize, we recommend
      you to upgrade
      your plan now. Please choose a plan to upgrade to continue using your account. Your data is safe and secured and you will get full access to all your data after you upgrade and choose a plan.</p>
    <p class="mb-0">Once you upgrade, depending upon the plan you choose, you will get full access to all Mirrorsize
      product features.</p>
    <p class="mb-0">Should you need any help, please feel free to contact us or write to us at info@mirrorsize.com.</p>
    <p class="mb-0">Keep enjoying Mirrorsize.</p>
  </div>
  <div class="d-block text-right card-footer">
    <button routerLink="/upgradeplangm" class="btn btn-primary btn-lg">Upgrade</button>
  </div>
</div>

<div class="row" *ngIf="!expired">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Serach by">
          </div>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="searchKey">
              <option value="userName">User Name</option>
              <option value="mobileNo">Mobile Number</option>
              <option value="dateTime">Datetime (YYYY-MM-DD)</option>
            </select>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-primary btn-radius" style="letter-spacing: normal;text-transform: inherit" (click)="searchUser()">Search</button>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger btn-radius" style="letter-spacing: normal;text-transform: inherit" (click)="clear()">Clear</button>
          </div>
          <div class="col-sm-6" style="text-align:right">
            <button style="letter-spacing: normal;text-transform: inherit" class="mr-2 btn btn-link">Total Records Found <span class="badge badge-pill badge-success">
                {{userCount}}</span></button>
          </div>
        </div>
      </div>
    </div>

    <nav class="pagination-rounded">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </nav>

    <div class="main-card mb-3 card">
      <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">S.No</th>
              <th class="text-center">Name</th>
              <th class="text-center">Mobile No</th>
              <th class="text-center">Gender</th>
              <!-- <th class="text-center">Country</th> -->
              <th class="text-center">Fit Type</th>
              <th class="text-center">Date Time</th>
              <th class="text-center">
                Images <a href="#" data-target="#imageApproal" data-toggle="modal" (click)="addClass()" *ngIf="usersData[0]?.imageStatus=='Disagree'">Activate</a>
              </th>
              <th class="text-center">Detail</th>
              <th class="text-center">Approval</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of usersData;let i=index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">{{d.name}}</td>
              <td class="text-center">{{d.mobileNo}}</td>
              <td class="text-center">{{d.gender}}</td>
              <!-- <td class="text-center">{{d.country}}</td> -->
              <td class="text-center">{{d.fitType}}</td>
              <td class="text-center">{{d.dateTime}}</td>
              <td class="text-center">
                
                <button class="btn badg badg-warning" (click)="viewImages(d.frontImage,'Front Image');addClass()" [disabled]="d.imageStatus=='Disagree'">Front</button>
                /
                <button class="btn badg badg-danger" [disabled]="d.imageStatus=='Disagree'" (click)="viewImages(d.sideImage,'Side Image');addClass()">Side</button>
                
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-sm btn-radius" (click)="processIdData(d);addClass()">Details</button>
              </td>

              <td class="text-center">
                <select class="form-control btn-radius" [(ngModel)]="d.aprovalStatus"
                  [ngStyle]="{'color':d.aprovalStatus == 'PENDING' ? 'orange': d.aprovalStatus =='ACCEPT' ? 'green' :'red'}"
                  style="width:90%;margin:auto" (change)="getStatus($event,d)">
                  <option value="ACCEPT" style="color:green">Accept</option>
                  <option value="REJECT" style="color:red">Reject</option>
                  <option value="PENDING" style="color:orange" disabled>Pending</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="viewImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#d92550;color:#fff">
        <div class="row">
          <div class="col-sm-4">
            <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          </div>
          <div class="col-sm-8">
            <button class="bt" (click)="rotate()"><img src="assets/img/ref.svg" style="width:50%"></button>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true" style="color:#fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12" style="text-align:center">
            <img [src]="imgsrc" class="img" style="width: 650px;height: 550px;margin-top: 50px;margin-bottom:50px;">
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">

  <div *ngIf="showLoader" id="ajaxloader" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;
    z-index: 999;background-color: black; opacity: 0.5;">
    <img style="position: fixed; left: 50%; top: 50%; z-index: 9999;" src="assets/img/loader.gif" />
  </div>

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#d92550;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel">List of body measurement points of your user by apparel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true" style="color:#fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label class="switch">
              <input type="checkbox" id="togBtn" (change)="switchValue($event)">
              <div class="slider round">
                <span class="on">CM</span>
                <span class="off">IN</span>
              </div>
            </label>
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover"
            *ngIf="detailData?.length>0">
            <thead>
              <tr>
                <th class="text-center">S.No</th>
                <th class="text-center">Brand Name</th>
                <th class="text-center">Apparel Id</th>
                <th class="text-center">Measurement Points</th>
                <th>Report</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of detailData;let i=index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{d.brandName}}</td>
                <td class="text-center">{{d.apparelId}}</td>
                <td class="text-center">
                  <div *ngFor="let m of d.measurement">
                    <span class="badg badge-pill badg-primary mb-2" *ngIf="isChecked">{{m.displayName}} :
                      {{m.valueincm | number : '1.2-2'}}</span>
                    <span class="badg badge-pill badg-primary mb-2" *ngIf="!isChecked">{{m.displayName}} :
                      {{m.valueininch | number : '1.2-2'}}</span>
                  </div>
                </td>
                <td class="text-center"><a class="mb-2 mr-2 badg badg-warning" (click)="download(d)"><i
                      class="fa  fa-download" style="color:#fff"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="aproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notify User with the reason for Rejection</h5>  
          <button type="button" (click)="getUserList(1);closeModal()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
        </div>
       
        <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 mb-2">
                  <textarea type="text" rows="8" cols="5" class="form-control" [(ngModel)]="content" placeholder="Reason for rejection"></textarea>
                </div> 
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="changeAprovalWithnotification(content)">Submit</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="imageApproal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Approval for image</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                  <p class="mb-3">
                      <b>Licensee takes full ownership and responsibility of users pictures</b>: By subscribing to MS GetMeasured and asking for the pictures (Front and Side pose) of the user/(s) pictures, the licensee take full and complete responsibility for the protection and compliance of all laws governing copyright, moral rights, intellectual property rights and all other applicable statues, on the photographs of the users. As per general policy, Mirrorsize does not save user images unless specifically asked by Licensee and the Licensee take full ownership and responsibility of protection of all laws to ensure safety and security of the user photographs. By agreeing to this term, the Licensee takes full and complete responsibility of the photographs and agreeing to the fact that Mirrorsize (Mirrorsize US Inc.,) shall not have any liability whatsoever in respect of the photographs of the user.

                      If the Licensee decides not to get the photographs of their users, the Licensee must inform Mirrorsize immediately by writing to info@mirrorsize.com to deactivate this feature and Mirrorsize will act promptly to deactivate this feature within 6 (six) business days from the date of receiving such a request in writing from the Licensee.

                  </p>

                  <div class="custom-checkbox custom-control text-center mb-3"><input type="checkbox" [(ngModel)]="approval" id="exampleCustomCheckbox" class="custom-control-input"><label class="custom-control-label" for="exampleCustomCheckbox">I agree</label>
                  </div>

                  <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-sm" (click)="imageViewApproval();closeModal()">Submit</button>
                  </div>

                </div>
            </div>
        </div>
    </div>